{% if blockMetro %}
    <div class="row pt-50 pb-30">
        <div class="col-xs-12 col-sm-3 col-md-3 rs-mb" style="padding: 0px 5px 5px 5px;">
            <div class="list-item-image">
                <div class="image-inner">
                    <a class="" href="">
                        <img src="{{ asset(blockMetro.photo1) }}" alt="Image" style="width: 290px;height: 209px">
                        <div class="image-overlay">
                            <div class="overlay-content">
                                <div class="overlay-icon" style="border: none;"><i>{{ blockMetro.theme1 }}</i></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 xs-mb" style="padding: 0px 5px 5px 5px;">
            <div class="list-item-image">
                <div class="image-inner">
                    <a class="" href="{{ path('front_hoteltunisie_list',{theme:blockMetro.theme2.id}) }}">
                        <img src="{{ asset(blockMetro.photo2) }}" alt="Image" style="width: 290px;height: 209px">
                        <div class="image-overlay">
                            <div class="overlay-content">
                                <div class="overlay-icon" style="border: none;"><i>{{ blockMetro.theme2 }}</i></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 xs-mb" style="padding: 0px 5px 5px 5px;">
            <div class="list-item-image">
                <div class="image-inner">
                    <a class="" href="{{ path('front_hoteltunisie_list',{theme:blockMetro.theme3.id}) }}">
                        <img src="{{ asset(blockMetro.photo3) }}" alt="Image" style="width: 590px;height: 209px">
                        <div class="image-overlay">
                            <div class="overlay-content">
                                <div class="overlay-icon" style="border: none;"><i>{{ blockMetro.theme3 }}</i></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 rs-mb" style="padding: 5px 5px 5px 5px;">
            <div class="list-item-image">
                <div class="image-inner">
                    <a class="" href="{{ path('front_hoteltunisie_list',{theme:blockMetro.theme4.id}) }}">
                        <img src="{{ asset(blockMetro.photo4) }}" alt="Image" style="width: 290px;height: 209px">
                        <div class="image-overlay">
                            <div class="overlay-content">
                                <div class="overlay-icon" style="border: none;"><i>{{ blockMetro.theme4 }}</i></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 xs-mb" style="padding: 5px 5px 5px 5px;">
            <div style="width: 590px;height: 209px;background-color: #3C454E;    padding-top: 72px;  padding-left: 50px;">
                <h1 style="color: white;font-size: 60px;">{{ blockMetro.libelle }}</h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 xs-mb" style="padding: 5px 5px 5px 5px;">
            <div class="list-item-image">
                <div class="image-inner">
                    <a class="" href="{{ path('front_hoteltunisie_list',{theme:blockMetro.theme5.id}) }}">
                        <img src="{{ asset(blockMetro.photo5) }}" alt="Image" style="width: 290px;height: 209px">
                        <div class="image-overlay">
                            <div class="overlay-content">
                                <div class="overlay-icon" style="border: none;"><i>{{ blockMetro.theme5 }}</i></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 xs-mb" style="padding: 5px 5px 5px 5px;">
            <div class="list-item-image">
                <div class="image-inner">
                    <a class="" href="{{ path('front_hoteltunisie_list',{theme:blockMetro.theme6.id}) }}">
                        <img src="{{ asset(blockMetro.photo6) }}" alt="Image" style="width: 590px;height: 209px">
                        <div class="image-overlay">
                            <div class="overlay-content">
                                <div class="overlay-icon" style="border: none;"><i>{{ blockMetro.theme6 }}</i></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 rs-mb" style="padding: 5px 5px 5px 5px;">
            <div class="list-item-image">
                <div class="image-inner">
                    <a class="" href="{{ path('front_hoteltunisie_list',{theme:blockMetro.theme7.id}) }}">
                        <img src="{{ asset(blockMetro.photo7) }}" alt="Image" style="width: 290px;height: 209px">
                        <div class="image-overlay">
                            <div class="overlay-content">
                                <div class="overlay-icon" style="border: none;"><i>{{ blockMetro.theme7 }}</i></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 xs-mb" style="padding: 5px 5px 5px 5px;">
            <div class="list-item-image">
                <div class="image-inner">
                    <a class="" href="{{ path('front_hoteltunisie_list',{theme:blockMetro.theme8.id}) }}">
                        <img src="{{ asset(blockMetro.photo8) }}" alt="Image" style="width: 290px;height: 209px">
                        <div class="image-overlay">
                            <div class="overlay-content">
                                <div class="overlay-icon" style="border: none;"><i>{{ blockMetro.theme8 }}</i></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}