{% extends "BackProgrammeBundle:programme:liste.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)">{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackProgrammeBundle:programme:menu.html.twig' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-4","Libellé",form.libelle,true) }}
                            {{ formulaire.input("col-md-4","Départ",form.depart,false) }}
                            {{ formulaire.input("col-md-4","Retour",form.retour,false) }}
                        </div>  <div class="row">
                            {{ formulaire.input("col-md-3","Prix Adulte Achat",form.prixAdulteAchat,false) }}
                            {{ formulaire.input("col-md-3","Prix Enfant Achat",form.prixEnfantAchat,false) }}
                            {{ formulaire.input("col-md-3","Prix Adulte Vente",form.prixAdulteVente,false) }}
                            {{ formulaire.input("col-md-3","Prix Enfant Vente",form.prixEnfantVente,false) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-2","Insc. initiale",form.nombreInscriptionInitiale,true) }}
                            {{ formulaire.input("col-md-2","Min Insc.",form.min,true) }}
                            {{ formulaire.input("col-md-2","Max Insc.",form.max,true) }}
                            {{ formulaire.input("col-md-3","Debut Insc.",form.debutInscription,false) }}
                            {{ formulaire.input("col-md-3","Fin Insc.",form.finInscription,false) }}
                        </div>
                        {{ formulaire.submit("Enregistrer") }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width table-condensed table-hover">
                        <thead>
                        <tr>
                            <th rowspan="3">#</th>
                            <th rowspan="3">Libellé</th>
                            <th rowspan="3">Insc. ini</th>
                            <th rowspan="3">Insc.</th>
                            <th colspan="4" class="center">Prix</th>
                            <th rowspan="3">Période</th>
                            <th rowspan="3">Min-Max</th>
                            <th rowspan="3">Debut-Fin inscription</th>
                            <th rowspan="3">Supp</th>
                            <th rowspan="3" class="center">Action</th>
                        </tr>
                        <tr>
                            <td colspan="2" class="center">Adulte</td>
                            <td colspan="2" class="center">Enfant</td>
                        </tr>
                        <tr>
                            <td>Achat</td>
                            <td>Vente</td>
                            <td>Achat</td>
                            <td>Vente</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for periode in programme.periodes %}
                            <tr>
                                <td>{{ periode.id }}</td>
                                <td>{{ periode.libelle }}</td>
                                <td>{{ periode.nombreInscriptionInitiale }}</td>
                                <td>{{ periode.nombreInscription }}</td>
                                <td>{{ periode.prixAdulteAchat }}</td>
                                <td>{{ periode.prixAdulteVente }}</td>
                                <td>{{ periode.prixEnfantAchat }}</td>
                                <td>{{ periode.prixEnfantVente }}</td>
                                <td>{{ periode.depart|date('d/m/Y') }} - {{ periode.retour|date('d/m/Y') }}</td>
                                <td>{{ periode.min }} - {{ periode.max }}</td>
                                <td>{{ periode.debutInscription|date('d/m/Y') }} - {{ periode.finInscription|date('d/m/Y') }}</td>
                                <td>{% for supp in periode.supplements %}- {{ supp }}<br>{% endfor %}</td>
                                <td class="TableAction">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        {{ macros.tableEdit(path('back_programme_periode',{'programme':programme.id,'id':periode.id})) }}
                                        {{ macros.tableDelete(path('back_programme_periode_delete',{'id':periode.id})) }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}