{% extends "BackProgrammeBundle:programme:liste.html.twig" %}
{% block title %}Photos{% endblock %}
{% block description %}Gestion des photos{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)">Photos</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackProgrammeBundle:programme:menu.html.twig' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{ form_start(form) }}
                                        <div class="row">
                                            {{ formulaire.file("col-md-4","File",form.file,true) }}
                                            {{ formulaire.input("col-md-2","Type",form.type,true) }}
                                            {{ formulaire.input("col-md-2","Ordre",form.ordre,false) }}
                                            {{ formulaire.input("col-md-2","",form.visible,false) }}
                                        </div>
                                        {{ formulaire.submit("Enregistrer") }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for photo in programme.photos %}
                                <div class="col-md-2 col-sm-4 gallery-img">
                                    <div class="wrap-image">
                                        <a class="group1 cboxElement" href="javascript:void(0)">
                                            <img src="{{ asset(asset(photo.getAssetPath)) }}" class="img-responsive">
                                        </a>
                                        <div class="tools tools-bottom">
                                            <a href="{{ path('back_programme_photo_delete',{'id':photo.id}) }}" onclick="javascript:return(confirm('Etes-vous certain de vouloir supprimer cette photo ?'))">
                                                <i class="clip-close-2"></i>
                                                {{ photo.showType }}, Ordre : {{ photo.ordre }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}