{% extends ":Back:base.html.twig" %}
{% block title %}Gestion des programmes{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)">{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackProgrammeBundle:programme:menu.html.twig' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-3","Libellé",form.libelle,true) }}
                            {{ formulaire.input("col-md-3","Prix",form.prix,true) }}
                            {{ formulaire.select2("col-md-6","Themes",form.themes,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-12","Description Courte",form.descriptionCourte,true) }}
                        </div>
                        {{ formulaire.submit("Enregistrer") }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}