{% extends ":Front:base.html.twig" %}
{% block title %}Hôtel en tunisie{% endblock %}
{% block body %}
    <div id="page_title">
	<div class="container clearfix">
	    <div class="page-name">{{ block('title') }}</div>
	    <div class="breadcrumb clearfix">
		<a href="{{ path('accueil') }}">Accueil</a>
		<span class="current-page">{{ block('title') }}</span>
	    </div>
	</div>
    </div>
    <div id="slider_wrapper">
	<div class="owl-slider-wrapper center-capture">
	    <div id="owl-slider" class="owl-carousel owl-theme">
		{% for slider in sliders %}
		    <div class="item">
			<img class="lazyOwl" data-src="{{ asset(slider.assetPath) }}" alt="Image" style="width: 1350px;height: 560px">
			<div class="owl-capture">
			    <p class="owl-price">{{ slider.titre1 }}</p>
			    <h2><a href="{{ slider.url }}" class="right-capture">{{ slider.titre2 }}</a></h2>
			    <p>{{ slider.titre3 }}</p>
			</div>
		    </div>
		{% endfor %}
	    </div>
	    <div class="owlSliderNavigation">
		<a class="owlSlider-prev"><i class="arrow_carrot-left_alt2"></i></a>
		<a class="owlSlider-next"><i class="arrow_carrot-right_alt2"></i></a>
	    </div>
	</div>
    </div>

    <div id="content_wrapper">
	<div class="container">
	    <div class="travel-search">
		<div class="travel-search-inner">
		    <ul class="tabs searchTab">
			<li><a href="#hotelsSearch" class="active"><span class="hotel mi"></span>Hôtels en tunisie</a></li>
		    </ul><!-- tabs -->
		    <ul class="tabs-content">
			<li id="hotelsSearch" class="active">
			    <form role="form" class="row" method="post" action="{{ path('front_hoteltunisie_accueil') }}">
				<div class="col-xs-12 col-sm-3 col-md-2">
				    <div class="form-group">
					<label for="hotelLocation">Ville de destination</label>
					<select class="form-control mySelectBoxClass" name="ville" id="VilleDestination">
					    <option value="all">Tous les villes</option>
					    {% for ville in villes %}
						<option value="{{ ville.id }}">{{ ville }}</option>
					    {% endfor %}
					</select>
				    </div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-2">
				    <div class="form-group">
					<label for="hotelLocation">Catégorie</label>
					<select class="form-control mySelectBoxClass" name="categorie" id="Categorie">
					    <option value="all">Tous les carégories</option>
					    {% for categorie in categories %}
						<option value="{{ categorie.id }}">{{ categorie }}</option>
					    {% endfor %}
					</select>
				    </div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-2">
				    <div class="form-group datepicker-wrapper">
					<label for="hotel-check-in">Date d'entrée</label>
					<input type="text" class="form-control date" value="{{ 'now'|date_modify("+1 day")|date("Y-m-d") }}" id="hotel-check-in" name="dateDebut" placeholder="yyyy-mm-dd">
					<i class="fa fa-calendar"></i>
				    </div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-2">
				    <div class="form-group datepicker-wrapper">
					<label for="hotel-check-out">Nbr Nuitées</label>
					<input type="number" name="nuitees" min="1" value="1" class="form-control" id="NbrNuitee">
				    </div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-2">
				    <div class="form-group datepicker-wrapper">
					<label for="hotel-check-out">Mot clès</label>
					<input type="text" class="form-control" id="MotCles" name="motcles">
				    </div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-2">
				    <div class="clear"></div>
				    <button type="submit" class="btn btn-primary btn-block">Recherche</button>
				</div>
			    </form>
			</li>
		    </ul>
		</div>
	    </div>
	    {% if hotels|length>3 %}
		<div class="clear"></div>
		<div class="row clearfix pv-30 mt-20">
		    <div class="col-xs-12 col-sm-12 col-md-12 product-3">
			<h3 class="section-title mb-30">Top promos hôtels en tunisie</h3>
			<div class="hot-deal-wrapper">
			    <div class="hotDeal1Navigation">
				<a class="hotDeal1-prev"><i class="icon icon-left-open-big"></i></a>
				<a class="hotDeal1-next"><i class="icon icon-right-open-big"></i></a>
			    </div>

			    <div id="hot-deal-1" class="owl-carousel items-container small-grid">
				{% for hotel in hotels %}
				    {% set saison = hotel.getSaisonPromotionByDate(app.request.session.get('dateDebut')) %}
				    {% if saison.type==2 %}
					<div class="item">
					    <div class="list-item">
						<div class="list-item-image">
						    <div class="image-inner">
							<div class="list-item-price" style="z-index:9;  font-size: 15px;  right: 26px;  top: 60px;  background: red;  color: #FFF;  padding: 3px;  width: 90%;  text-align: center;">
							    {{ saison }}
							</div>
							<a class="link-image" href="{{ path('front_hoteltunisie_details',{'slug':hotel.slug}) }}">
							    {% if hotel.photoPrincipal is not null %}
								<img src="{{ asset(hotel.photoPrincipal.assetPath) }}" alt="" style="width: 278px;height: 195px" />
							    {% else %}
								<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=No%20image%20available&w=278&h=195" alt="" />
							    {% endif %}
							    <div class="image-overlay">
								<div class="overlay-content">
								    <div class="overlay-icon"><i class="icon_link"></i></div>
								</div>	
							    </div>
							</a>	
						    </div>
						</div><!-- end list-item -->
						<div class="list-item-label">
						    <h4 class="list-item-title"><a href="{{ path('front_hoteltunisie_details',{'slug':hotel.slug}) }}" class="inverse">{{ hotel|title }}</a></h4>
						    <div class="list-item-meta">
							{{ getStars(hotel.getStars)|raw }}
						    </div>
						    <div class="list-item-details">
							{% if  hotel.descriptionCourte|length >80 %}
							    {{ hotel.descriptionCourte|slice(0, 80)|raw }} ...
							{% else %}
							    {{ hotel.descriptionCourte|raw }}
							{% endif %}
						    </div>
						    <div class="clear"></div>
						    <a href="{{ path('front_hoteltunisie_details',{'slug':hotel.slug}) }}" class="btn btn-block">Détails</a>
						</div>
					    </div>
					</div>
				    {% endif %}
				{% endfor %}
			    </div>
			</div>
		    </div>
		    <div class="clear"></div>
		</div>
		<div class="gr-style"></div>
	    {% endif %}
	</div>
	{% if true %}
	    <footer>
		<div class="primary-footer">
		    <div class="container">
			<div class="row pt-50 pb-30">
			    <div class="col-xs-12 col-sm-3 col-md-3 rs-mb" style="padding: 0px 5px 5px 5px;">
				<div class="list-item-image">
				    <div class="image-inner">
					<a class="" href="page-details.html">
					    <img src="{{ asset('front-assets/images/list-items/top-destination-05.jpg') }}" alt="Image">
					    <div class="image-overlay">
						<div class="overlay-content">
						    <div class="overlay-icon" style="border: none;"><i>Thème 1</i></div>
						</div>	
					    </div>
					</a>	
				    </div>
				</div>
			    </div>
			    <div class="col-xs-12 col-sm-3 col-md-3 xs-mb" style="padding: 0px 5px 5px 5px;">
				<div class="list-item-image">
				    <div class="image-inner">
					<a class="" href="page-details.html">
					    <img src="{{ asset('front-assets/images/list-items/top-destination-06.jpg') }}" alt="Image">
					    <div class="image-overlay">
						<div class="overlay-content">
						    <div class="overlay-icon" style="border: none;"><i>Thème 2</i></div>
						</div>	
					    </div>
					</a>	
				    </div>
				</div>
			    </div>
			    <div class="col-xs-12 col-sm-6 col-md-6 xs-mb" style="padding: 0px 5px 5px 5px;">
				<div class="list-item-image">
				    <div class="image-inner">
					<a class="" href="page-details.html">
					    <img src="http://www.jettours.com/fileadmin/image/idea-box/450x220_noces.jpg" style="width: 100%;height: 209px;">
					    <div class="image-overlay">
						<div class="overlay-content">
						    <div class="overlay-icon" style="border: none;"><i>Thème 3</i></div>
						</div>	
					    </div>
					</a>	
				    </div>
				</div>
			    </div>
			    <div class="col-xs-12 col-sm-3 col-md-3 rs-mb" style="padding: 5px 5px 5px 5px;">
				<div class="list-item-image">
				    <div class="image-inner">
					<a class="" href="page-details.html">
					    <img src="{{ asset('front-assets/images/list-items/top-destination-07.jpg') }}" alt="Image">
					    <div class="image-overlay">
						<div class="overlay-content">
						    <div class="overlay-icon" style="border: none;"><i>Thème 4</i></div>
						</div>	
					    </div>
					</a>	
				    </div>
				</div>
			    </div>
			    <div class="col-xs-12 col-sm-6 col-md-6 xs-mb" style="padding: 5px 5px 5px 5px;">
				<img src="{{ asset('front-assets/images/blockidees/thematique_hotels.jpg') }}" style="width: 100%;height: 209px;">
			    </div>
			    <div class="col-xs-12 col-sm-3 col-md-3 xs-mb" style="padding: 5px 5px 5px 5px;">
				<div class="list-item-image">
				    <div class="image-inner">
					<a class="" href="page-details.html">
					    <img src="{{ asset('front-assets/images/list-items/top-destination-04.jpg') }}" alt="Image">
					    <div class="image-overlay">
						<div class="overlay-content">
						    <div class="overlay-icon" style="border: none;"><i>Thème 5</i></div>
						</div>	
					    </div>
					</a>	
				    </div>
				</div>
			    </div>
			    <div class="col-xs-12 col-sm-6 col-md-6 xs-mb" style="padding: 5px 5px 5px 5px;">
				<div class="list-item-image">
				    <div class="image-inner">
					<a class="" href="page-details.html">
					    <img src="http://www.jettours.com/fileadmin/image/idea-box/450x220_sport.jpg" style="width: 100%;height: 209px;">
					    <div class="image-overlay">
						<div class="overlay-content">
						    <div class="overlay-icon" style="border: none;"><i>Thème 6</i></div>
						</div>	
					    </div>
					</a>	
				    </div>
				</div>
			    </div>
			    <div class="col-xs-12 col-sm-3 col-md-3 rs-mb" style="padding: 5px 5px 5px 5px;">
				<div class="list-item-image">
				    <div class="image-inner">
					<a class="" href="page-details.html">
					    <img src="{{ asset('front-assets/images/list-items/top-destination-03.jpg') }}" alt="Image">
					    <div class="image-overlay">
						<div class="overlay-content">
						    <div class="overlay-icon" style="border: none;"><i>Thème 7</i></div>
						</div>	
					    </div>
					</a>	
				    </div>
				</div>
			    </div>
			    <div class="col-xs-12 col-sm-3 col-md-3 xs-mb" style="padding: 5px 5px 5px 5px;">
				<div class="list-item-image">
				    <div class="image-inner">
					<a class="" href="page-details.html">
					    <img src="{{ asset('front-assets/images/list-items/top-destination-02.jpg') }}" alt="Image">
					    <div class="image-overlay">
						<div class="overlay-content">
						    <div class="overlay-icon" style="border: none;"><i>Thème 8</i></div>
						</div>	
					    </div>
					</a>	
				    </div>
				</div>
			    </div>


			</div>

		    </div>
		</div>
	    </footer>
	{% endif %}
    </div>
{% endblock %}