{% extends "BackHotelTunisieBundle:referentiel/reduction:liste.html.twig" %}
{% block title %}Gestion des réductions{% endblock %}
{% block description %}Modifier une réduction{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >{{ reduction.libelle }}</a>
    </li>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ path('modif_reduction',{'id':reduction.id}) }}" method="post" role="form" id="form">
                        {{ form_widget(form._token) }}
                        <div class="row">
                            {{ formulaire.input("col-md-3","Libellé",form.libelle,true) }}
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        Date debut
                                    </label>
                                    <div class="row">
                                        <div class="col-md-5">{{ form_widget(form.jourDebut)  }}</div>
                                        <div class="col-md-5">{{ form_widget(form.moisDebut)  }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Date fin
                                    </label>
                                    <div class="row">
                                        <div class="col-md-5">{{ form_widget(form.jourFin)  }}</div>
                                        <div class="col-md-5">{{ form_widget(form.moisFin)  }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="row">    
                            {{ formulaire.input("col-md-2","",form.parNuit,false) }}
                            {{ formulaire.input("col-md-2","",form.parChambre,false) }}
                        </div>
                        {{ formulaire.submit("Modifier") }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}