{% extends "BackHotelTunisieBundle:hotels:liste.html.twig" %}
{% block title %}{{ hotel.libelle }}{% endblock %}
{% block description %}Saison de base{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="{{ path('modif_hotel',{'id':hotel.id}) }}" >{{ hotel.libelle }}</a>
    </li>
    <li>
        <a href="javascript:void(0)" >Saison de base</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackHotelTunisieBundle:Hotels:menu_hotel.html.twig' %}
                <div class="panel panel-default">
                    <div class="tabbable">
                        {% include 'BackHotelTunisieBundle:Hotels:menu_saison.html.twig' %}
                        <div class="panel-body tab-content">
                            <div class="panel-body">
                                <h2 class="center"> Saison de base </h2>
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <strong>Convention de base (chambre double avec {{ hotel.saisonBase.arrBase }})</strong>
                                            <ul>
                                                <li>
                                                    Prix Achat : {{ hotel.saisonBase.prixBaseAchat }} 
                                                </li>
                                                <li>
                                                    Prix Vente : {{ hotel.saisonBase.prixBaseVente }} 
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>Arrangements</strong>
                                            <ul>
                                                {% for saisonArr in hotel.saisonBase.arrangements  %}
                                                    <li>
                                                        <strong>{{ saisonArr.arrangement }}</strong>
                                                        <ul>
                                                            <li>
                                                                Prix Achat : {{ saisonArr.getReducSuppAchat }} 
                                                            </li>
                                                            <li>
                                                                Prix Vente : {{ saisonArr.getReducSuppVente }} 
                                                            </li>
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>Supplements </strong>
                                            <ul>
                                                <li>
                                                    <strong>Supp. Single</strong>
                                                    <ul>
                                                            <li>
                                                                Prix Achat : {{ hotel.saisonBase.saisonSupp.getSuppSingleAchat }}
                                                            </li>
                                                            <li>
                                                                Prix Vente : {{ hotel.saisonBase.saisonSupp.getSuppSingleVente }}
                                                            </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <strong>Supp. 3<sup>eme</sup> Lit</strong>
                                                    <ul>
                                                            <li>
                                                                Prix Achat : {{ hotel.saisonBase.saisonSupp.getSupp3LitAchat }}
                                                            </li>
                                                            <li>
                                                                Prix Vente : {{ hotel.saisonBase.saisonSupp.getSupp3LitVente }}
                                                            </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}