{% extends ":Back:base.html.twig" %}
{% block title %}Générer tarif hôtels{% endblock %}
{#{% block description %}Ajouter un hotel{% endblock %}#}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="{{ path('generer_tarif_hotels') }}">Générer tarif hôtels</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        {{ formulaire.input("col-md-3","Date début",form.debut,true) }}
                        {{ formulaire.input("col-md-3","Date fin",form.fin,true) }}
                        {{ formulaire.input("col-md-4","Amicale",form.amicale,false) }}
                    </div>
                    {{ formulaire.submit("Générer") }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}