{% extends ":Back:base.html.twig" %}
{% block title %}Liste des hotels{% endblock %}
{% block description %}Liste{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="{{ path('list_hotels') }}" >Hotels</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nombre d'hôtels : {{ hotels.getTotalItemCount }}
                    <div class="panel-tools">
                        <a class="btn btn-xs btn-link" href="{{ path('ajout_hotel') }}"> <i class="fa fa-plus"></i> Ajouter un nouveau</a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="center">ID</th>
                                <th class="center">Libellé</th>
                                <th class="center">Catégorie</th>
                                <th class="center">Ville</th>
                                <th class="center">Fournisseur</th>
                                <th class="center">Photos</th>
                                <th class="center">Stop sales</th>
                                <th class="center">Saison Courante</th>
                                <th class="center">Remarques</th>
                                <th class="center" >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hotel in hotels %}
                                <tr class="center">
                                    <td>{{ hotel.id }}</td>
                                    <td>{{ hotel.libelle|title }}</td>
                                    <td> {{ getStars(hotel.getStars)|raw }}</td>
                                    <td>{{ hotel.ville.pays|upper }} {{ hotel.ville }}</td>
                                    <td>{{ hotel.fournisseur }}</td>
                                    <td>{{ hotel.images|length }}</td>
                                    <td>{{ hotel.stopSales|length }}</td>
                                    <td>
                                        {% set saison=hotel.getSaisonByDate('now'|date('Y-m-d')) %}
                                        {% if saison is not null %}
                                            <a href="{% if saison.type is null %}{{ path('saison_base',{'id':hotel.id}) }}{% else %}{{ path('GeneralSaison',{'id':saison.id}) }}{% endif %}">
                                                <span class="label label-sm {% if saison.type == 1 %}label-inverse{% elseif saison.type==2 %}label-teal{% else %}label-warning{% endif %}  ">
                                                    {{ saison }}
                                                </span>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if hotel.getEtat == true %}
                                            <a href="{{ path('change_etat',{'id':hotel.id,'etat':0}) }}" class="tooltips" title="Cliquez ici pour désactiver l'hôtel" ><span class="label label-sm label-success">Active</span></a>
                                        {% else %} 
                                            <a href="{{ path('change_etat',{'id':hotel.id,'etat':1}) }}" class="tooltips" title="Cliquez ici pour activer l'hôtel" ><span class="label label-sm label-danger">Inactive</span></a>
                                        {% endif %}
                                        {% if hotel.ficheTechnique is null %}
                                            <a href="{{ path('fiche_technique',{'id':hotel.id}) }}" class="tooltips" title="Fiche technique est vide"><span class="label label-sm label-danger">FT Invalide</span></a>
                                        {% endif %}
                                        {% if hotel.saisonBase is null or not hotel.saisonBase.isValidSaisonBase %}
                                            <a href="{{ path('saison_base',{'id':hotel.id}) }}" class="tooltips" title="Saison de base est Invalide"><span class="label label-sm label-danger">SB Invalide</span></a>
                                        {% endif %}
                                        {% if hotel.isInStopSales is not null %}
                                            <a href="{{ path('stopsales_hotel',{'id':hotel.id}) }}" class="tooltips" title="Vous ètes dans une période de stop sales"><span class="label label-sm label-danger">{{ hotel.isInStopSales.libelle }}</span></a>
                                        {% endif %}
                                    </td>
                                    <td class="TableAction">
                                        {{ macros.tableEdit(path('modif_hotel',{'id':hotel.id})) }}
                                        {{ macros.tableDelete(path('supprimer_hotel',{'id':hotel.id})) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(hotels) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}