{% if hotel.saisonBase is not null %}
    <ul id="myTab2" class="nav nav-tabs tab-padding tab-space-3">
        <li {% if app.request.get('_route')=='saison_base' %}class="active"{% endif %}>
            <a href="{{ path("saison_base",{'id':hotel.id}) }}">
                Info générale
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_chambres' %}class="active"{% endif %}>
            <a href="{{ path("saison_chambres",{'id':hotel.id}) }}">
                Occ. chambres 
                {% if hotel.saisonBase.chambres|length != hotel.chambres|length %}
                    <span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i></span>
                    {% endif %}
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_arrangements' %}class="active"{% endif %}>
            <a href="{{ path("saison_arrangements",{'id':hotel.id}) }}">
                Arrangements 
                {% if hotel.saisonBase.arrangements|length+1 !=hotel.arrangements|length %}
                    <span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i></span>
                    {% endif %}
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_reduction' %}class="active"{% endif %}>
            <a href="{{ path("saison_reduction",{'id':hotel.id}) }}">
                Réductions
                {% if hotel.saisonBase.saisonReduc is null%}
                    <span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i></span>
                    {% endif %}
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_supplement' %}class="active"{% endif %}>
            <a href="{{ path("saison_supplement",{'id':hotel.id}) }}">
                Supplément
                {% if hotel.saisonBase.saisonSupp is null%}
                    <span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i></span>
                    {% endif %}
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_supp_chambres' %}class="active"{% endif %}>
            <a href="{{ path("saison_supp_chambres",{'id':hotel.id}) }}">
                Supp. autres chambres
                {% if hotel.saisonBase.suppChambres|length != hotel.getCountAutresChambres %}
                    <span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i></span>
                    {% endif %}
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_vues' %}class="active"{% endif %}>
            <a href="{{ path("saison_vues",{'id':hotel.id}) }}">
                Supp. vues
                {% if hotel.saisonBase.vues|length != hotel.vues|length  %}
                    <span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i></span>
                    {% endif %}
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_autres_supp' %}class="active"{% endif %}>
            <a href="{{ path("saison_autres_supp",{'id':hotel.id}) }}">
                Autres supp
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_autres_reduc' %}class="active"{% endif %}>
            <a href="{{ path("saison_autres_reduc",{'id':hotel.id}) }}">
                Autres réduc
            </a>
        </li>
        {% if hotel.ficheTechnique.tarifWeekend == true%}
            <li {% if app.request.get('_route')=='saison_weekend' %}class="active"{% endif %}>
                <a href="{{ path("saison_weekend",{'id':hotel.id}) }}">
                    Weekend
                    {% if hotel.saisonBase.saisonWeekend is null%}
                        <span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i></span>
                        {% endif %}
                </a>
            </li>
        {% endif %}
        <li {% if app.request.get('_route')=='saison_autres_reduc' %}class="active"{% endif %}>
            <a href="{{ path("saison_autres_reduc",{'id':hotel.id}) }}">
                Autres réduc
            </a>
        </li>
        {% if hotel.saisonBase.isValidSaisonBase %}
        <li {% if app.request.get('_route')=='fiche_saison_base' %}class="active"{% endif %}>
            <a href="{{ path("fiche_saison_base",{'id':hotel.id}) }}">
                Fiche
            </a>
        </li>
        {% endif %}
    </ul>
{% endif %}