<ul id="myTab" class="nav nav-tabs tab-bricky">
    <li {% if app.request.get('_route')=='modif_hotel' %}class="active"{% endif %}>
        <a href="{{ path("modif_hotel",{'id':hotel.id}) }}">
            <i class="green fa fa-home"></i> {{ hotel.libelle }}
        </a>
    </li>
    <li {% if app.request.get('_route')=='fiche_technique' %}class="active"{% endif %}>
        <a href="{{ path("fiche_technique",{'id':hotel.id}) }}">
            Fiche téchnique {% if hotel.ficheTechnique is null %}<span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i>{% endif %}
        </a>
    </li>
    <li {% if app.request.get('_route') in ['saison_base','saison_chambres','saison_reduction','saison_arrangements','saison_supp_chambres','saison_vues','saison_supplement','saison_weekend','saison_autres_supp','saison_autres_reduc'] %}class="active"{% endif %}>
        <a href="{{ path("saison_base",{'id':hotel.id}) }}">
            Saison de base {% if hotel.saisonBase is null or hotel.saisonBase.isValidSaisonBase == false %}<span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i>{% endif %}
        </a>
    </li>
    {% if hotel.saisonBase is not null and hotel.saisonBase.isValidSaisonBase %}
        <li {% if app.request.get('_route') in ['liste_saison','PeriodeSaison'] %}class="active"{% endif %}>
            <a href="{{ path('liste_saison',{'id':hotel.id}) }}">
                Saisons ({{ hotel.saisons|length }})
            </a>
        </li>
        <li {% if app.request.get('_route') in ['generer_saison'] %}class="active"{% endif %}>
            <a href="{{ path('generer_saison',{'id':hotel.id}) }}" title="ajouter une saison">
                +
            </a>
        </li>
    {% endif %}
</ul>