{% extends "BackHotelTunisieBundle:hotels:liste.html.twig" %}
{% block title %}{{ hotel.libelle }}{% endblock %}
{% block description %}Modification{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >{{ hotel.libelle }} </a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackHotelTunisieBundle:Hotels:menu_hotel.html.twig' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="{{ path('modif_hotel',{'id':hotel.id}) }}" method="post" role="form" id="form">
                            {{ form_widget(form._token) }}
                            <div class="row">
                                {{ formulaire.input("col-md-3","Libellé",form.libelle,true) }}
                                {{ formulaire.select2("col-md-3","Catégorie",form.categorie,true) }}
                                {{ formulaire.select2("col-md-3","Chaine hôtelier",form.chaine,true) }}
                                {{ formulaire.select2("col-md-3","Fournisseur",form.fournisseur,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.select2("col-md-3","Ville",form.ville,true) }}
                                {{ formulaire.input("col-md-3","Longitude",form.longitude,true) }}
                                {{ formulaire.input("col-md-3","Latitude",form.latitude,true) }}
                                {{ formulaire.input("col-md-3","Adresse",form.adresse,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.select2("col-md-6","Tags",form.tags,true) }}
                                {{ formulaire.select2("col-md-6","Chambres",form.chambres,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.select2("col-md-6","Options",form.options,true) }}
                                {{ formulaire.select2("col-md-6","Localisations",form.localisations,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.select2("col-md-6","Themes",form.themes,true) }}
                                {{ formulaire.select2("col-md-6","Arrangements",form.arrangements,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.select2("col-md-6","Amenagements",form.amenagements,true) }}
                                {{ formulaire.select2("col-md-6","Vues",form.vues,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.input("col-md-12","Description courte",form.descriptionCourte,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.input("col-md-12","Description longue",form.descriptionLongue,true) }}
                            </div>
                            {{ formulaire.submit("Modifier") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}