{% extends "BackHotelTunisieBundle:hotels:liste.html.twig" %}
{% block title %}{{ hotel.libelle }}{% endblock %}
{% block description %}Saison de base{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="{{ path('modif_hotel',{'id':hotel.id}) }}" >{{ hotel.libelle }}</a>
    </li>
    <li>
        <a href="javascript:void(0)" >Saison de base</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackHotelTunisieBundle:Hotels:menu_hotel.html.twig' %}
                <div class="panel panel-default">
                    <div class="tabbable">
                        {% include 'BackHotelTunisieBundle:Hotels:menu_saison.html.twig' %}
                        <div class="panel-body tab-content">
                            <form action="{{ path('saison_reduction',{'id':hotel.id}) }}" method="post" role="form" id="formDisable">
                                {{ form_widget(form._token) }}
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-2">Valeur [{{ hotel.ficheTechnique.min1AgeEnfant }} .. {{ hotel.ficheTechnique.max1AgeEnfant }}]</div>
                                    <div class="col-md-4">Valeur [{{ hotel.ficheTechnique.min2AgeEnfant }} .. {{ hotel.ficheTechnique.max2AgeEnfant }}]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">1<sup>er</sup> enfant avec 1 adulte dans une même chambre</div>
                                    {{ formulaire.input("col-md-2","",form.val1Enfant1Adulte1,false) }}
                                    {{ formulaire.input("col-md-2","",form.val1Enfant1Adulte2,false) }}
                                    {{ formulaire.input("col-md-2","",form.pour1Enfant1Adulte,false) }}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">1<sup>er</sup> enfant avec 2 adultes ou plus dans une même chambre</div>
                                    {{ formulaire.input("col-md-2","",form.val1Enfant2Adulte1,false) }}
                                    {{ formulaire.input("col-md-2","",form.val1Enfant2Adulte2,false) }}
                                    {{ formulaire.input("col-md-2","",form.pour1Enfant2Adulte,false) }}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">1<sup>er</sup> enfant dans une chambre séparée</div>
                                    {{ formulaire.input("col-md-2","",form.val1EnfantSepare1,false) }}
                                    {{ formulaire.input("col-md-2","",form.val1EnfantSepare2,false) }}
                                    {{ formulaire.input("col-md-2","",form.pour1EnfantSepare,false) }}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">2<sup>eme</sup> enfant ou plus avec 1 adulte dans une même chambre</div>
                                    {{ formulaire.input("col-md-2","",form.val2Enfant1Adulte1,false) }}
                                    {{ formulaire.input("col-md-2","",form.val2Enfant1Adulte2,false) }}
                                    {{ formulaire.input("col-md-2","",form.pour2Enfant1Adulte,false) }}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">2<sup>eme</sup> enfant ou plus avec 2 adultes ou plus dans une même chambre</div>
                                    {{ formulaire.input("col-md-2","",form.val2Enfant2Adulte1,false) }}
                                    {{ formulaire.input("col-md-2","",form.val2Enfant2Adulte2,false) }}
                                    {{ formulaire.input("col-md-2","",form.pour2Enfant2Adulte,false) }}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">2<sup>eme</sup> enfant ou plus dans une chambre séparée</div>
                                    {{ formulaire.input("col-md-2","",form.val2EnfantOuPlusSepare1,false) }}
                                    {{ formulaire.input("col-md-2","",form.val2EnfantOuPlusSepare2,false) }}
                                    {{ formulaire.input("col-md-2","",form.pour2EnfantOuPlusSepare,false) }}
                                </div>
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">Valeur</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">Réduction 3<sup>eme</sup> lit</div>
                                    {{ formulaire.input("col-md-2","",form.reduc3Lit,false) }}
                                    {{ formulaire.input("col-md-2","",form.reduc3LitPour,false) }}
                                </div>
                                <div class="row">
                                    <div class="col-md-8">Réduction 4<sup>eme</sup> lit</div>
                                    {{ formulaire.input("col-md-2","",form.reduc4Lit,false) }}
                                    {{ formulaire.input("col-md-2","",form.reduc4LitPour,false) }}
                                </div>
                                {{ formulaire.submit("Modifier") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}