{% extends "BackHotelTunisieBundle:hotels:liste.html.twig" %}
{% block title %}{{ hotel.libelle }}{% endblock %}
{% block description %}Fiche Technique{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="{{ path('modif_hotel',{'id':hotel.id}) }}" >{{ hotel.libelle }}</a>
    </li>
    <li>
        <a href="javascript:void(0)" >Fiche Technique</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                <ul id="myTab" class="nav nav-tabs tab-bricky">
                    <li>
                        <a href="{{ path("modif_hotel",{'id':hotel.id}) }}">
                            <i class="green fa fa-home"></i> {{ hotel.libelle }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("fiche_technique",{'id':hotel.id}) }}">
                            Fiche téchnique {% if hotel.ficheTechnique is null %}<span class="badge badge-danger">vide</span>{% endif %}
                        </a>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)">
                            Saison de base {% if hotel.saisonBase is null %}<span class="badge badge-danger">vide</span>{% endif %}
                        </a>
                    </li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="{{ path('saison_base',{'id':hotel.id}) }}" method="post" role="form" id="form">
                            {{ form_widget(form._token) }}
                            <div class="row">
                                {{ formulaire.input("col-md-4","Délai d'annulation",form.delaiAnnulation,true) }}
                                {{ formulaire.input("col-md-4","Délai retrocession",form.delaiRetrocession,true) }}
                                {{ formulaire.input("col-md-4","Nombre de place",form.nombrePlace,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.input("col-md-4","Acompte",form.aCompte,true) }}
                                {{ formulaire.input("col-md-4","Nbr min de nuitées",form.minStay,true) }}
                                {{ formulaire.input("col-md-4","Total contingent",form.totalContingent,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.select2("col-md-3","Arrangement de base",form.ArrBase,true) }}
                                {{ formulaire.input("col-md-3","Prix Convention",form.prixConvention,true) }}
                                {{ formulaire.input("col-md-3","Marge du vente",form.margeVente,true) }}
                                {{ formulaire.input("col-md-3","",form.pourcentage,true) }}
                            </div>
                            {{ formulaire.submit("Modifier") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}