{% extends "BackHotelTunisieBundle:hotels:liste.html.twig" %}
{% block title %}{{ hotel.libelle }}{% endblock %}
{% block description %}Saison de base{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="{{ path('modif_hotel',{'id':hotel.id}) }}" >{{ hotel.libelle }}</a>
    </li>
    <li>
        <a href="javascript:void(0)" >Saison de base</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackHotelTunisieBundle:Hotels:menu_hotel.html.twig' %}
                <div class="panel panel-default">
                    <div class="tabbable">
                        {% include 'BackHotelTunisieBundle:Hotels:menu_saison.html.twig' %}
                        <div class="panel-body tab-content">
                            <form action="{{ path('saison_supp_chambres',{'id':hotel.id}) }}" method="post" role="form" id="formDisable">
                                {{ form_widget(form._token) }}
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">Valeur</div>
                                    <div class="col-md-1">Marge de vente</div>
                                </div>
                                {% for formC in form.suppChambres %}
                                    <div class="row">
                                        <div class="col-md-2" style="height: 68px;">
                                            <label style="margin-top: 20px;">{{ formC.chambre.vars.data.libelle }}</label>
                                            {{ form_widget(formC.chambre, {'attr': {'style': 'display:none'}}) }}
                                        </div>
                                        {{ formulaire.input("col-md-1","",formC.valeur,false) }}
                                        {{ formulaire.input("col-md-2","",formC.valeurPour,false) }}
                                        {{ formulaire.input("col-md-1","",formC.marge,false) }}
                                        {{ formulaire.input("col-md-2","",formC.margePour,false) }}
                                        {% if formC.vars.data.id is not null %}
                                            <div class="col-md-2" style="height: 68px;">
                                                <label style="margin-top: 25px;">
                                                    {{ macros.tableDelete(path('delete_saison_supp_chambres',{'id':formC.vars.data.id,'hotel':hotel.id})) }}
                                                </label>
                                            </div>
                                        {% endif%}
                                    </div>
                                {% endfor %}
                                {{ formulaire.submit("Modifier") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}