<li>
    <div class="booking-item-container">
        <div class="booking-item">
            <div class="row">
                <div class="col-md-3">
                    <div class="booking-item-img-wrap">
                    {% if voyage.photoPrincipal is not null %}
                        <img src="{{ asset(voyage.photoPrincipal.assetPath) }}" alt="Image Alternative text"/>
                    {% else %}
                        <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=No%20image%20available&w=270&h=195"  alt="Image Alternative text"/>
                    {% endif %}              
                </div>
                </div>
                <div class="col-md-7">
                <h5 class="booking-item-title"><a href="{{ path('front_voyageorganise_details',{'slug':voyage.slug}) }}">{{ voyage|title }}</a></h5>
                    <span class="booking-item-address margenull"><i class="fa fa-map-marker"></i> {{ voyage.destination.libelle|raw }}</span>
                    <p class="booking-item-last-booked">{{ voyage.showType }}</p>
                    {% if voyage.periodes(true) | length > 0 and voyage.type == 1 %}
                        {% set periode = voyage.firstPeriodeValide %}
                        {% if periode is not null  %}
                            <div class="booking-item-flight-details">
                                <div class="booking-item-departure"><i class="fa fa-plane"></i>
                                    <p class="booking-item-date">Départ</p>
                                    <p class="booking-item-date"> {{ periode.depart |date('d/m/Y')}} </p>
                                </div>
                                <div class="booking-item-arrival" ><i class="fa fa-plane fa-flip-vertical"></i>
                                    <p class="booking-item-date">Retour</p>
                                    <p class="booking-item-date"> {{ periode.retour |date('d/m/Y')}} </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if voyage.type == 2 %}
                        <div class="booking-item-flight-details">
                            <div class="booking-item-departure"><i class="fa fa-plane"></i>
                                <p class="booking-item-date">Départ</p>
                                <p class="booking-item-date"> Au choix </p>
                            </div>
                            <div class="booking-item-arrival"><i class="fa fa-plane fa-flip-vertical"></i>
                                <p class="booking-item-date">Retour</p>
                                <p class="booking-item-date"> Au choix </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2 text-center">
                    <span class="booking-item-price-from">A partir de</span>
                                <span class="booking-item-price">
                                    {{ voyage.prix|number_format(0,'.','') }}<sup style="font-size:10px">DT</sup>
                                </span>
                    <p class="booking-item-last-booked text-center">{{ voyage.nbrJour }} jours / {{ voyage.nbrNuit }} nuits</p>
                    <div class="center" style="padding-top: 9px;">
                        <a class="btn btn-primary" href="{{ path('front_voyageorganise_details',{'slug':voyage.slug}) }}">Détails</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="booking-item-details">
            <div class="row">
                <div class="col-md-8">
                    {#<p>Description voyages</p>#}
                    <h5 class="list-title">Description voyage</h5>
                    <ul class="list">
                        <li>{{ voyage.descriptionCourte }}</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</li>