<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="list-item">
        <div class="list-item-image">
            <div class="image-inner">
                <a class="link-image" href="{{ path('front_voyageorganise_details',{'slug':voyage.slug}) }}">
                    {% if voyage.photoPrincipal.assetPath is defined %}
                        <img src="{{ asset(voyage.photoPrincipal.assetPath) }}" alt="" style="width: 270px;height: 195px" />
                    {% else %}
                        <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=No%20image%20available&w=270&h=195" alt="" />
                    {% endif %}
                    <div class="image-overlay">
                        <div class="overlay-content">
                            <div class="overlay-icon"><i class="icon_link"></i></div>
                        </div>	
                    </div>
                </a>	
            </div>
        </div>
        <div class="list-item-label">
            <h4 class="list-item-title" style="white-space: nowrap"><a href="{{ path('front_voyageorganise_details',{'slug':voyage.slug}) }}" class="inverse">{{ voyage }}</a></h4>
            <span class="list-item-location">{{ voyage.destination }}</span>
            <div class="list-item-meta">
                <span class="rating-static" style="margin-top: -8px;background: inherit">à partir de</span>
                <span class="list-item-review">{{ voyage.prix }} DT</span>
            </div>
            <div class="list-item-details">
                In on announcing if of comparison pianoforte projection. Maids hoped gay yet bed.
            </div>
            <div class="clear"></div>
            <a href="{{ path('front_voyageorganise_details',{'slug':voyage.slug}) }}" class="btn btn-block">Détails</a>
        </div>
    </div>
</div>