<div class="col-md-3">
    <form method="post" action="{{ path('front_voyageorganise_liste') }}">
        <div class="booking-item-dates-change mb30">
        <label for="hotelLocation">Mot clé</label>
        <div class="form-group form-group-icon-left main-header-search">
            <i class="fa fa-search input-icon"></i>
            <input type="text" class="form-control" style='background: #4D4D4D' id="hotelLocation" name="motclesSearch"
                   value="{% if motcle!='all' %}{{ motcle }}{% endif %}">
        </div>
        <input class="btn btn-primary" type="submit" value="Recherche" />
        <a style="background-color: #D6CDC5; border-color: #D6CDC5;" href="{{ path('front_voyageorganise_liste') }}" class=" btn btn-primary">Initialiser</a>
        </div>
        <aside class="booking-filters text-white">
            <h3>Filtrer Par:</h3>
            <ul class="list booking-filters-list">
                <li>
                    <h5 class="booking-filters-title">Thème</h5>
                    {% set themesSplit = app.request.get('themes')|split(',') %}
			{% for theme in themes %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="themes_{{ theme.id }}" {% if theme.id in themesSplit %}checked{% endif %} value="{{ theme.id }}">
				    {{ theme|title }}
                            </label>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Recherche" />
                </li>
                <li>
                    <h5 class="booking-filters-title">Destination</h5>
                    {% set categoriesSplit = app.request.get('destinations')|split(',') %}
			{% for destination in destinations %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="destinations_{{ destination.id }}" {% if destination.id in categoriesSplit %}checked{% endif %} value="{{ destination.id }}">
				    {{ destination|title }}
                            </label>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Recherche" />
                </li>
                <li>
                    <h5 class="booking-filters-title">Pays</h5>
                    {% set paysSplit = app.request.get('pays')|split(',') %}
			{% for pay in pays %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="pays_{{ pay.id }}" {% if pay.id in paysSplit %}checked{% endif %} value="{{ pay.id }}">
				    {{ pay|title }}
                            </label>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Recherche" />
                </li>
            </ul>
        </aside>
    </form>
</div>