{% extends ":Front:base.html.twig" %}
{% block title %}Liste Voyages Organisés{% endblock %}
{% block body %}
    <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{{ path('accueil') }}">Acceuil</a>
                    </li>
                    <li><a href="{{ path('front_voyageorganise_accueil') }}">Liste Voyages Organisés</a>
                    </li>
                </ul>
                <h3 class="booking-title">{{ voyages.getTotalItemCount }} Voyage(s) trouvé(s)</h3>
                <div class="row">
                    {% include 'FrontGeneralBundle:voyageorganise/liste:filtre.html.twig' %}
                    <div class="col-md-9">
                        {% include 'FrontGeneralBundle:voyageorganise/liste:sort.html.twig' %}
                        <ul class="booking-list">
                            {% for voyage in voyages %}
                            {% include 'FrontGeneralBundle:voyageorganise/liste:article.html.twig' %}
                        {% endfor %}
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <p><small>{{ voyages.getTotalItemCount }} voyage(s) trouvé(s).</small>
                                </p>
                                <ul class="pagination">
                                    {{ knp_pagination_render(voyages) }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
            </div>
{% endblock %}