{% extends ":Front:base.html.twig" %}
{% block title %}Olé voyage{% endblock %}
{% block body %}
    <div id="slider_wrapper">
        <div class="big-slider flexslider big_flex">
            <ul class="slides">
                {% for slider in sliders %}
                    <li>
                        <img src="{{ asset(slider.assetPath) }}" alt="#">
                        {% if slider.titre1 is not null %}
                            <p class="flex-price">{{ slider.titre1 }}</p>
                        {% endif %}
                        {% if slider.titre2 is not null %}
                            <h3><a href="{{ slider.url }}">{{ slider.titre2 }}</a></h3>
                        {% endif %}
                        {% if slider.titre3 is not null %}
                            <p>{{ slider.titre3 }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div id="content_wrapper">
        <div class="container">
            <div class="travel-search">
                <div class="travel-search-inner">
                    <ul class="tabs searchTab">
                        <li><a href="#hotelsSearch" class="active"><span class="hotel mi"></span>Hôtels en tunisie</a>
                        </li>
                        <li><a href="#voyageSearch"><span class="flight mi"></span>Voyages organisés</a></li>
                        <li><a href="#programmeSearch"><span class="vacation mi"></span>Programmes & Activités</a></li>
                    </ul>
                    <ul class="tabs-content">
                        <li id="hotelsSearch" class="active">
                            <form role="form" class="row" method="post"
                                  action="{{ path('front_hoteltunisie_accueil') }}">
                                <div class="col-xs-12 col-sm-3 col-md-2">
                                    <div class="form-group">
                                        <label for="hotelLocation">Destination</label>
                                        <select class="form-control" name="ville" id="">
                                            <option value="all">Toutes les villes</option>
                                            {% for ville in villes if ville.hasHotelsValide %}
                                                <option value="{{ ville.id }}">{{ ville }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-2">
                                    <div class="form-group">
                                        <label for="hotelLocation">Catégorie</label>
                                        <select class="form-control" name="categorie" id="">
                                            <option value="all">Toutes les carégories</option>
                                            {% for categorie in categories if categorie.hasHotelsValide %}
                                                <option value="{{ categorie.id }}">{{ categorie }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="form-group datepicker-wrapper">
                                        <label for="hotel-check-in">Date d'entrée</label>
                                        <input type="text" class="form-control date"
                                               value="{{ 'now'|date_modify("+1 day")|date("Y-m-d") }}"
                                               id="hotel-check-in" name="dateDebut" placeholder="yyyy-mm-dd">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="form-group datepicker-wrapper">
                                        <label for="hotel-check-out">Nbr Nuitées</label>
                                        <input type="number" name="nuitees" min="1" value="1" class="form-control"
                                               id="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="form-group datepicker-wrapper">
                                        <label for="hotel-check-out">Mot clès</label>
                                        <input type="text" class="form-control" id="MotCles" name="motcles">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="clear"></div>
                                    <button type="submit" class="btn btn-primary btn-block">Recherche</button>
                                </div>
                            </form>
                        </li>
                        <li id="voyageSearch">
                            <form role="form" class="row" method="post"
                                  action="{{ path('front_voyageorganise_accueil') }}">
                                <div class="col-xs-12 col-sm-3 col-md-2">
                                    <div class="form-group">
                                        <label for="hotelLocation">Thèmes</label>
                                        <select class="form-control" name="themes" id="">
                                            <option value="all">Tous les thèmes</option>
                                            {% for theme in themes %}
                                                <option value="{{ theme.id }}">{{ theme }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label for="hotelLocation">Destination</label>
                                        <select class="form-control" name="destinations" id="">
                                            <option value="all">Toutes les destinations</option>
                                            {% for destination in destinations %}
                                                <option value="{{ destination.id }}">{{ destination }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-2">
                                    <div class="form-group">
                                        <label for="hotelLocation">Pays</label>
                                        <select class="form-control" name="pays" id="">
                                            <option value="all">Tous les pays</option>
                                            {% for pay in pays %}
                                                <option value="{{ pay.id }}">{{ pay }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    <div class="form-group datepicker-wrapper">
                                        <label for="hotel-check-out">Mot clès</label>
                                        <input type="text" class="form-control" id="MotCles" name="motcles">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="clear"></div>
                                    <button type="submit" class="btn btn-primary btn-block">Recherche</button>
                                </div>
                            </form>
                        </li>
                        <li id="programmeSearch">
                            <form role="form" class="row" method="post" action="{{ path('front_programme_accueil') }}">
                                <div class="col-xs-12 col-sm-3 col-md-4">
                                    <div class="form-group">
                                        <label for="hotelLocation">Thèmes </label>
                                        <select class="form-control" name="ville" id="Theme">
                                            <option value="all">Tous les thèmes</option>
                                            {% for theme in themesP %}
                                                <option value="{{ theme.id }}">{{ theme }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group datepicker-wrapper">
                                        <label for="hotel-check-out">Mot clès</label>
                                        <input type="text" class="form-control" id="MotCles" name="motcles">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2"></div>
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="clear"></div>
                                    <button type="submit" class="btn btn-primary btn-block">Recherche</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% if accueil %}
            <div class="container">
                <div class="gr-style"></div>
                <div class="row pv-30 mt-20 product-4">
                    {% for i in 1..3 %}
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="list-item">
                                <div class="list-item-image">
                                    <div class="image-inner">
                                        <a class="link-image" href="{{ accueil.lien(i) }}">
                                            <img src="{{ asset(accueil.photo(i).assetPath) }}" alt=""/> </a>
                                    </div>
                                </div>
                                <div class="product-4-label">
                                    <h3><a href="#">{{ accueil.titre(i) }}</a></h3>

                                    <div class="bb2 mb-20"></div>
                                    <p>{{ accueil.texte(i) }}</p>
                                    <a href="{{ accueil.lien(i) }}" class="more-link">Détails</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="container">
            {{ render(controller('FrontConfigBundle:HotelTunisie:showTopPromo')) }}
            {{ render(controller('FrontConfigBundle:VoyageOrganise:showTopDestination')) }}
        </div>
        <footer id="footer">
            <div class="primary-footer">
                <div class="container">
                    {{ render(controller('FrontConfigBundle:VoyageOrganise:showBlockMetro')) }}
                </div>
            </div>
        </footer>
        <div class="container">
            {{ render(controller('FrontConfigBundle:Programme:showTopTheme')) }}
        </div>
    </div>
{% endblock %}