{% if blockMetro %}
    <div class="row pt-50 pb-30">
	<div class="col-xs-12 col-sm-3 col-md-3 rs-mb" style="padding: 0px 5px 5px 5px;">
	    <div class="list-item-image">
		<div class="image-inner">
		    <a class="" href="{{ path('front_hoteltunisie_list',{tag:blockMetro.tag1.id}) }}">
			<img src="{{ asset(blockMetro.photo1) }}" alt="Image" style="width: 290px;height: 209px">
			<div class="image-overlay">
			    <div class="overlay-content">
				<div class="overlay-icon" style="border: none;"><i>{{ blockMetro.tag1 }}</i></div>
			    </div>	
			</div>
		    </a>	
		</div>
	    </div>
	</div>
	<div class="col-xs-12 col-sm-3 col-md-3 xs-mb" style="padding: 0px 5px 5px 5px;">
	    <div class="list-item-image">
		<div class="image-inner">
		    <a class="" href="{{ path('front_hoteltunisie_list',{tag:blockMetro.tag2.id}) }}">
			<img src="{{ asset(blockMetro.photo2) }}" alt="Image" style="width: 290px;height: 209px">
			<div class="image-overlay">
			    <div class="overlay-content">
				<div class="overlay-icon" style="border: none;"><i>{{ blockMetro.tag2 }}</i></div>
			    </div>	
			</div>
		    </a>	
		</div>
	    </div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 xs-mb" style="padding: 0px 5px 5px 5px;">
	    <div class="list-item-image">
		<div class="image-inner">
		    <a class="" href="{{ path('front_hoteltunisie_list',{tag:blockMetro.tag3.id}) }}">
			<img src="{{ asset(blockMetro.photo3) }}" alt="Image" style="width: 590px;height: 209px">
			<div class="image-overlay">
			    <div class="overlay-content">
				<div class="overlay-icon" style="border: none;"><i>{{ blockMetro.tag3 }}</i></div>
			    </div>	
			</div>
		    </a>	
		</div>
	    </div>
	</div>
	<div class="col-xs-12 col-sm-3 col-md-3 rs-mb" style="padding: 5px 5px 5px 5px;">
	    <div class="list-item-image">
		<div class="image-inner">
		    <a class="" href="{{ path('front_hoteltunisie_list',{tag:blockMetro.tag4.id}) }}">
			<img src="{{ asset(blockMetro.photo4) }}" alt="Image" style="width: 290px;height: 209px">
			<div class="image-overlay">
			    <div class="overlay-content">
				<div class="overlay-icon" style="border: none;"><i>{{ blockMetro.tag4 }}</i></div>
			    </div>	
			</div>
		    </a>	
		</div>
	    </div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 xs-mb" style="padding: 5px 5px 5px 5px;">
	    <div style="width: 590px;height: 209px;background-color: #3C454E;    padding: 70px;">
		<h1 style="color: white;font-size: 60px;">{{ blockMetro.libelle }}</h1>
	    </div>
	</div>
	<div class="col-xs-12 col-sm-3 col-md-3 xs-mb" style="padding: 5px 5px 5px 5px;">
	    <div class="list-item-image">
		<div class="image-inner">
		    <a class="" href="{{ path('front_hoteltunisie_list',{tag:blockMetro.tag5.id}) }}">
			<img src="{{ asset(blockMetro.photo5) }}" alt="Image" style="width: 290px;height: 209px">
			<div class="image-overlay">
			    <div class="overlay-content">
				<div class="overlay-icon" style="border: none;"><i>{{ blockMetro.tag5 }}</i></div>
			    </div>	
			</div>
		    </a>
		</div>
	    </div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 xs-mb" style="padding: 5px 5px 5px 5px;">
	    <div class="list-item-image">
		<div class="image-inner">
		    <a class="" href="{{ path('front_hoteltunisie_list',{tag:blockMetro.tag6.id}) }}">
			<img src="{{ asset(blockMetro.photo6) }}" alt="Image" style="width: 590px;height: 209px">
			<div class="image-overlay">
			    <div class="overlay-content">
				<div class="overlay-icon" style="border: none;"><i>{{ blockMetro.tag6 }}</i></div>
			    </div>	
			</div>
		    </a>	
		</div>
	    </div>
	</div>
	<div class="col-xs-12 col-sm-3 col-md-3 rs-mb" style="padding: 5px 5px 5px 5px;">
	    <div class="list-item-image">
		<div class="image-inner">
		    <a class="" href="{{ path('front_hoteltunisie_list',{tag:blockMetro.tag7.id}) }}">
			<img src="{{ asset(blockMetro.photo7) }}" alt="Image" style="width: 290px;height: 209px">
			<div class="image-overlay">
			    <div class="overlay-content">
				<div class="overlay-icon" style="border: none;"><i>{{ blockMetro.tag7 }}</i></div>
			    </div>	
			</div>
		    </a>	
		</div>
	    </div>
	</div>
	<div class="col-xs-12 col-sm-3 col-md-3 xs-mb" style="padding: 5px 5px 5px 5px;">
	    <div class="list-item-image">
		<div class="image-inner">
		    <a class="" href="{{ path('front_hoteltunisie_list',{tag:blockMetro.tag8.id}) }}">
			<img src="{{ asset(blockMetro.photo8) }}" alt="Image" style="width: 290px;height: 209px">
			<div class="image-overlay">
			    <div class="overlay-content">
				<div class="overlay-icon" style="border: none;"><i>{{ blockMetro.tag8 }}</i></div>
			    </div>	
			</div>
		    </a>	
		</div>
	    </div>
	</div>
    </div>
{% endif %}