{% extends ":Back:base.html.twig" %}
{% block title %}Nombre de réservation{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)">{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        {{ formulaire.select2("col-md-4","Mois",form.mois,true) }}
                        {{ formulaire.input("col-md-2","Année",form.annee,true) }}
                        {{ formulaire.input("col-md-3","Etat",form.etat,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.select2("col-md-4","Hôtels",form.hotels,true) }}
                        {{ formulaire.select2("col-md-4","Régions",form.regions,true) }}
                        {{ formulaire.select2("col-md-4","Operateurs",form.users,true) }}
                    </div>
                    {{ formulaire.submit("Enregistrer") }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}