{% extends ':Back:base_reporting.html.twig' %}
{% block title %}{{ titre }}{% endblock %}
{% block body %}
    <div id="details" class="clearfix">
        <div id="client">
            <h2 class="to" style="line-height: 39px;">{{ titre }}</h2>

            <div class="address">Année: {{ app.request.get('annee') }}</div>
            <div class="address">Etat: {{ getNameEtat(app.request.get('etat')) }}</div>
            <div class="address">
                Hôtels :
                {% if app.request.get('hotels')=='all' %}
                    Tous
                {% else %}
                    ({% for hotel in app.request.get('hotels')|split(',') %}{{ getNamehotel(hotel) }}{% if loop.index!=app.request.get('hotels')|split(',')|length %}, {% endif %}{% endfor %})
                {% endif %}
            </div>
            <div class="address">
                Operateurs :
                {% if app.request.get('users')=='all' %}
                    Tous
                {% else %}
                    ({% for user in app.request.get('users')|split(',') %}{{ getNameUser(user) }}{% if loop.index!=app.request.get('users')|split(',')|length %}, {% endif %}{% endfor %})
                {% endif %}
            </div>
            <div class="address">
                Région :
                {% if app.request.get('regions')=='all' %}
                    Tous
                {% else %}
                    ({% for region in app.request.get('regions')|split(',') %}{{ getNameRegion(region) }}{% if loop.index!=app.request.get('regions')|split(',')|length %}, {% endif %}{% endfor %})
                {% endif %}
            </div>
        </div>
    </div>
    <div id="details" class="clearfix">
        <div id="client">
            <h2 class="to" style="line-height: 39px;">Vue par Hôtels</h2>
        </div>
    </div>
    <table id="details">
        <tbody>
        {% for ligne  in dataHotel%}
            {% set loopindex1=loop.index %}
            <tr>
                {% for cellule in ligne %}
                    <th class="cell">
                        {% if loop.index==1 or loopindex1==1 %}<b>{{ cellule }}</b>{% else %}{{ cellule }}{% endif %}
                    </th>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="details" class="clearfix">
        <div id="client">
            <h2 class="to" style="line-height: 39px;">Vue par Région</h2>
        </div>
    </div>
    <table id="details">
        <tbody>
        {% for ligne  in dataRegion %}
            {% set loopindex1=loop.index %}
            <tr>
                {% for cellule in ligne %}
                    <th class="cell">
                        {% if loop.index==1 or loopindex1==1 %}<b>{{ cellule }}</b>{% else %}{{ cellule }}{% endif %}
                    </th>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="details" class="clearfix">
        <div id="client">
            <h2 class="to" style="line-height: 39px;">Vue par Operateur</h2>
        </div>
    </div>
    <table id="details">
        <tbody>
        {% for ligne  in dataOperateur %}
            {% set loopindex1=loop.index %}
            <tr>
                {% for cellule in ligne %}
                    <th class="cell">
                        {% if loop.index==1 or loopindex1==1 %}<b>{{ cellule }}</b>{% else %}{{ cellule }}{% endif %}
                    </th>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="details" class="clearfix">
        <div id="client">
            <h2 class="to" style="line-height: 39px;">Vue par Source</h2>
        </div>
    </div>
    <table id="details">
        <tbody>
        {% for ligne  in dataSource %}
            {% set loopindex1=loop.index %}
            <tr>
                {% for cellule in ligne %}
                    <th class="cell">
                        {% if loop.index==1 or loopindex1==1 %}<b>{{ cellule }}</b>{% else %}{{ cellule }}{% endif %}
                    </th>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <style>
        th:first-of-type{
            width: 350px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(this).find('.cell').each (function () {
                if ($(this).html() == 0)
                    $(this).css('background', '#FAFAFA');
                if ($(this).html() > 0 && $(this).html() < 5)
                    $(this).css('background', '#F2F2F2');
                else if ($(this).html() >= 5 && $(this).html() < 10)
                    $(this).css('background', '#F6CED8');
                else if ($(this).html() >= 10 && $(this).html() < 20)
                    $(this).css('background', '#F6CEE3');
                else if ($(this).html() >= 20 && $(this).html() < 30)
                    $(this).css('background', '#ECCEF5');
                else if ($(this).html() >= 30 && $(this).html() < 40)
                    $(this).css('background', '#F6CEF5');
                else if ($(this).html() >= 40 && $(this).html() < 50)
                    $(this).css('background', '#D8CEF6');
                else if ($(this).html() >= 50 && $(this).html() < 100)
                    $(this).css('background', '#CEE3F6');
                else if ($(this).html() >= 100 && $(this).html() < 200)
                    $(this).css('background', '#A9F5F2');
                else if ($(this).html() >= 200 && $(this).html() < 500)
                    $(this).css('background', '#A9F5D0');
                else if ($(this).html() >= 500 && $(this).html() < 1000)
                    $(this).css('background', '#A9F5BC');
                else if ($(this).html() >= 1000 && $(this).html() < 2500)
                    $(this).css('background', '#BCF5A9');
                else if ($(this).html() >= 2500 && $(this).html() < 5000)
                    $(this).css('background', '#D8F781');
                else if ($(this).html() >= 5000 && $(this).html() < 7500)
                    $(this).css('background', '#F3F781');
                else if ($(this).html() >= 7500 && $(this).html() < 10000)
                    $(this).css('background', '#F7D358');
                else if ($(this).html() >= 10000 && $(this).html() < 20000)
                    $(this).css('background', '#FA8258');
                else if ($(this).html() >= 20000 )
                    $(this).css('background', '#FE2E2E');
            });
        })
    </script>
{% endblock %}
