<script>
    $(document).ready(function () {
        var obj = {
                {% for chambre in saison.chambres %}
                    {{ 'minAdulte'~chambre.chambre.id~':'~chambre.minAdulte|raw }},
                    {{ 'maxAdulte'~chambre.chambre.id~':'~chambre.maxAdulte|raw }},
                    {{ 'minEnfant'~chambre.chambre.id~':'~chambre.minEnfant|raw }},
                    {{ 'maxEnfant'~chambre.chambre.id~':'~chambre.maxEnfant|raw }},
                    {{ 'minPax'~chambre.chambre.id~':'~chambre.minPax|raw }},
                    {{ 'maxPax'~chambre.chambre.id~':'~chambre.maxPax|raw }},
                {% endfor %}
    };

    $('#calendar').fullCalendar({
        month:{{ dateDebut|date('m')-1 }},
        year:{{ dateDebut|date('Y') }},
        events: [
            {% for day in calendrier %}
            {
                id:{{ day.saison.id }}, {% if day.saison.type is null %}
                color: '#F0AD4E', {% elseif day.saison.type ==1 %}
                color: '#555', {% else %}
                color: '#569099', {% endif %}
                title: "{{ day.saison|raw }}",
                start: '{{ day.dateDebut }}',
                end: '{{ day.dateFin }}',
                url: 'javascript:void(0)'
            }, {% endfor %}
        ],
        eventClick: function (event) {
            $('#SaisonBlock').html('<div class="center"><img  src="{{ asset('back-assets/images/loading1.gif') }}" /></div>');
            $.ajax({
                url: '{{ path('gey_saison_ajax') }}',
                data: {'id': event.id},
                type: 'POST',
                dataType: 'html',
                success: function (data) {
                    $('#SaisonBlock').hide().html(data).fadeIn('slow');
                }
            });
        }
    })
    $('.chambresSelect').change(function () {
        var nbrRooms = $(this).val();
        var id = $(this).data('id');
        Block = $(this).parent().parent().parent().find('.details');
        var exist = Block.children().length;
        if (exist < nbrRooms) {
            for (var i = 1; i <= nbrRooms; i++) {
                if (i > exist) {
                    BlockChambre = window['getChambre' + id](i);
                    Block.append(BlockChambre);
                }
            }
        }
        else {
            var toRemove = (exist - nbrRooms);
            var nmbr = Block.children().length;
            for (var i = nmbr; i >= (nmbr - toRemove); i--)
                Block.children().eq(i).remove();
        }
    })




    $(document).on('change', '.AdulteChambre', function () {
        Block = $(this).parent().parent().find('.ages .row');
        var chambre = $(this).data('chambre');
        var minEnfant=obj['minEnfant' + chambre];
        var maxEnfant=obj['maxEnfant' + chambre];
        var minAdulte=obj['minAdulte' + chambre];
        var maxAdulte=obj['maxAdulte' + chambre];
        var minPax=obj['minPax' + chambre];
        var maxPax=obj['maxPax' + chambre];
        var ordre = $(this).data('ordre');
        var nbrADL = $(this).val();
        var nbrENF = $(this).parent().parent().find('.EnfantChambre').val();
        var nbrBlockExist = Block.children().length;
        var total=parseInt(nbrADL)+parseInt(nbrENF);
        if(total >maxPax)
        {
            var toRemove =total-maxPax;
            $(this).parent().parent().find('.EnfantChambre').val(maxPax-nbrADL);
            for (var i = nbrBlockExist; i >= (nbrBlockExist - toRemove); i--)
                Block.children().eq(i).remove();
        }
        if(total<minPax)
        {
            var nbrKids=minPax-nbrADL;
            $(this).parent().parent().find('.EnfantChambre').val(nbrKids);
            for (var i = 1; i <= nbrKids; i++) {
                if (i > nbrBlockExist)
                    Block.append('<div class="col-md-1"><label>Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
            }
        }
    })



    $(document).on('change', '.EnfantChambre', function () {
        var chambre = $(this).data('chambre');
        var chambre = $(this).data('chambre');
        var minEnfant=obj['minEnfant' + chambre];
        var maxEnfant=obj['maxEnfant' + chambre];
        var minAdulte=obj['minAdulte' + chambre];
        var maxAdulte=obj['maxAdulte' + chambre];
        var minPax=obj['minPax' + chambre];
        var maxPax=obj['maxPax' + chambre];
        //var frais = $('#chambre-' + chambre).data('frais');
        var ordre = $(this).data('ordre');
        var nbrENF = $(this).val();
        var nbrADL = $(this).parent().parent().find('.AdulteChambre').val();
        Block = $(this).parent().parent().find('.ages .row');
        var nbrBlockExist = Block.children().length;
        var total=parseInt(nbrADL)+parseInt(nbrENF);
        if(total >maxPax)
        {
            $(this).parent().parent().find('.AdulteChambre').val(maxPax-nbrENF)
        }
        if(total<minPax)
        {
            $(this).parent().parent().find('.AdulteChambre').val(minPax-nbrENF)
        }
        if (nbrBlockExist < nbrENF)
            {
                for (var i = 1; i <= nbrENF; i++) {
                    if (i > nbrBlockExist)
                        Block.append('<div class="col-md-1"><label style="white-space:nowrap;">Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                }
            }
        else{
                var toRemove = (nbrBlockExist - nbrENF);
                for (var i = nbrBlockExist; i >= (nbrBlockExist - toRemove); i--)
                    Block.children().eq(i).remove();
            }
    })

    })
    ;
    {% for ch in saison.chambres %}
    function getChambre{{ ch.id }}(i) {
        return '<div class="row" style="  border: 1px solid #eee;  padding: 10px 0px;  margin: 15px 0px;"><div class="col-md-2" style="padding-top: 25px;">    Chambre ' + i + ' </div><div class="col-md-2">    <label>Adulte</label>    <select name="adulte_{{ ch.chambre.id }}_' + i + '" data-ordre="' + i + '" data-chambre="{{ ch.chambre.id }}"  class="form-control AdulteChambre">        {% for i in ch.maxAdulte..ch.minAdulte %}            <option value="{{ i }}" >{{ i }}</option>        {% endfor %}    </select></div><div class="col-md-2">    <label>Enfant</label>    <select name="enfant_{{ ch.chambre.id }}_' + i + '" class="form-control  EnfantChambre" data-ordre="' + i + '" data-chambre="{{ ch.chambre.id }}">        {% for i in ch.minEnfant..ch.maxEnfant %}            <option value="{{ i }}" >{{ i }}</option>        {% endfor %}    </select></div><div class="col-md-6">    <label>Arrangement</label>    <select name="arrangement_{{ ch.chambre.id }}_' + i + '" class="form-control">        <option value="{{ saison.arrBase.id }}" >{{ saison.arrBase }} (Arr base)</option>{% for arr in saison.arrangements if arr.etat==1 %}<option value="{{ arr.arrangement.id }}" >{{ arr.arrangement }} {% if arr.getReducSuppVente !=0 %}: {% if arr.getReducSuppVente>0 %}+{% else %} +sh u   {% endif %} {{ arr.getReducSuppVente }} DT{% endif %}</option>{% endfor %}</select></div><div class="clearfix"></div><div class="col-md-2"></div><div class="col-md-10 ages" style="margin-top: 10px;" ><div class="row">{% if ch.minEnfant!=0 %}{% for i in 1..ch.minEnfant %}<div class="col-md-1"><label>Age {{ loop.index }} </label><select name="age_{{ ch.chambre.id }}_' + i + '_{{ loop.index }}" class="form-control" style="width: 70px;" >{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>{% endfor %}{% endif %}</div></div>{% for supp in saison.autresSupplements if verifSuppReducDate(supp.supp,dateDebut,dateFin) %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label><input name="supp_{{ ch.chambre.id }}_' + i + '_{{ supp.supp.id }}" {% if supp.supp.obligatoire %}checked  disabled{% endif %} type="checkbox"/> {{ supp }} : + {{ supp.getSuppAdulteVente }} DT </label>    </div>{% endfor %}{% for vue in saison.vues if vue.hasChambre(ch.chambre.id ) %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label><input name="vue_{{ ch.chambre.id }}_' + i + '_{{ vue.vue.id }}" type="checkbox"/> {{ vue.vue }} : + {{ vue.getSuppVente }} DT</label>    </div>{% endfor %}{% for reduc in saison.autresReductions if verifSuppReducDate(reduc.reduc,dateDebut,dateFin) %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label>- {{ reduc }} : - {{ reduc.getSuppAdulteVente }} DT</label>    </div>{% endfor %}</div>';        }
    {% endfor %}
</script>