{% extends ":Front:base.html.twig" %}
{% block title %}Réservation{% endblock %}
{% block body %}
    <div id="page_title">
        <div class="container clearfix">
            <div class="page-name">{{ block('title') }}</div>
            <div class="breadcrumb clearfix">
                <a href="{{ path('accueil') }}">Accueil</a>
                <a href="{{ path('front_programme_accueil') }}">Programmes & activités</a>
                <a href="{{ path('front_programme_liste') }}">Liste</a>
                <a href="{{ path('front_programme_details',{'slug':app.request.get('slug')}) }}">{{ periode.programme }}</a>
                <span class="current-page">{{ block('title') }}</span>
            </div>
        </div>
    </div>
    <div id="content_wrapper">
        <div class="container">
            <div class="row clearfix pv-50">
                <div class="col-xs-12 col-sm-8 col-md-8 xs-mb">
                    <div class="white-bg payment-wrapper">
                        {% include ':Front:alert.html.twig' %}
                        <div class="person-information">
                            {{ form_start(form) }}
                            <h3 class="section-title">Les occupants <span class="step active">1</span></h3>
                            <div class="bb2 mb-10"></div>
                            <div class="row">
                                <div class="col-md-3"><h4 style="padding-top: 5px;">Nombre d'adultes</h4></div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select name='adultes' class="form-control" id="adultes" required>
                                            <option value="">0</option>
                                            {% for i in 1..10 %}
                                                <option value="{{ i }}">{{ i }}</option>{% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p style="padding-top: 5px;"> à partir de {{ periode.prixAdulteVente }} DT</p>
                                </div>
                            </div>
                            <div class="blockAdultes"></div>
                            <div class="bb2 mb-10"></div>
                            <div class="row">
                                <div class="col-md-3"><h4 style="padding-top: 5px;">Nombre d'enfants</h4></div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select name='enfants' class="form-control" id="enfants">
                                            <option value="0">0</option>
                                            {% for i in 1..10 %}
                                                <option value="{{ i }}">{{ i }}</option>{% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p style="padding-top: 5px;"> à partir de {{ periode.prixEnfantVente }} DT</p>
                                </div>
                            </div>
                            <div class="blockEnfants"></div>
                            {% if periode.supplements|length>0 %}
                                <div class="mb-20"></div>
                                <h3 class="section-title">Suppléments<span class="step active">2</span></h3>
                                <div class="bb2 mb-10"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <th></th>
                                            <th>Prix Adulte</th>
                                            <th>Prix Enfant</th>
                                            </thead>
                                            {% for option in periode.supplements %}
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="styled-checkbox mt-10">
                                                            <label><input type="checkbox" name="supplement{{ option.id }}" {% if option.obligatoire %}disabled checked {% endif %}/>{{ option.libelle }} {% if option.obligatoire %}
                                                                    <small>Obligatoire</small>{% endif %}</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="styled-checkbox mt-10">
                                                            {{ option.adulteVente }} DT
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="styled-checkbox mt-10">
                                                            {{ option.enfantVente }} DT
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="mb-20"></div>
                            <h3 class="section-title">Information Personnelle <span class="step active">2</span>
                            </h3>
                            <div class="bb2 mb-10"></div>
                            <div style="display: none">
                                {{ formulaire.input("col-md-2","",form.client.responsable,false) }}
                            </div>
                            <div class="row">
                                {{ formulaire.input("col-md-4","Nom & prénom ",form.client.nomPrenom,true) }}
                                {{ formulaire.input("col-md-4","Tel 1",form.client.tel1,true) }}
                                {{ formulaire.input("col-md-4","Email",form.client.tel2,false) }}
                            </div>
                            <div class="row">
                                {{ formulaire.input("col-md-12","Adresse",form.client.adresse,true) }}
                            </div>
                            <div style="display: none">
                                {{ formulaire.input("col-md-4","Matricule Fiscale",form.client.matriculeFiscale,true) }}
                                {{ formulaire.input("col-md-4","Registre Commercie",form.client.registreCommercie,true) }}
                                {{ formulaire.input("col-md-4","Commentaire",form.client.commentaire,true) }}
                            </div>
                            <h3 class="section-title mt-40">Revoir et réserver votre séjour<span class="step active">1</span>
                            </h3>

                            <div c lass="bb2 mb-10"></div>
                            <div class="styled-checkbox mt-10">
                                <label>
                                    <input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" required value="option1">En choisissant de compléter cette réservation Je reconnais que je l'ai lu et accepté les
                                    <a href="#" class="clblue">règles & restrictions</a>
                                    <a href="#" class="clblue">termes et conditions</a> , and
                                    <a h ref="#" class="clblue">politique de confidentialité</a>. </label>
                            </div>
                            <div class="bb2 mb-10"></div>
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-block" type="submit">
                                        Validation <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="sidebar hotel-sidebar">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="sidebar-item mb-20">
                                <div class="lp-box">
                                    <i class="text-info fa-lock"></i>
                                    <h4>Authentification</h4>
                                    <form action="{{ path("fos_user_security_check") }}" method="post">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                        <input type="hidden" name="_target_path" value="{{ app.request.uri() }}"/>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="first-name">Identifiant ou Email</label>
                                                    <input type="text" id="username" name="_username" required="required" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="first-name">Mots de passe</label>
                                                    <input type="password" id="password" name="_password" required="required" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="btn btn-primary" id="_submit" name="_submit" style="float: right;">S'authentifier</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                        <div class="sidebar-item mb-20">
                            <div class="summary-payment">
                                <div class="summary-header  mb-30">
                                    {% if periode.programme.photoPrincipal is not null %}
                                        <img src="{{ asset(periode.programme.photoPrincipal.assetPath) }}" alt="" style="width: 75px;height: 65px"/>
                                    {% else %}
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=10&txt=No%20image%20available&w=75&h=65" alt="" style="width: 75px;height: 65px"/>
                                    {% endif %}
                                    <h3 class="no-mb">{{ periode.programme|title }}</h3>
                                </div>
                                <div class="bb2 mb-30"></div>
                                <table class="table table-bordered table-striped mb-30">
                                    <tr>
                                        <td colspan=2>
                                            <span class="text-bold">Période :</span> Du {{ periode.depart|date('d/m/Y') }} au {{ periode.retour|date('d/m/Y') }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        label small {
            font-size: 10px;
            color: red;
        }
    </style>
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function () {
            $('#adultes').on('change', function () {
                var adultes = $(this).val();
                var block = $(this).parent().parent().parent().next();
                var exist = block.children().length;
                if (exist < adultes) {
                    for (var i = 1; i <= adultes; i++) {
                        if (i > exist)
                            block.append('<div class="row"><div class="col-md-3"><p style="text-align: right;padding-top: 25px;"> Adulte ' + i + ' </p></div><div class="col-md-5"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="Anom_' + i + '" required class="form-control" /></div></div><div class="col-md-4"><div class="form-group"><label>Passport</label><input type="text" name="Apassport_' + i + '" required class="form-control" /></div></div></div>');
                    }
                }
                else {
                    var toRemove = (exist - adultes);
                    var nmbr = block.children().length;
                    for (var i = nmbr; i >= (nmbr - toRemove); i--)
                        block.children().eq(i).remove();
                }
            })
            $('#enfants').on('change', function () {
                var enfants = $(this).val();
                var block = $(this).parent().parent().parent().next();
                var exist = block.children().length;
                if (exist < enfants) {
                    for (var i = 1; i <= enfants; i++) {
                        if (i > exist)
                            block.append('<div class="row"><div class="col-md-3"><p style="text-align: right;padding-top: 25px;"> Enfant ' + i + ' </p></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="Enom_' + i + '" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="Epassport_' + i + '" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="Eage_' + i + '" required class="form-control"><option value=""></option>{% for i in 1..12 %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div></div></div></div>');
                    }
                }
                else {
                    var toRemove = (exist - enfants);
                    var nmbr = block.children().length;
                    for (var i = nmbr; i >= (nmbr - toRemove); i--)
                        block.children().eq(i).remove();
                }
            })
        })
    </script>
{% endblock %}