{% extends ":Back:base.html.twig" %}
{% block title %}Gestion des Voyage organisé{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        {{ formulaire.input("col-md-3","Libellé",form.libelle,true) }}
                        {{ formulaire.select2("col-md-3","Déstination",form.destination,true) }}
                        {{ formulaire.input("col-md-3","Prix",form.prix,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-3","Nbr Jour",form.nbrJour,true) }}
                        {{ formulaire.input("col-md-3","Nbr Nuitées",form.nbrNuit,true) }}
                        {{ formulaire.input("col-md-3","Depart",form.depart,true) }}
                        {{ formulaire.input("col-md-3","Retoure",form.retour,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-3","Debut inscription",form.debutInscription,true) }}
                        {{ formulaire.input("col-md-3","Fin inscription",form.finInscription,true) }}
                        {{ formulaire.input("col-md-3","Nbr Min inscription",form.nbrInscriptionsMin,true) }}
                        {{ formulaire.input("col-md-3","Nbr Max inscription",form.nbrInscriptionsMax,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.select2("col-md-12","Pays",form.pays,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-12","Description Courte",form.descriptionCourte,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-12","Description Longue",form.descriptionLongue,true) }}
                    </div>
                    {{ formulaire.submit("Enregistrer") }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}