{% if voyage is not null %}
    <ul id="myTab" class="nav nav-tabs tab-bricky">
	<li {% if app.request.get('_route')=='back_vo_ajouter' %}class="active"{% endif %}>
	    <a href="{{ path("back_vo_ajouter",{'id':voyage.id}) }}">
		<i class="green fa fa-home"></i> {{ voyage }}
	    </a>
	</li>
	<li {% if app.request.get('_route')=='back_vo_descriptions' %}class="active"{% endif %}>
	    <a href="{{ path("back_vo_descriptions",{'voyage':voyage.id}) }}">
		<i class="green fa fa-list"></i> Déscriptions ({{ voyage.descriptions|length }})
	    </a>
	</li>
	<li {% if app.request.get('_route')=='back_vo_photos' %}class="active"{% endif %}>
	    <a href="{{ path("back_vo_photos",{'voyage':voyage.id}) }}">
		<i class="green fa fa-image"></i> Images ({{ voyage.photos|length }})
	    </a>
	</li>
    </ul>
{% endif %}