{% extends "BackVoyageOrganiseBundle:voyageOrganise:liste.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackVoyageOrganiseBundle:voyageOrganise:menu.html.twig' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-3","Période",form.periode,true) }}
                            {{ formulaire.input("col-md-3","Libellé",form.libelle,true) }}
                            {{ formulaire.input("col-md-3","Photo",form.file,true) }}
                        </div>
                        <div class="no-display">
                            {{ formulaire.input("col-md-12",null,form.updateAt,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.select2("col-md-12","Hotels",form.hotels,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-2","",form.single,false) }}
                            {{ formulaire.input("col-md-3","Prix achat",form.singleAchat,true) }}
                            {{ formulaire.input("col-md-3","Prix Vente",form.singleVente,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-2","",form.double,false) }}
                            {{ formulaire.input("col-md-3","Prix achat",form.doubleAchat,true) }}
                            {{ formulaire.input("col-md-3","Prix Vente",form.doubleVente,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-2","",form.triple,false) }}
                            {{ formulaire.input("col-md-3","Prix achat",form.tripleAchat,true) }}
                            {{ formulaire.input("col-md-3","Prix Vente",form.tripleVente,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-2","",form.quadruple,false) }}
                            {{ formulaire.input("col-md-3","Prix achat",form.quadrupleAchat,true) }}
                            {{ formulaire.input("col-md-3","Prix Vente",form.quadrupleVente,true) }}
                        </div>
                        <h2>Les Supplémenets <a id="addSupplement" href="javascript:void(0)" style="font-size: 13px;"><span class="fa fa-plus" ></span> Ajouter une ligne</a></h2>
                        <div class="supplements">
                            {% for supp in form.supplements %}
                                <div class="row">
                                    <div class="col-md-1" style="width: 8%">
                                        <label style="margin-top: 25px;">
                                            {{ macros.tableDelete(path("back_vo_ligne_pach_delete",{'id':supp.vars.data.id})) }}
                                        </label>
                                    </div>
                                    {{ formulaire.input("col-md-4","Libellé",supp.libelle,true) }}
                                    {{ formulaire.input("col-md-2","Prix Adulte Achat",supp.adulteAchat,true) }}
                                    {{ formulaire.input("col-md-2","Prix Adulte Vente",supp.adulteVente,true) }}
                                    {{ formulaire.input("col-md-2 no-display","Prix Enfant Achat",supp.enfantAchat,true) }}
                                    {{ formulaire.input("col-md-2 no-display","Prix Enfant Vente",supp.enfantVente,true) }}
                                    {{ formulaire.input("col-md-1","",supp.obligatoire,false) }}
                                </div>
                            {% endfor %}
                        </div>
                        {{ formulaire.submit("Enregistrer") }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Libellé</th>
                                <th>Hotels</th>
                                <th>Suppléments</th>
                                <th class="center" >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pack in packs %}
                                <tr>
                                    <td class="center"><img src="{{ asset(pack.assetPath) }}" style="width: 50px;height: 50px"></td>
                                    <td>{{ pack.libelle }}</td>
                                    <td>{% for hotel in pack.hotels %}- {{ hotel }}<br>{% endfor %}</td>
                                    <td>{% for supp in pack.supplements %}-{{ supp }}<br>{% endfor %}</td>
                                    <td class="TableAction">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            {{ macros.tableEdit(path('back_vo_pack',{'voyage':voyage.id,'id':pack.id})) }}
                                            {{ macros.tableDelete(path('back_vo_pack_delete',{'id':pack.id})) }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function () {
        $('#addSupplement').click(function () {
        var exist = $('.supplements').children().length;
                $('.supplements').append('<div class="row"><div class="col-md-1" style="width: 8%"></div><div class="col-md-4"><div class="form-group"><label class="control-label">Libellé <span class="symbol required"></span></label><input type="text" id="back_voyageorganisebundle_pack_supplements_' + exist + '_libelle" name="back_voyageorganisebundle_pack[supplements][' + exist + '][libelle]" required="required" maxlength="255" class="form-control"></div></div><div class="col-md-2"><div class="form-group"><label class="control-label">Prix Adulte Achat <span class="symbol required"></span></label><input type="text" id="back_voyageorganisebundle_pack_supplements_' + exist + '_adulteAchat" name="back_voyageorganisebundle_pack[supplements][' + exist + '][adulteAchat]" required="required" class="form-control"></div></div><div class="col-md-2"><div class="form-group"><label class="control-label">Prix Adulte Vente <span class="symbol required"></span></label><input type="text" id="back_voyageorganisebundle_pack_supplements_' + exist + '_adulteVente" name="back_voyageorganisebundle_pack[supplements][' + exist + '][adulteVente]" required="required" class="form-control"></div></div><div class="col-md-2  no-display"><div class="form-group"><label class="control-label">Prix Enfant Achat <span class="symbol required"></span></label><input type="text" id="back_voyageorganisebundle_pack_supplements_' + exist + '_enfantAchat" name="back_voyageorganisebundle_pack[supplements][' + exist + '][enfantAchat]" class="form-control"></div></div><div class="col-md-2 no-display"><div class="form-group"><label class="control-label">Prix Enfant Vente <span class="symbol required"></span></label><input type="text" id="back_voyageorganisebundle_pack_supplements_' + exist + '_enfantVente" name="back_voyageorganisebundle_pack[supplements][' + exist + '][enfantVente]" class="form-control"></div></div><div class="col-md-1"><div class="form-group"><label class="control-label"> </label><div class="checkbox"><label><input type="checkbox" id="back_voyageorganisebundle_pack_supplements_' + exist + '_obligatoire" name="back_voyageorganisebundle_pack[supplements][' + exist + '][obligatoire]" value="1">Obligatoire</label></div></div></div></div>');
        })
        })
    </script>
{% endblock %}