{% set saison = hotel.getSaisonPromotionByDate(app.request.session.get('dateDebut')) %}
<li>
    <div class="booking-item">
        <div class="row">
            <div class="col-md-3">
                <div class="booking-item-img-wrap">
                    {% if hotel.photoPrincipal is not null %}
                        <img src="{{ asset(hotel.photoPrincipal.assetPath) }}" alt="Image Alternative text"/>
                    {% else %}
                        <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=No%20image%20available&w=270&h=195"  alt="Image Alternative text"/>
                    {% endif %}                
                </div>
                </a>
            </div>
            <div class="col-md-7">
                <h4 class="booking-item-title margenull"><a href="{{ path('front_hoteltunisie_details',{'slug':hotel.slug}) }}">{{ hotel|title }}</a></h4>
                <div class="booking-item-rating margenull">
                    <ul class="icon-group booking-item-rating-stars">
                        {{ getStars(hotel.getStars)|raw }}
                    </ul>
                    <span class="booking-item-address margenull"><i class="fa fa-map-marker"></i> {{ hotel.ville|title }}</span>
                </div>
                <p class="booking-item-last-booked margenull">{% if saison.type==2 %}
                    <span class="margenull" style='color:#2f96b4;'>{{ saison }} ,</span>
                    {% endif %}
                        Minimum Stay: {{ saison.minStay }} nuitée(s)</p>
                    <p style="font-size: 11px" class="margenull">{% if  hotel.descriptionCourte|length >160 %}
                        {{ hotel.descriptionCourte|slice(0, 160)|raw }} ...
                        {% else %}
                            {{ hotel.descriptionCourte|raw }}
                            {% endif %}
                            </p>
                        </div>
                        <div class="col-md-2 text-center margenull">
                            <div  style="display: inline-block;">
                                {{ hotel.shortTripAdvisor|raw }}
                            </div>
                            {% if saison.type is null %}
                                <span class="booking-item-price-from margenull"> Sur Demande</span>
                            {% else %}
                                <span class="booking-item-price-from margenull">A partir de</span>     
                                <span class="booking-item-price margenull">
                                    {{ saison.prixDeBase|number_format(0) }} <sup style="font-size:10px">DT</sup>
                                </span>
                                <span class="margenull">/{{ saison.arrBase.code }}</span>
                            {% endif %}
                            <a class="btn btn-primary" href="{{ path('front_hoteltunisie_details',{'slug':hotel.slug}) }}">Détails</a>
                        </div>
                    </div>
                </div>
            </li>