<div class="col-md-3">
    <form class="booking-item-dates-change mb30" method="post" action="{{ path('front_hoteltunisie_filtre') }}" style="padding: 0px;">
        <div style="padding: 15px 20px;">
        <label>Mot clé</label>
        <div class="form-group form-group-icon-left main-header-search">
            <i class="fa fa-search input-icon"></i>
            <input type="text" class="form-control" style='background: #4D4D4D' id="hotelLocation" name="motclesSearch"
                   value="{% if motcle!='all' %}{{ motcle }}{% endif %}">
        </div>
        <div class="input-daterange">
            <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                <label>Date d'entrée</label>
                <input type="date" class="form-control"   name="dateDebutSearch" value="{{ app.request.session.get('dateDebut') }}">
            </div>
        </div>
        <div class="form-group">
            <label>Nombre Nuitées</label>
            <input type="number" min="1" class="form-control" name="nuiteesSearch"
                   value="{{ app.request.session.get('nuitees') }}" id="hotel-check-out">
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" name="promotionSearch"
                       {% if app.request.get('promotion')=='yes' %}checked{% endif %}
                       id="optionsCheckbox1"/>Hôtels en promotion</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Recherche" />
        <a style="background-color: #D6CDC5; border-color: #D6CDC5;" href="{{ path('front_hoteltunisie_list') }}" class=" btn btn-primary">Initialiser</a>
        </div>
        <aside class="booking-filters text-white">
            <h3>Filtrer Par:</h3>
            <ul class="list booking-filters-list">
                <li>
                    <h5 class="booking-filters-title">Budget <small>Par pers & par nuitées</small></h5>
                    <input type="text" id="price-slider">
                    <input id="minSearch" type="hidden" name="minSearch" value="{{ app.request.get('min') }}">
                    <input id="maxSearch" type="hidden" name="maxSearch" value="{{ app.request.get('max') }}">
                    <input class="btn btn-primary" type="submit" value="Recherche" />
                </li>
                <li>
                    <h5 class="booking-filters-title">Catégorie</h5>
                    {% set categoriesSplit = app.request.get('categorie')|split(',') %}
                    {% for categorie in categories if categorie.hasHotelsValide %}
                        <div class="checkbox">
                            <label>
                                <input class="i-check" name="categorie_{{ categorie.id }}" {% if categorie.id in categoriesSplit %}checked{% endif %} type="checkbox" value="{{ categorie.id }}"/>{{ categorie|title }}</label>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Recherche" />
                </li>
                <li>
                    <h5 class="booking-filters-title">Ville</h5>
                    {% set villesSplit = app.request.get('ville')|split(',') %}
                    {% for ville in villes if ville.hasHotelsValide %}
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" name="ville_{{ ville.id }}"
                                       {% if ville.id in villesSplit %}checked{% endif %} value="{{ ville.id }}"/> 
                                {{ ville|title }}</label>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Recherche" />
                </li>
                <li>
                    <h5 class="booking-filters-title" {% if app.request.get('chaine') != 'all' or true %}class="active"{% endif %}>Chaîne hôtelière</h5>
                    {% set chainesSplit = app.request.get('chaine')|split(',') %}
                    {% for chaine in chaines if chaine.hasHotelsValide %}
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" name="chaine_{{ chaine.id }}" {% if chaine.id in chainesSplit %}checked{% endif %} value="{{ chaine.id }}">
                                {{ chaine|title }}</label>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Recherche" />
                </li>
                <li>
                    <h5 class="booking-filters-title" {% if app.request.get('tag') != 'all' or true %}class="active"{% endif %}>Thème</h5>
                    {% set tagsSplit = app.request.get('tag')|split(',') %}
                    {% for tag in tags if tag.hasHotelsValide  %}
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" name="tag_{{ tag.id }}" value="{{ tag.id }}">
                                {{ tag|title }}</label>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Recherche" />
                </li>
            </ul>
        </aside>
    </form>
</div>
<script type="text/javascript">
    jQuery("#price-slider").slider({from: 0, to: 1000, step: 5, smooth: true, round: 0, dimension: "&nbsp;DT", skin: "round", format: {format: "# ##0.##"},
        callback: function () {
            for (var i = 0, values = jQuery("#Slider1").val().split(";"), keys = ["min", "max"], final = {}; i < values.length; i++) {
                final[keys[i]] = values[i];
                $('#minSearch').val(final.min);
                $('#maxSearch').val(final.max);
            }
        }
    });
</script>
