<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="sidebar">
	<div class="counting-result">
	    <span class="">{{ hotels.getTotalItemCount }}</span> Hôtels trouvés
	</div>
	<div class="clear" style="height: 5px;"></div>
	<form role="form" {#class="row"#} method="post" action="{{ path('front_hoteltunisie_filtre') }}">
	    <div class="search-filter" style="padding: 0px">
		<ul class="search-tabs-content">
		    <li id="search-f-hotels" class="active">
			<div class="col-xs-12 col-sm-12 col-md-12">
			    <div class="form-group">
				<label for="hotelLocation">Mot clès</label>
				<input type="text" class="form-control" id="hotelLocation" name="motclesSearch" value="{{ motcle }}">
			    </div>
			</div>
			<div class="clear"></div>
			<div class="col-xs-7 col-sm-7 col-md-7">
			    <div class="form-group datepicker-wrapper">
				<label for="hotel-check-in">Date d'entrée</label>
				<input type="text" class="form-control date" name="dateDebutSearch" id="hotel-check-in" value="{{ app.request.session.get('dateDebut') }}">
				<i class="fa fa-calendar"></i>
			    </div>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5">
			    <div class="form-group datepicker-wrapper">
				<label for="hotel-check-out">Nbr Nuitées</label>
				<input type="number" min="1"  class="form-control" name="nuiteesSearch" value="{{ app.request.session.get('nuitees') }}" id="hotel-check-out">
			    </div>
			</div>
			<div class="clear"></div>
			<div class="clear mb-20"></div>
			<div class="col-xs-6 col-sm-6 col-md-6">
			    <a style="margin-top: 5px;" href="{{ path('front_hoteltunisie_list') }}" class="btn btn-danger  btn-xs">Réinitialiser</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
			    <button type="submit" class="btn btn-primary">Recherche</button>
			</div>
		    </li>
		</ul>
	    </div>
	    <div class="clear" style="height: 5px;"></div>
	    <div class="another-toggle">
		<h5>Catégories</h5>
		<div class="another-toggle-inner">
		    <div class="clear mb-10"></div>
		    <fieldset>
			{% set categoriesSplit = app.request.get('categorie')|split(',') %}
			{% for categorie in categories %}
			    <div class="styled-checkbox">
				<label>
				    <input type="checkbox" name="categorie_{{ categorie.id }}" {% if categorie.id in categoriesSplit %}checked{% endif %} value="{{ categorie.id }}">
				    {{ categorie|title }}
				</label>
			    </div>
			{% endfor %}
			<div class="clear"></div>
			<div class="clear mb-20"></div>
			<div class="col-xs-6 col-sm-6 col-md-6">
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
			    <button type="submit" class="btn btn-primary">Recherche</button>
			</div>
		    </fieldset>
		</div>
	    </div>
	    <div class="clear" style="height: 5px;"></div>
	    <div class="another-toggle">
		<h5>Villes</h5>
		<div class="another-toggle-inner">
		    <div class="clear mb-10"></div>
		    <fieldset>
			{% set villesSplit = app.request.get('ville')|split(',') %}
			{% for ville in villes %}
			    <div class="styled-checkbox">
				<label>
				    <input type="checkbox" name="ville_{{ ville.id }}" {% if ville.id in villesSplit %}checked{% endif %} value="{{ ville.id }}">
				    {{ ville|title }}
				</label>
			    </div>
			{% endfor %}
			<div class="clear"></div>
			<div class="clear mb-20"></div>
			<div class="col-xs-6 col-sm-6 col-md-6">
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
			    <button type="submit" class="btn btn-primary">Recherche</button>
			</div>
		    </fieldset>
		</div>
	    </div>
	</form>

    </div>
</div>