{% extends ":Front:base.html.twig" %}
{% block title %}Liste Hôtels en Tunisie{% endblock %}
{% block body %}
    <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{{ path('accueil') }}">Acceuil</a>
                    </li>
                    <li><a href="{{ path('front_hoteltunisie_accueil') }}">Liste Hôtels</a>
                    </li>
                </ul>
                <h4 class="booking-title">{{ hotels.getTotalItemCount }} Hôtel(s) trouvé(s)</h4>
                <div class="row">
                    {% include 'FrontGeneralBundle:hoteltunisie/liste:filtre.html.twig' %}
                    <div class="col-md-9">
                        {% include 'FrontGeneralBundle:hoteltunisie/liste:sort.html.twig' %}
                        <ul class="booking-list">
                            {% for hotel in hotels %}
                            {% include 'FrontGeneralBundle:hoteltunisie/liste:article.html.twig' %}
                        {% endfor %}
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <p><small>{{ hotels.getTotalItemCount }} hotels trouvés.</small>
                                </p>
                                <ul class="pagination">
                                    {{ knp_pagination_render(hotels) }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" gap"></div>
            </div>
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function () {
            $('.showChambre').on('click', function () {
                var table = $(this).parent().parent().parent().find('.table');
                table.toggle();
            })
        })
        $(document).ready(function ($) {

            try {

                for (var i = 100; i <= 10000; i++) {
                    $('#start-val').append(
                            '<option value="' + i + '">' + i + '</option>'
                            );
                }
                // Initialise noUiSlider
                $('.noUiSlider').noUiSlider({
                    range: [0, 1000],
                    start: [{{ app.request.get('min') }},{{ app.request.get('max') }} ],
                    handles: 2,
                    connect: true,
                    step: 1,
                    serialization: {
                        to: [$('#start-val'),
                            $('#end-val')],
                        resolution: 1
                    }
                });
            } catch (err) {

            }

        });
    </script>
{% endblock %}