{% extends ":Front:base.html.twig" %}
{% block title %}Liste hôtels en Tunisie{% endblock %}
{% block body %}
    <div id="page_title">
	<div class="container clearfix">
	    <div class="page-name">{{ block('title') }}</div>
	    <div class="breadcrumb clearfix">
		<a href="{{ path('accueil') }}">Accueil</a>
		<a href="{{ path('front_hoteltunisie_accueil') }}">Hôtels en Tunisie</a>
		<span class="current-page">{{ block('title') }}</span>
	    </div>
	</div>
    </div>
    <div class="banner-intern">
	<img src="{{ asset('front-assets/images/banner-2.png') }}" style="width:100%">
    </div>
    <div id="content_wrapper">
	<div class="container">
	    <div class="row clearfix pv-30 mt-20">
		{% include 'FrontGeneralBundle:hoteltunisie/liste:filtre.html.twig' %}
		<div class="col-xs-12 col-sm-8 col-md-9">
		    {% include 'FrontGeneralBundle:hoteltunisie/liste:sort.html.twig' %}
		    <div class="row items-container list-style">
			{% for hotel in hotels %}
			    {% set saison = hotel.getSaisonPromotionByDate(app.request.session.get('dateDebut')) %}
			    <div class="col-xs-12 col-sm-12 col-md-12">
				<div class="list-item">
				    <div class="list-item-image">
					<div class="image-inner">
					    {% if saison.type==2 %}
						<div class="list-item-price" style="z-index:9;  font-size: 15px;  left: 0px;  top: 20px;  background: red;  color: #FFF;  padding: 3px;  width: 90%;  text-align: center;">
						    {{ saison }}
						</div>
					    {% endif %}
					    <a class="link-image" href="{{ path('front_hoteltunisie_details',{'slug':hotel.slug}) }}">
						{% if hotel.photoPrincipal is not null %}
						    <img src="{{ asset(hotel.photoPrincipal.assetPath) }}" alt="" style="width: 270px;height: 195px" />
						{% else %}
						    <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=No%20image%20available&w=270&h=195" alt="" />
						{% endif %}
						<div class="image-overlay">
						    <div class="overlay-content">
							<div class="overlay-icon"><i class="icon_link"></i></div>
						    </div>
						</div>
					    </a>
					</div>
				    </div>
				    <div class="list-item-label">
					<div class="left">
					    <h4 class="list-item-title"><a href="{{ path('front_hoteltunisie_details',{'slug':hotel.slug}) }}" class="inverse">{{ hotel|title  }}</a> - {{ getStars(hotel.getStars)|raw }}</h4>
					    <span class="list-item-location">{{ hotel.ville|title }}, Min stay : {{ saison.minStay }} nuitée(s)</span>
					    <div class="list-item-details">
						<div class="clear mt-10"></div>
						{% if  hotel.descriptionCourte|length >200 %}
                                                    {{ hotel.descriptionCourte|slice(0, 200)|raw }} ...
                                                {% else %}
                                                    {{ hotel.descriptionCourte|raw }}
                                                {% endif %}
					    </div>
					    <a href="javascript:void(0)" class="showChambre" style="float: right;">Liste des chambres</a>
					</div>
					<div class="right">
					    <div class="list-item-meta">
						<span class="list-item-review" style="top: inherit;text-align: center;  left: -12px;{#right: 20px;#}">
						    {#Par pers & nuit  en  #}{{ saison.arrBase }}
						</span>
					    </div>
					    <div class="list-item-price" style="font-size: 15px;text-align: center;white-space: nowrap;">
						{% if saison.type is null %}
						    Sur Demande
						{% else %}
						    {{ saison.prixDeBase }} DT
						{% endif %}
					    </div>
					    <a href="{{ path('front_hoteltunisie_details',{'slug':hotel.slug}) }}" class="btn">Détails</a>
					</div>
				    </div>
				    <table class="table table-striped" style="display: none;  border: 1px solid #EBE8E6;">
					<tbody>
					    {% for chambre in saison.chambres %}
						<tr>
						    <td style="  width: 270px;">{{ chambre.chambre|title }}</td>
						    <td>{{ saison.arrBase|title }}</td>
						    <td class="center red bold">Sur demande</td>
						    <td class="green bold" style="text-align: right;">
							{% if saison.type is null %}
							    <span style="color: red">Sur Demande</span>
							{% else %}
							    {% if chambre.chambre.type==3 %}
								{% set suppreduc=chambre.suppReducVente/3 %}
							    {% elseif chambre.chambre.type==4 %}
								{% set suppreduc=chambre.suppReducVente/4 %}
							    {% else %}
								{% set suppreduc=chambre.suppReducVente %}
							    {% endif %}
							    {{ saison.prixDeBase + suppreduc }} DT
							{% endif %}
						    </td>
						</tr>
					    {% endfor %}
					</tbody>
				    </table>
				</div>
			    </div>
			{% endfor %}
		    </div>
		    <div class="clear"></div>

		    <nav class="paging pull-right">
			{#<p>Page {{ app.request.get('page') }} of 06</p>#}
			{{ knp_pagination_render(hotels) }}
		    </nav>

		</div>

		<div class="clear"></div>

	    </div>
	</div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
	$(document).ready(function () {
	    $('.showChambre').on('click', function () {
		var table = $(this).parent().parent().parent().find('.table');
		table.toggle();
	    })
	})
    </script>
{% endblock %}