{% extends ":Front:base.html.twig" %}
{% block title %}{{ produit }}{% endblock %}
{% block body %}
    <div id="page_title">
        <div class="container clearfix">
            <div class="page-name">{{ block('title') }}</div>
            <div class="breadcrumb clearfix">
                <a href="{{ path('accueil') }}">Accueil</a>
                <a href="{{ path('front_bienetre_liste') }}">Bien-être Liste</a>
                <span class="current-page">{{ block('title') }}</span>
            </div>
        </div>
    </div>
    <div id="content_wrapper">
        <div class="container">
            <div class="row clearfix pv-50">
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div class="detail-header clearfix">
                        <div class="detail-header-name">
                            <h3 class="hotel-name no-mb">{{ produit }}</h3>
                        </div>
                        <div class="detail-header-name">
                                <h4 class="hotel-name no-mb">{{ produit.centre }}</h4><span>{{ produit.ville }}</span>
                        </div>
                        <div class="detail-header-price">
                            {% for tarif in produit.tarifs if tarif.isValide==true %}
                                <span>A partir de</span>{{ tarif.prixVente }}
                            {%else %} <span>A partir de</span>0.000
                            {%endfor%}
                        </div>
                    </div>
                    {% if produit.photosAlbum|length > 0 %}
                        <div id="detail-slider">
                            <div>
                                <div id="exposure"></div>
                                <div class="clear"></div>
                            </div>
                            <div class="panel">
                                <div id="left"><a href="javascript:void(0);" class="left-arrow"></a></div>
                                <ul id="details-slider-images">
                                    {% for image in produit.photosAlbum %}
                                        <li style="height: 80px">
                                            <a href="{{ asset(image.assetPath) }}"><img src="{{ asset(image.assetPath) }}" alt="Detailts" title="Photo num ° {{ loop.index }}"/></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div id="right"><a href="javascript:void(0);" class="right-arrow"></a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="clear"></div>
                    {% include ':Front:alert.html.twig' %}
                    <div class="clear"></div>
                    <ul class="tabs mt-20">
                        <li><a href="#description" class="active">Description</a></li>
                        <li><a href="#reservation" >Réservation</a></li>
                    </ul>
                    <ul id="detail-tab" class="tabs-content xss-mb">
                        <li id="description" class="active">
                            {% include 'FrontGeneralBundle:bienetre/details:description.html.twig' %}
                        </li>
                        <li id="reservation">
                            {% include 'FrontGeneralBundle:bienetre/details:reservation.html.twig'%}
                        </li>
                    </ul>
                    <div class="clear xss-mb"></div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="sidebar hotel-sidebar">
                        <div class="sidebar-item mb-20">
                            <div class="lp-box">
                                <i class="text-info fa-quote-left"></i>
                                <p class="no-mb">{{ produit.descriptionCourte }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="sidebar hotel-sidebar">
                            <div class="sidebar-item mb-20">
                                <div class="lp-box">
                                    <i class="text-info fa-lock"></i>
                                    <h4>Authentification</h4>

                                    <form action="{{ path("fos_user_security_check") }}" method="post">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                        <input type="hidden" name="_target_path" value="{{ app.request.uri() }}"/>

                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="first-name">Identifiant ou Email</label>
                                                    <input type="text" id="username" name="_username"
                                                           required="required" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="first-name">Mots de passe</label>
                                                    <input type="password" id="password" name="_password"
                                                           required="required" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="btn btn-primary" id="_submit" name="_submit"
                                                    style="float: right;">S'authentifier
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}