{% extends ":Front:base.html.twig" %}
{% block title %}Tarif & disponibilité{% endblock %}
{% block body %}
    <div class="gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="booking-item-payment">
                        <header class="clearfix">

                            <h3><i class="fa fa-lock"></i> Authentification</h3>
                        </header>

                        <form class="booking-item-payment-details" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        <input type="hidden" name="_target_path" value="{{ app.request.uri() }}"/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="first-name">Identifiant ou Email</label>
                                    <input type="text" id="username" name="_username" required="required" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="first-name">Mots de passe</label>
                                    <input type="password" id="password" name="_password" required="required" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-4" style="padding-top: 26px;">
                            <button type="submit" class="btn btn-primary" id="_submit" name="_submit" style="float: right;">S'authentifier</button>
                            </div>
                        </div>
                        </form>
                    </div>
                    {% endif %}
                    <div class="gap gap-small"></div>
                    {% include ':Front:alert.html.twig' %}
                    <div class="detail">
                            <h3>Information Personnelle</h3>
                            <hr>
                            {{ form_start(form) }}
                            <h4>Client :</h4>
                            <div class="row">
                                {{ formulaire.input("col-md-4","Nom & prénom ",form.client.nomPrenom,true) }}
                                {{ formulaire.input("col-md-4","Tel",form.client.tel1,true) }}
                                {{ formulaire.input("col-md-4","Email",form.client.email,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.input("col-md-12","Adresse",form.client.adresse,true) }}
                            </div>
                            <h3>Occupations des chambres</h3>
                            <hr>
                            {% for chambre in chambres %}
                                <h4>Chambre {{ loop.index }}
                                    <small>{{ getNameChambre(chambre.chambre) }}</small>
                                    :
                                </h4>
                                <div class="row">
                                    {% for adulte in chambre.adultes %}
                                        {{ formulaire.input("col-md-3","Adulte "~loop.index,form[adulte],true) }}
                                    {% endfor %}
                                    {% for enfant in chambre.enfants %}
                                        {{ formulaire.input("col-md-3","Enfant "~loop.index,form[enfant],true) }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {% if hotel.options|length >0 %}
                                <h3 class="section-title">Options</h3>
                                <hr>
                                <div class="row">
                                    {% for option in hotel.options %}
                                        {{ formulaire.input("col-md-12",null,form['option_'~option.id],false) }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <h3>Mode de paiement</h3>
                            <hr>
                            {{ form_widget(form.payment) }}
                            <h4>Revoir et réserver votre séjour</h4>
                                <label>
                                    <input class="i-check" type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" required value="option1"> En choisissant de compléter cette réservation Je reconnais que je l'ai lu et accepté
                                    <a href="javascript:void(0)" class="clblue">règles et restrictions</a>,
                                    <a href="javascript:void(0" class="clblue">termes et conditions</a> et
                                    <a href="javascript:void(0" class="clblue">politique de confidentialité</a>. </label>

                            <hr>
                        <div class="row">
                                    <button class="btn btn-primary" type="submit" style="float:right">
                                        Validation & Paiement <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                            </div>
                            <div style="display: none;" >{{ form_rest(form,{'attr':{'required':false}}) }}</div>
                            {{ form_end(form) }}
                    </div>
                    <div class="gap gap-small"></div>
                        </div>

                <div class="col-md-4">
                <div class="booking-item-payment">
                        <header class="clearfix">
                        <a class="booking-item-payment-img" href="#">
                        {% if hotel.photoPrincipal is not null %}
                                <img src="{{ asset(hotel.photoPrincipal.assetPath) }}" alt="Image Alternative text" title={{ hotel }} />
                                {% else %}
                <img src="https://placeholdit.imgix.net/~text?txtsize=10&txt=No%20image%20available&w=75&h=65" alt="" style="width: 75px;height: 65px"/>
                {% endif %}
                            </a>

                            <h5 class="booking-item-payment-title"><a href="#">{{ hotel|title }}</a></h5>
                            <ul class="icon-group booking-item-rating-stars">
                                {{ getStars(hotel.getStars)|raw }}
                            </ul>
                        </header>
                        <ul class="booking-item-payment-details">
                            <li>
                                <h5>Réserver pour {{ nuitees }} Nuitée(s)</h5>
                                <div class="booking-item-payment-date">
                                    <p class="booking-item-payment-date-day">{{ dateDebut|date('d/m/Y') }}</p>
                                </div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
                                <div class="booking-item-payment-date">
                                    <p class="booking-item-payment-date-day">{{ dateFin|date_modify("+1 day")|date('d/m/Y') }}</p>
                                </div>
                            </li>
                            <li>
                                <h5>Chambre(s)</h5>
                                {% set total=0 %}
            {% for chambre in resultat.chambres %}
                {% set total=total + chambre.total %}
                                <p class="booking-item-payment-item-title">{{ loop.index }} - {{ getNameChambre(chambre.details.chambre) }} <small>en {{ getCodeArrangement(chambre.details.arrangement) }}</small></p>
                                <ul class="booking-item-payment-price">
                                    <li>
                                        <p class="booking-item-payment-price-title">Adulte</p>
                                        <p class="booking-item-payment-price-amount">{{ chambre.adultes|length }}</p>
                                    </li>
                                    <li>
                                        <p class="booking-item-payment-price-title">Enfant</p>
                                        <p class="booking-item-payment-price-amount">{{ chambre.enfants|length }}</p>
                                    </li>
                                    <li>
                                    <p class="booking-item-payment-price-title" style="color: #0a9ab8">Total chambre</p>
                                    {% if resultat.surDemande %}
                                        <p class="booking-item-payment-price-amount">Sur demande</p>
                                        {% else %}
                            <p class="booking-item-payment-price-amount">{{ chambre.total|number_format(3,'.','') }}  DT</p>
                        {% endif %}
                        </li>
                                </ul>

                            </li>
                        </ul>
                        {% if chambre.details.supp|length+chambre.details.vue|length >0 %}
                            Suppléments
                            <button type="button" class="summary-collapse collapsed mt-5" data-toggle="collapse" data-target="#collapse2{{ loop.index }}"></button>
                            <div id="collapse2{{ loop.index }}" class="collapse">
                                <div class="left font12 text-warning">
                                    {% for supp in chambre.details.supp %}
                                        - {{ getNameSupp(supp) }}<br>
                                    {% endfor %}
                                    {% for vue in chambre.details.vue %}
                                        - {{ getNameVue(vue) }}<br>
                                    {% endfor %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}
                {% endfor %}
                        <p class="booking-item-payment-total">Total: <span>{% if resultat.surDemande %}
                                        Sur demande
                                    {% else %}
                                        {{ total|number_format(3,'.','') }} DT
                                    {% endif %}</span>
                        </p>
                    </div>
                    </div>
                </div>
                </div>
{% endblock %}