{% extends ":Front:base.html.twig" %}
{% block body %}
	<div class="gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<i class="fa fa-check round box-icon-large box-icon-center box-icon-success mb30"></i>
			<h3 class="text-center">Merci, votre réservation a été effectuée avec succès</h3>
			<h5 class="text-center mb30">Votre numéro de confirmation est <span class="text-success text-bold">{{ reservation.id }}</span></h5>
		</div>
			<div class="col-md-8 detail">
			<ul class="order-payment-list list mb30">
				<h4><a>Informations réservation</a></h4>
				<li>
					<div class="row">
						<div class="col-xs-6">
							<p class="text-left"><span>Nom Prénom: </span></p>
						</div>
						<div class="col-xs-6">
							<p class="text-right"><span>{{ reservation.coordonnees.0 }}</span></p>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-xs-6">
							<p class="text-left"><span>Hôtel: </span></p>
						</div>
						<div class="col-xs-6">
							<p class="text-right"><span>{{ reservation.hotel|title }}, {{ reservation.hotel.ville|title }}</span></p>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-xs-6">
							<p class="text-left"><span>Période: </span></p>
						</div>
						<div class="col-xs-6">
							<p class="text-right"><span>{{ reservation.nuitees }} nuitée(s) ({{ reservation.dateDebut|date('d/m/Y') }} - {{ reservation.dateFin|date_modify("+1 day")|date('d/m/Y') }})</span></p>
						</div>
					</div>
				</li>
				{% if reservation.options|length >0 %}
					<h4><a>Options</a></h4>
					{% for option in reservation.options %}
						<li>
							<div class="row">
								<div class="col-xs-12">
									<p class="text-left"><span>{{ getNameOption(option) }}</span></p>
								</div>
							</div>
						</li>
					{% endfor %}
				{% endif %}
				<li>
					<div class="row">
						<div class="col-xs-6">
							<p class="text-left"><span class="font24 text-success">Total: </span></p>
						</div>
						<div class="col-xs-6">
							<p class="text-right"><span class="font24 text-success">{{ reservation.total }} DT</span></p>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="col-md-4">
			<div class="booking-item-payment">
				<header class="clearfix">
					<a class="booking-item-payment-img" href="#">
						{% if reservation.hotel.photoPrincipal is not null %}
							<img src="{{ asset(reservation.hotel.photoPrincipal.assetPath) }}" alt="Image Alternative text" title={{ reservation.hotel }} />
						{% else %}
							<img src="https://placeholdit.imgix.net/~text?txtsize=10&txt=No%20image%20available&w=75&h=65" alt="" style="width: 75px;height: 65px"/>
						{% endif %}
					</a>

					<h5 class="booking-item-payment-title"><a href="#">{{ reservation.hotel|title }}</a></h5>
					<span>{{ reservation.hotel.ville }}</span>
					<ul class="icon-group booking-item-rating-stars">
						{{ getStars(reservation.hotel.getStars)|raw }}
					</ul>
				</header>
				<ul class="booking-item-payment-details">
					<li>
						<h5>Réservation pour {{ reservation.nuitees }} Nuitée(s)</h5>
						<div class="booking-item-payment-date">
							<p class="booking-item-payment-date-day">{{ reservation.dateDebut|date('d/m/Y') }}</p>
						</div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
						<div class="booking-item-payment-date">
							<p class="booking-item-payment-date-day">{{ reservation.dateFin|date_modify("+1 day")|date('d/m/Y') }}</p>
						</div>
					</li>
					<li>
						<h5>Chambre(s)</h5>
						{% for chambre in reservation.chambres %}
						<p class="booking-item-payment-item-title">{{ loop.index }} - {{ getNameChambre(chambre.chambre) }} <small>en {{ chambre.arrangement.code }}</small></p>
						<ul class="booking-item-payment-price">
							<li>
								<p class="booking-item-payment-price-title">Adulte</p>
								<p class="booking-item-payment-price-amount">{{ chambre.adultes|length }}</p>
							</li>
							<li>
								<p class="booking-item-payment-price-title">Enfant</p>
								<p class="booking-item-payment-price-amount">{{ chambre.enfants|length }}</p>
							</li>
							<li>
								<p class="booking-item-payment-price-title" style="color: #0a9ab8">Total chambre</p>
								{% if reservation.surDemande %}
									<p class="booking-item-payment-price-amount">Sur demande</p>
								{% else %}
									<p class="booking-item-payment-price-amount">{{ chambre.getTotal }}  DT</p>
								{% endif %}
							</li>
						</ul>

					</li>
				</ul>
				{#{% if chambre.supplements|length+chambre.vues|length >0 %}
				Suppléments
				<button type="button" class="summary-collapse collapsed mt-5" data-toggle="collapse" data-target="#collapse2{{ loop.index }}"></button>
				<div id="collapse2{{ loop.index }}" class="collapse">
					<div class="left font12 text-warning">
						{% for supp in chambre.supplements %}
							- {{ getNameSupp(supp) }}<br>
						{% endfor %}
						{% for vue in chambre.vues %}
							- {{ getNameVue(vue) }}<br>
						{% endfor %}
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				{% endif %}#}
				{% endfor %}
				{% if not reservation.surDemande %}
				{% if reservation.remise !=0 %}
					<p class="booking-item-payment-total">Remise: <span>{{ reservation.remise }}</span>
				{% endif %}
				{% if reservation.timbre !=0 %}
				<p class="booking-item-payment-total">Timbre: <span>{{ reservation.timbre }}</span>
				{% endif %}
				{% endif %}
				<p class="booking-item-payment-total">Total: <span>{% if reservation.surDemande %}
                                        Sur demande
                                    {% else %}
							{{ reservation.total }} DT
						{% endif %}</span>
				</p>
			</div>
		</div>

	</div>
	<div class="gap"></div>
</div>
{% endblock %}
