{% extends 'EspaceClientBundle:base:base.html.twig' %}
{% block title %}Programmes & activitées{% endblock %}
{% block body %}
    <div class="tab-content">
        <div id="booking" class="tab-pane fade active in">
            <h2>{{ block('title') }}</h2>
            {% if false %}
                <div class="filter-section gray-area clearfix">
                    <form>
                        <label class="radio radio-inline">
                            <input type="radio" name="filter" checked="checked"/> All Types </label>
                        <label class="radio radio-inline"> <input type="radio" name="filter"/> Hotels </label>
                        <label class="radio radio-inline"> <input type="radio" name="filter"/> Flights </label>
                        <label class="radio radio-inline"> <input type="radio" name="filter"/> Cars </label>
                        <label class="radio radio-inline"> <input type="radio" name="filter"/> Cruises </label>
                        <div class="pull-right col-md-6 action">
                            <h5 class="pull-left no-margin col-md-4">Sort results by:</h5>
                            <button class="btn-small white gray-color">UPCOMING</button>
                            <button class="btn-small white gray-color">CANCELLED</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            <div class="booking-history">
                {% for reservation in reservations %}
                    <div class="booking-info clearfix {% if reservation.etat==9 %}cancelled{% endif %}">
                        <div class="date">
                            <label class="month">{{ reservation.periode.depart|date('M') }}</label>
                            <label class="date">{{ reservation.periode.depart|date('d') }}</label>
                            <label class="day">{{ reservation.periode.depart|date('l') }}</label>
                        </div>
                        <h4 class="box-title">
                            <i class="icon soap-icon-plane  ref-color circle"></i>{{ reservation.programme }}
                            <small>Du {{ reservation.periode.depart|date('d/m/Y') }} au {{ reservation.periode.retour|date('d/m/Y') }}</small>
                            <small>{{ reservation.showEtat }}</small>
                            <small>
                                {% if reservation.responsable is not null %}
                                    Prise en charge par {{ reservation.responsable }}
                                {% endif %}
                            </small>
                        </h4>
                        <dl class="info">
                            <dt>Total</dt>
                            <dd>{{ reservation.total }} DT</dd>
                            <dt>Réservé sur</dt>
                            <dd>{{ reservation.created|date('l, M d, Y') }}</dd>
                        </dl>
                        <button class="btn-mini status">UPCOMMING</button>
                    </div>
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(reservations) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}