{% extends ":Back:base.html.twig" %}
{% block title %}Configuration voucher{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)">{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        {{ formulaire.input("col-md-3","Debut Voucher",form.debutVoucher,true) }}
                        {{ formulaire.input("col-md-3","Type numerotation",form.typeNumerotation,true) }}
                        {{ formulaire.input("col-md-3","Code Couleur",form.codeCouleur,true) }}
                        {{ formulaire.input("col-md-3","",form.gmaps,false) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-12","Texte Voucher",form.texteVoucher,true) }}
                    </div>
                    {{ formulaire.submit("Enregistrer") }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}