<style>
    #CDSWIDSSP {
        width: 100% !important;
    }

    #CDSWIDSSP.widSSPnarrow .widSSPData .widSSPBranding dd {
        width: 100% !important;
    }
</style>
<script>
    function initialize() {
        var styles = [
            {
                featureType: 'road.highway',
                elementType: 'all',
                stylers: [
                    {hue: '#e5e5e5'},
                    {saturation: -100},
                    {lightness: 72},
                    {visibility: 'simplified'}
                ]
            }, {
                featureType: 'water',
                elementType: 'all',
                stylers: [
                    {hue: '#30a5dc'},
                    {saturation: 47},
                    {lightness: -31},
                    {visibility: 'simplified'}
                ]
            }, {
                featureType: 'road',
                elementType: 'all',
                stylers: [
                    {hue: '#cccccc'},
                    {saturation: -100},
                    {lightness: 44},
                    {visibility: 'on'}
                ]
            }, {
                featureType: 'landscape',
                elementType: 'all',
                stylers: [
                    {hue: '#ffffff'},
                    {saturation: -100},
                    {lightness: 100},
                    {visibility: 'on'}
                ]
            }, {
                featureType: 'poi.park',
                elementType: 'all',
                stylers: [
                    {hue: '#d2df9f'},
                    {saturation: 12},
                    {lightness: -4},
                    {visibility: 'on'}
                ]
            }, {
                featureType: 'road.arterial',
                elementType: 'all',
                stylers: [
                    {hue: '#e5e5e5'},
                    {saturation: -100},
                    {lightness: 56},
                    {visibility: 'on'}
                ]
            }, {
                featureType: 'administrative.locality',
                elementType: 'all',
                stylers: [
                    {hue: '#000000'},
                    {saturation: 0},
                    {lightness: 0},
                    {visibility: 'on'}
                ]
            }
        ];
        var myLatlng = new google.maps.LatLng({{ hotel.produit.longitude }}, {{ hotel.produit.latitude }});
        var styledMap = new google.maps.StyledMapType(styles,
                {name: "Styled Map"});
        var mapOptions = {
            zoom: 15,
            center: myLatlng,
            mapTypeControlOptions: {
                mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
    }
    function loadScript() {
        setTimeout(function () {
            $('#map-canvas').css({'display': 'block'});
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
                    'callback=initialize';
            document.body.appendChild(script);

            google.maps.event.trigger(map, 'resize');
        }, 500);
    }
</script>
<script>
$(document).ready(function(){
    $('#nombreChambre').on('change',function(){
        nbrRooms=$(this).val();
        Block = $(this).parent().parent().find('.rooms');
        var exist = Block.children().length;
        if (exist < nbrRooms) {
            for (var i = 1; i <= nbrRooms; i++) {
                if (i > exist)
                    Block.append('<div class="row"><div class="col-md-2" style="padding-top: 20px;"> Chambre '+i+'</div><div class="col-md-2"> <label>Adulte</label> <select class="form-control mySelectBoxClass" name="adulte'+i+'" required>{% for i in 1..5 %} <option value="{{ i }}">{{ i }}</option> {% endfor %} </select></div><div class="col-md-2"> <label>Enfant</label> <select data-chambre="'+i+'" class="form-control mySelectBoxClass enfantSelect" name="enfant'+i+'"> <option value="">0</option> {% for i in 1..5 %} <option value="{{ i }}">{{ i }}</option> {% endfor %} </select></div><div class="ages"></div></div>');
            }
        }
        else {
            var toRemove = (exist - nbrRooms);
            var nmbr = Block.children().length;
            for (var i = nmbr; i >= (nmbr - toRemove); i--)
                Block.children().eq(i).remove();
        }
    })
    $(document).on('change', '.enfantSelect', function() {
        nbrAge=$(this).val();
        idChambre=$(this).data('chambre');
        Block = $(this).parent().parent().find('.ages');
        var exist = Block.children().length;
        if (exist < nbrAge) {
            for (var i = 1; i <= nbrAge; i++) {
                if (i > exist)
                    Block.append('<div class="col-md-1"><label>Age '+i+'</label><select class="form-control" name="age_'+idChambre+'_'+i+'" required style="padding: 0px;">{% for i in 1..12 %} <option value="{{ i }}">{{ i }}</option> {% endfor %}</select></div>');
            }
        }
        else {
            var toRemove = (exist - nbrAge);
            var nmbr = Block.children().length;
            for (var i = nmbr; i >= (nmbr - toRemove); i--)
                Block.children().eq(i).remove();
        }
    })
})
</script>