<div class="availability">
    {% set nbrRoom=1 %}
    {% if app.request.get('room2') is not null %}{% set nbrRoom=nbrRoom+1 %}{% endif %}
    {% if app.request.get('room3') is not null %}{% set nbrRoom=nbrRoom+1 %}{% endif %}
    {% if app.request.get('room4') is not null %}{% set nbrRoom=nbrRoom+1 %}{% endif %}
    {% if app.request.get('room5') is not null %}{% set nbrRoom=nbrRoom+1 %}{% endif %}
    <form method="post" action="{{ path('front_resabooking_details_update_rooms',{'hotel':hotel.id}) }}">
        <div class="availability-inner">
            <div class="form-group datepicker-wrapper  mr-10">
                <label for="availability1-check-in">Date debut</label>
                <input type="text" class="form-control date" name="debut" id="availability1-check-in" value="{{ app.request.get('debut') }}">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="form-group datepicker-wrapper mr-20">
                <label for="availability1-check-out">Date Fin</label>
                <input type="text" class="form-control date" name="fin" id="availability1-check-out" value="{{ app.request.get('fin') }}">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="form-group datepicker-wrapper mr-20">
                <label for="availability1-check-out">Nombre de chambre</label>
                <select class="form-control mySelectBoxClass" name="nombreChambre" id="nombreChambre" required>
                    <option value="">0</option>
                    {% for i in 1..5 %}
                        <option value="{{ i }}" {% if i==nbrRoom %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="update">
                <button type="submit" class="btn btn-info">Recherche <i class="fa-check"></i></button>
            </div>
            <div class="clear"></div>
            <div class="rooms">
                {% for ch in 1..5 %}
                    {% if app.request.get('room'~ch) is not null %}
                        {% set data = app.request.get('room'~ch)|split(',') %}
                        <div class="row">
                            <div class="col-md-2" style="padding-top: 20px;">
                                Chambre {{ ch }}
                            </div>
                            <div class="col-md-2">
                                <label>Adulte</label>
                                <select class="form-control mySelectBoxClass" name="adulte{{ ch }}" required="">
                                    {% for i in 1..5 %}
                                        <option value="{{ i }}" {% if i==data[0] %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Enfant</label>
                                <select data-chambre="{{ ch }}" class="form-control mySelectBoxClass enfantSelect" name="enfant{{ ch }}">
                                    {% for i in 0..5 %}
                                        <option value="{{ i }}" {% if i==data|length-1 %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="ages">
                                {% if data|length-1>0 %}
                                    {% for age in 1..data|length-1 %}
                                        <div class="col-md-1">
                                            <label>Age {{ age }}</label>
                                            <select class="form-control" name="age_{{ ch }}_{{ age }}" required="" style="padding: 0px;width: 113%;">
                                                {% for i in 1..12 %}
                                                    <option value="{{ i }}" {% if i==data[age] %}selected{% endif %}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>
</div>
<div class="clear mb-30"></div>
{% include ':Front:alert.html.twig' %}
{% if reponse.hots is not null %}
    <h4>Choisissez la formule qui vous convient</h4>
    <ul class="detail-item">
        {% for ch in reponse.hots[0].chambres %}
            {% set chambre=ch.chambre[0] %}
            {% set pathVar=path('front_resabooking_devis',{
            'pension':chambre.pension,
            'hotel':hotel.id,
            'debut':app.request.get('debut'),
            'fin':app.request.get('fin'),
            'room1':app.request.get('room1'),
            'room2':app.request.get('room2'),
            'room3':app.request.get('room3'),
            'room4':app.request.get('room4'),
            'room5':app.request.get('room5')
            }) %}
            <li class="clearfix" style="padding: 20px 160px 25px 50px;">
                <div class="br2">
                    <h3>{{ chambre.libelle_pension|title }}</h3>
                    {% for chamb in chambre.chamb %}
                        <span>
                        <ul>
                            <li>{{ chamb.libelle_chambre|title }}
                                <ul>
                                    {% if chamb.nombre_adult !=0 %}
                                        <li>{{ chamb.nombre_adult }} adulte(s)</li>{% endif %}
                                    {% if chamb.nombre_enfant !=0 %}
                                        <li>{{ chamb.nombre_enfant }} enfant(s)</li>{% endif %}
                                    {% if chamb.nombre_bebe !=0 %}
                                        <li>{{ chamb.nombre_bebe }} bébé(s)</li>{% endif %}
                                </ul>
                            </li>
                        </ul>
                    </span><br>
                    {% endfor %}
                </div>
                <div class="detail-meta">
                    <div class="detail-price">
                        {{ margeResaBooking(chambre.price) }} DT <span>Total</span>
                    </div>
                    <a href="{{ pathVar }}" class="btn">Réserver</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
