<div class="detail">
    <p>
        {{ hotel.descriptionLongue|raw }}
    </p>
    {% if hotel.checkIn is not null %}
        <ul>
            <li class="fa fa-clock-o"> Check-In Time<span>{{ hotel.checkIn }} </span></li>
        </ul>
        <ul>
            <li class="fa fa-clock-o"> Check-Out Time<span>{{ hotel.checkOut }} </span></li>
        </ul>
    {% endif %}
    <ul>
        <li class="fa fa-map-marker">{{ hotel.adresse }}</li>
    </ul>
    {% if hotel.tel1 is not null %}
        <ul><li class="fa fa-phone"> {{ hotel.tel1 }}</li></ul>
            {% endif %}
            {% if hotel.tel2 is not null %}
        <ul><li class="fa fa-phone"> {{ hotel.tel2 }}</li></ul>
            {% endif %}

</div>