<h1>{{ hotel }}</h1>
<p>
    {{ hotel.descriptionLongue|raw }}
</p>
{% if hotel.checkIn is not null %}
    <ul class="check-in-out">
        <li><i class="fa-clock-o"></i> Check-In Time<span>{{ hotel.checkIn }} </span></li>
        <li><i class="fa-clock-o"></i> Check-Out Time<span>{{ hotel.checkOut }}</span></li>
    </ul>
{% endif %}
<ul class="address">
    <li><i class="fa-map-marker"></i>{{ hotel.adresse }}</li>
    {% if hotel.tel1 is not null %}
        <li><i class="fa-phone"></i> {{ hotel.tel1 }}</li>
    {% endif %}
    {% if hotel.tel2 is not null %}
        <li><i class="fa-phone"></i> {{ hotel.tel2 }}</li>
    {% endif %}
</ul>
<div class="clear mb-20"></div>