{% extends ":Front:base.html.twig" %}
{% block title %}{{ hotel }}{% endblock %}
{% block body %}
    {% set saison = hotel.getSaisonPromotionByDate(app.request.session.get('dateDebut')) %}
    <div id="page_title">
	<div class="container clearfix">
	    <div class="page-name">{{ block('title') }}</div>
	    <div class="breadcrumb clearfix">
		<a href="{{ path('accueil') }}">Accueil</a>
		<a href="{{ path('front_hoteltunisie_accueil') }}">Hôtels en Tunisie</a>
		<a href="{{ path('front_hoteltunisie_list') }}">Liste</a>
		<span class="current-page">{{ block('title') }}</span>
	    </div>
	</div>
    </div><!-- end slider_wrapper -->
    <div id="content_wrapper">
	<div class="container">
	    <div class="row clearfix pv-50">
		<div class="col-xs-12 col-sm-8 col-md-9">
		    <div class="detail-header clearfix">
			<div class="detail-header-name">
			    <h3 class="hotel-name no-mb">{{ hotel }}</h3>
			    <span class="hotel-location"><i class="fa-map-marker mi text-warning"></i>{{ hotel.ville }}</span>
			</div>
			<div class="detail-header-price">
			    {% if saison.type is null %}
				Sur Demande
			    {% else %}
				{{ saison.prixDeBase }} DT
			    {% endif %}
			    <span>Par pers & nuit en {{ saison.arrBase }}</span>
			</div>
			<div class="detail-header-review">
			    {{ getStars(hotel.getStars)|raw }}
			    <p>436 réservations</p>
			</div>
		    </div>
		    {% if hotel.photosAlbum|length > 0 %}
			<div id="detail-slider">
			    <div>
				<div id="exposure"></div>
				<div class="clear"></div>	
			    </div>
			    <div class="panel">	
				<div id="left"><a href="javascript:void(0);" class="left-arrow"></a></div>				
				<ul id="details-slider-images">
				    {% for image in hotel.photosAlbum %}
					<li><a href="{{ asset(image.assetPath) }}"><img src="{{ asset(image.assetPath) }}" alt="Detailts" title="Photo num ° {{ loop.index }}" /></a></li>
					    {% endfor %}
				</ul>	
				<div id="right"><a href="javascript:void(0);" class="right-arrow"></a></div>
				<div class="clear"></div>
			    </div>
			</div>
		    {% endif %}

		    <div class="clear"></div>

		    <ul class="tabs mt-20">
			<li><a href="#details-tab1">Déscription</a></li>
			<li><a href="#details-tab2"  class="active">Réservation</a></li>
			<li><a href="#details-tab3">Aménagements</a></li>
			    {% if hotel.longitude is not null %}
			    <li onclick="loadScript()"><a href="#details-tab5">Map</a></li>
			    {% endif %}
		    </ul><!-- tabs -->

		    <ul id="detail-tab" class="tabs-content xss-mb">
			<li id="details-tab1">
			    {% include 'FrontGeneralBundle:hoteltunisie/details:description.html.twig' %}
			</li>
			<li id="details-tab2" class="active">
			    {% include 'FrontGeneralBundle:hoteltunisie/details:reservation.html.twig' %}
			</li>
			<li id="details-tab3">
			    {% include 'FrontGeneralBundle:hoteltunisie/details:amenagement.html.twig' %}
			</li>
			<li id="details-tab5">
			    <div id="map-canvas"></div>  
			</li>
		    </ul><!-- end tabs -->
		    <div class="clear xss-mb"></div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-3">
		    <div class="sidebar hotel-sidebar">

			<div class="sidebar-item mb-20">
			    <div class="lp-box">
				<i class="text-info fa-quote-left"></i>
				<p class="no-mb">
				    {{ hotel.descriptionCourte|raw }}
				</p>
			    </div>
			</div>
			{% if  hotel.tripAdvisor is not null and  hotel.tripAdvisor is not empty %}
			    <div class="sidebar-item mb-20">
				{{ hotel.tripAdvisor|raw }}
			    </div>
			{% endif %}
			{% if hotels|length>1 %}
			    <div class="sidebar-item mb-20">
				<div class="lp-box">
				    <i class="text-info fa-heart"></i>
				    <h4>Similaires dans cette ville</h4>
				</div>
				<ul class="small-list-item">
				    {% for hot in hotels if hotel.id!=hot.id %}
					{% set sai = hot.getSaisonPromotionByDate(app.request.session.get('dateDebut')) %}
					<li>
					    <a href="{{ path('front_hoteltunisie_details',{'slug':hot.slug}) }}" class="image-small-list">
						{% if hot.photoPrincipal is not null %}
						    <img src="{{ asset(hot.photoPrincipal.assetPath) }}" alt="" style="width:60px;height: 72px" />
						{% else %}
						    <img src="https://placeholdit.imgix.net/~text?txtsize=10&txt=No%20image&w=60&h=71" alt="" style="width:60px;height: 72px"  />
						{% endif %}
					    </a>
					    <a href="{{ path('front_hoteltunisie_details',{'slug':hot.slug}) }}" class="text-bold inverse">{{ hot }}</a>
					    <div class="price-small">
						<strong>
						    {% if sai.type is null %}
							Sur Demande
						    {% else %}
							{{ sai.prixDeBase }} DT
						    {% endif %}
						</strong>
						<span>Par pers & nuitt</span>
					    </div>
					    {{ getStars(hot.getStars)|raw }}
					</li>
				    {% endfor %}
				</ul>
			    </div>
			{% endif %}

		    </div>
		</div>
	    </div>
	</div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <style>
	#CDSWIDSSP {width: 100% !important;}
	#CDSWIDSSP.widSSPnarrow .widSSPData .widSSPBranding dd {width: 100% !important;}
    </style>
    {% if hotel.longitude is not null and hotel.latitude is not null %}
	<script>
	    function initialize() {
		// Create an array of styles.
		var styles = [
		    {
			featureType: 'road.highway',
			elementType: 'all',
			stylers: [
			    {hue: '#e5e5e5'},
			    {saturation: -100},
			    {lightness: 72},
			    {visibility: 'simplified'}
			]
		    }, {
			featureType: 'water',
			elementType: 'all',
			stylers: [
			    {hue: '#30a5dc'},
			    {saturation: 47},
			    {lightness: -31},
			    {visibility: 'simplified'}
			]
		    }, {
			featureType: 'road',
			elementType: 'all',
			stylers: [
			    {hue: '#cccccc'},
			    {saturation: -100},
			    {lightness: 44},
			    {visibility: 'on'}
			]
		    }, {
			featureType: 'landscape',
			elementType: 'all',
			stylers: [
			    {hue: '#ffffff'},
			    {saturation: -100},
			    {lightness: 100},
			    {visibility: 'on'}
			]
		    }, {
			featureType: 'poi.park',
			elementType: 'all',
			stylers: [
			    {hue: '#d2df9f'},
			    {saturation: 12},
			    {lightness: -4},
			    {visibility: 'on'}
			]
		    }, {
			featureType: 'road.arterial',
			elementType: 'all',
			stylers: [
			    {hue: '#e5e5e5'},
			    {saturation: -100},
			    {lightness: 56},
			    {visibility: 'on'}
			]
		    }, {
			featureType: 'administrative.locality',
			elementType: 'all',
			stylers: [
			    {hue: '#000000'},
			    {saturation: 0},
			    {lightness: 0},
			    {visibility: 'on'}
			]
		    }
		];


		var myLatlng = new google.maps.LatLng({{ hotel.longitude }}, {{ hotel.latitude }});


		// Create a new StyledMapType object, passing it the array of styles,
		// as well as the name to be displayed on the map type control.
		var styledMap = new google.maps.StyledMapType(styles,
			{name: "Styled Map"});


		// Create a map object, and include the MapTypeId to add
		// to the map type control.
		var mapOptions = {
		    zoom: 15,
		    center: myLatlng,
		    mapTypeControlOptions: {
			mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
		    }
		};

		var map = new google.maps.Map(document.getElementById('map-canvas'),
			mapOptions);

		var marker = new google.maps.Marker({
		    position: myLatlng,
		    map: map,
		    title: 'Hello World!'
		});


		//Associate the styled map with the MapTypeId and set it to display.
		map.mapTypes.set('map_style', styledMap);
		map.setMapTypeId('map_style');
	    }


	    function loadScript() {
		setTimeout(function () {
		    $('#map-canvas').css({'display': 'block'});
		    var script = document.createElement('script');
		    script.type = 'text/javascript';
		    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
			    'callback=initialize';
		    document.body.appendChild(script);

		    google.maps.event.trigger(map, 'resize');
		}, 500);
	    }

	</script>
    {% endif %}
    <script>
	
    {% set saison = hotel.getSaisonPromotionByDate(app.request.session.get('dateDebut')) %}
        $(document).ready(function () {
            var obj = {                    {% for chambre in saison.chambres %}
            {{ 'minAdulte'~chambre.chambre.id~':'~chambre.minAdulte|raw }},
            {{ 'maxAdulte'~chambre.chambre.id~':'~chambre.maxAdulte|raw }},
            {{ 'minEnfant'~chambre.chambre.id~':'~chambre.minEnfant|raw }},
        {{ 'maxEnfant'~chambre.chambre.id~':'~chambre.maxEnfant|raw }},                    {% endfor %}
                                };
                                $(document).on('change', '.AdulteChambre', function () {
                                    var chambre = $(this).data('chambre');
                                    var ordre = $(this).data('ordre');
                                    var val = $(this).val();
                                    var nbrKids = obj['maxAdulte' + chambre] - val;
                                    $(this).parent().parent().find('.EnfantChambre').val(nbrKids);
                                    Block = $(this).parent().parent().find('.ages .row');
                                    var exist = Block.children().length;
                                    if (exist < nbrKids)
                                    {
                                        for (var i = 1; i <= nbrKids; i++)
                                        {
                                            if (i > exist)
                                                Block.append('<div class="col-md-1"><label>Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in 1..17 %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                                        }
                                    }
                                    else
                                    {
                                        var toRemove = (exist - nbrKids);
                                        var nmbr = Block.children().length;
                                        for (var i = nmbr; i >= (nmbr - toRemove); i--)
                                            Block.children().eq(i).remove();
                                    }
                                })
                                $('.chambresSelect').change(function () {
                                    var nbrRooms = $(this).val();
                                    var id = $(this).data('id');
                                    Block = $(this).parent().parent().parent().find('.details');
                                    var exist = Block.children().length;
                                    if (exist < nbrRooms)
                                    {
                                        for (var i = 1; i <= nbrRooms; i++)
                                        {
                                            if (i > exist)
                                            {
                                                BlockChambre = window['getChambre' + id](i);
                                                Block.append(BlockChambre);
                                            }
                                        }
                                    }
                                    else
                                    {
                                        var toRemove = (exist - nbrRooms);
                                        var nmbr = Block.children().length;
                                        for (var i = nmbr; i >= (nmbr - toRemove); i--)
                                            Block.children().eq(i).remove();
                                    }
                                })
                                $(document).on('change', '.EnfantChambre', function () {
                                    var chambre = $(this).data('chambre');
                                    var ordre = $(this).data('ordre');
                                    var nbrKids = $(this).val();
                                    $(this).parent().parent().find('.AdulteChambre').val(obj['maxAdulte' + chambre] - nbrKids);
                                    Block = $(this).parent().parent().find('.ages .row');
                                    var exist = Block.children().length;
                                    if (exist < nbrKids)
                                    {
                                        for (var i = 1; i <= nbrKids; i++)
                                        {
                                            if (i > exist)
                                                Block.append('<div class="col-md-2"><label>Age Enf. ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                                        }
                                    }
                                    else
                                    {
                                        var toRemove = (exist - nbrKids);
                                        var nmbr = Block.children().length;
                                        for (var i = nmbr; i >= (nmbr - toRemove); i--)
                                            Block.children().eq(i).remove();
                                    }

                                })
                            });{% for ch in saison.chambres %}
                            function getChambre{{ ch.id }}(i)
                            {
                                return '<div class="row" style="  border: 1px solid #eee;  padding: 10px 0px;  margin: 15px 0px;"><div class="col-md-2" style="padding-top: 25px;">    Chambre ' + i + ' </div><div class="col-md-2">    <label>Adulte</label>    <select name="adulte_{{ ch.chambre.id }}_' + i + '" data-ordre="' + i + '" data-chambre="{{ ch.chambre.id }}"  class="form-control AdulteChambre">        {% for i in ch.maxAdulte..ch.minAdulte %}            <option value="{{ i }}" >{{ i }}</option>        {% endfor %}    </select></div><div class="col-md-2">    <label>Enfant</label>    <select name="enfant_{{ ch.chambre.id }}_' + i + '" class="form-control  EnfantChambre" data-ordre="' + i + '" data-chambre="{{ ch.chambre.id }}">        {% for i in ch.minEnfant..ch.maxEnfant %}            <option value="{{ i }}" >{{ i }}</option>        {% endfor %}    </select></div><div class="col-md-4">    <label>Arrangement</label>    <select name="arrangement_{{ ch.chambre.id }}_' + i + '" class="form-control">        <option value="{{ saison.arrBase.id }}" >{{ saison.arrBase }} (Arr base)</option>{% for arr in saison.arrangements if arr.etat==1 %}<option value="{{ arr.arrangement.id }}" >{{ arr.arrangement }} </option>{% endfor %}</select></div><div class="clearfix"></div><div class="col-md-2"></div><div class="col-md-10 ages" style="margin-top: 10px;" ><div class="row">{% if ch.minEnfant!=0 %}{% for i in 1..ch.minEnfant %}<div class="col-md-2"><label>Age Enf. {{ loop.index }} </label><select name="age_{{ ch.chambre.id }}_' + i + '_{{ loop.index }}" class="form-control" style="width: 70px;" >{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>{% endfor %}{% endif %}</div></div>{% for supp in saison.autresSupplements if verifSuppReducDate(supp.supp,dateDebut,dateFin) %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label><input name="supp_{{ ch.chambre.id }}_' + i + '_{{ supp.supp.id }}" {% if supp.supp.obligatoire %}checked  disabled{% endif %} type="checkbox"/> {{ supp }}</label>    </div>{% endfor %}{% for vue in saison.vues %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label><input name="vue_{{ ch.chambre.id }}_' + i + '_{{ vue.vue.id }}" type="checkbox"/> {{ vue.vue }}</label>    </div>{% endfor %}{% for reduc in saison.autresReductions if verifSuppReducDate(reduc.reduc,dateDebut,dateFin) %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label>- {{ reduc }}</label>    </div>{% endfor %}</div>';
                            }
        {% endfor %}
        </script>   
{% endblock %}