<style>
    #CDSWIDSSP {
        width: 100% !important;
    }

    #CDSWIDSSP.widSSPnarrow .widSSPData .widSSPBranding dd {
        width: 100% !important;
    }
</style>
{% if hotel.longitude is not null and hotel.latitude is not null %}
    <script>
        function initialize() {
            var styles = [
                {
                    featureType: 'road.highway',
                    elementType: 'all',
                    stylers: [
                        {hue: '#e5e5e5'},
                        {saturation: -100},
                        {lightness: 72},
                        {visibility: 'simplified'}
                    ]
                }, {
                    featureType: 'water',
                    elementType: 'all',
                    stylers: [
                        {hue: '#30a5dc'},
                        {saturation: 47},
                        {lightness: -31},
                        {visibility: 'simplified'}
                    ]
                }, {
                    featureType: 'road',
                    elementType: 'all',
                    stylers: [
                        {hue: '#cccccc'},
                        {saturation: -100},
                        {lightness: 44},
                        {visibility: 'on'}
                    ]
                }, {
                    featureType: 'landscape',
                    elementType: 'all',
                    stylers: [
                        {hue: '#ffffff'},
                        {saturation: -100},
                        {lightness: 100},
                        {visibility: 'on'}
                    ]
                }, {
                    featureType: 'poi.park',
                    elementType: 'all',
                    stylers: [
                        {hue: '#d2df9f'},
                        {saturation: 12},
                        {lightness: -4},
                        {visibility: 'on'}
                    ]
                }, {
                    featureType: 'road.arterial',
                    elementType: 'all',
                    stylers: [
                        {hue: '#e5e5e5'},
                        {saturation: -100},
                        {lightness: 56},
                        {visibility: 'on'}
                    ]
                }, {
                    featureType: 'administrative.locality',
                    elementType: 'all',
                    stylers: [
                        {hue: '#000000'},
                        {saturation: 0},
                        {lightness: 0},
                        {visibility: 'on'}
                    ]
                }
            ];


            var myLatlng = new google.maps.LatLng({{ hotel.longitude }}, {{ hotel.latitude }});


            // Create a new StyledMapType object, passing it the array of styles,
            // as well as the name to be displayed on the map type control.
            var styledMap = new google.maps.StyledMapType(styles,
                    {name: "Styled Map"});


            // Create a map object, and include the MapTypeId to add
            // to the map type control.
            var mapOptions = {
                zoom: 15,
                center: myLatlng,
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
                }
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Hello World!'
            });


            //Associate the styled map with the MapTypeId and set it to display.
            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');
        }


        function loadScript() {
            setTimeout(function () {
                $('#map-canvas').css({'display': 'block'});
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
                        'callback=initialize';
                document.body.appendChild(script);

                google.maps.event.trigger(map, 'resize');
            }, 500);
        }

    </script>
{% endif %}
<script>
    {% set saison = hotel.getSaisonPromotionByDate(app.request.session.get('dateDebut')) %}
    $(document).ready(function () {
        var obj = { {% for chambre in saison.chambres %}
                {{ 'minAdulte'~chambre.chambre.id~':'~chambre.minAdulte|raw }},
                {{ 'maxAdulte'~chambre.chambre.id~':'~chambre.maxAdulte|raw }},
                {{ 'minEnfant'~chambre.chambre.id~':'~chambre.minEnfant|raw }},
                {{ 'maxEnfant'~chambre.chambre.id~':'~chambre.maxEnfant|raw }},
        {% endfor %}
    };
    $(document).on('change', '.AdulteChambre', function () {
        var chambre = $(this).data('chambre');
        var frais = $('#chambre-' + chambre).data('frais');
        var ordre = $(this).data('ordre');
        var val = $(this).val();
        var nbrENF = $(this).parent().parent().find('.EnfantChambre').val();
        var nbrKids = obj['maxAdulte' + chambre] - val;
        if (nbrKids > obj['maxEnfant' + chambre])
            nbrKids = obj['maxEnfant' + chambre];
        if (nbrKids < obj['minEnfant' + chambre])
            nbrKids = obj['minEnfant' + chambre];
        Block = $(this).parent().parent().find('.ages .row');
        var exist = Block.children().length;
        if (frais) {
            if (parseInt(nbrENF) + parseInt(val) == 0) {
                var i = 1
                $(this).parent().parent().find('.EnfantChambre').val(1);
                Block.append('<div class="col-md-1"><label>Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
            }
            if (exist >= nbrKids) {
                $(this).parent().parent().find('.EnfantChambre').val(nbrKids);
                var toRemove = (exist - nbrKids);
                var nmbr = Block.children().length;
                for (var i = nmbr; i >= (nmbr - toRemove); i--)
                    Block.children().eq(i).remove();
            }
        }
        else {
            $(this).parent().parent().find('.EnfantChambre').val(nbrKids);
            if (exist < nbrKids) {
                for (var i = 1; i <= nbrKids; i++) {
                    if (i > exist)
                        Block.append('<div class="col-md-1"><label>Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                }
            }
            else {
                var toRemove = (exist - nbrKids);
                var nmbr = Block.children().length;
                for (var i = nmbr; i >= (nmbr - toRemove); i--)
                    Block.children().eq(i).remove();
            }
        }

    })
    $('.chambresSelect').change(function () {
        var nbrRooms = $(this).val();
        var id = $(this).data('id');
        Block = $(this).parent().parent().parent().find('.details');
        var exist = Block.children().length;
        if (exist < nbrRooms) {
            for (var i = 1; i <= nbrRooms; i++) {
                if (i > exist) {
                    BlockChambre = window['getChambre' + id](i);
                    Block.append(BlockChambre);
                }
            }
        }
        else {
            var toRemove = (exist - nbrRooms);
            var nmbr = Block.children().length;
            for (var i = nmbr; i >= (nmbr - toRemove); i--)
                Block.children().eq(i).remove();
        }
    })
    $(document).on('change', '.EnfantChambre', function () {
        var chambre = $(this).data('chambre');
        var frais = $('#chambre-' + chambre).data('frais');
        var ordre = $(this).data('ordre');
        var nbrKids = $(this).val();
        var nbrAd = $(this).parent().parent().find('.AdulteChambre').val();
        var nbrAdulte = obj['maxAdulte' + chambre] - nbrKids;
        if (nbrAdulte > obj['maxAdulte' + chambre])
            nbrAdulte = obj['maxAdulte' + chambre];
        if (nbrAdulte < obj['nbrAdulte' + chambre])
            nbrAdulte = obj['minEnfant' + chambre];
        Block = $(this).parent().parent().find('.ages .row');
        var exist = Block.children().length;
        if (frais) {
            if ((parseInt(nbrAd) + parseInt(nbrKids)) > (obj['minEnfant' + chambre] + obj['maxAdulte' + chambre]))
                $(this).parent().parent().find('.AdulteChambre').val(nbrAdulte);
            if (exist < nbrKids) {
                for (var i = 1; i <= nbrKids; i++) {
                    if (i > exist)
                        Block.append('<div class="col-md-1"><label style="white-space:nowrap;">Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                }
            }
            else {
                var toRemove = (exist - nbrKids);
                var nmbr = Block.children().length;
                for (var i = nmbr; i >= (nmbr - toRemove); i--)
                    Block.children().eq(i).remove();
                if(parseInt(nbrKids)+parseInt(nbrAd)==0)
                    $(this).parent().parent().find('.AdulteChambre').val(1);
            }
        }
        else {
            $(this).parent().parent().find('.AdulteChambre').val(nbrAdulte);
            if (exist < nbrKids) {
                for (var i = 1; i <= nbrKids; i++) {
                    if (i > exist)
                        Block.append('<div class="col-md-1"><label style="white-space:nowrap;">Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                }
            }
            else {
                var toRemove = (exist - nbrKids);
                var nmbr = Block.children().length;
                for (var i = nmbr; i >= (nmbr - toRemove); i--)
                    Block.children().eq(i).remove();
            }
        }

    })
    })
    ;
    {% for ch in saison.chambres %}
    function getChambre{{ ch.id }}(i) {
        return '<div class="row" style="  border: 1px solid #eee;  padding: 10px 0px;  margin: 15px 0px;"><div class="col-md-2" style="padding-top: 25px;">    Chambre ' + i + ' </div><div class="col-md-2">    <label>Adulte</label>    <select name="adulte_{{ ch.chambre.id }}_' + i + '" data-ordre="' + i + '" data-chambre="{{ ch.chambre.id }}"  class="form-control AdulteChambre">        {% for i in ch.maxAdulte..ch.minAdulte %}            <option value="{{ i }}" >{{ i }}</option>        {% endfor %}    </select></div><div class="col-md-2">    <label>Enfant</label>    <select name="enfant_{{ ch.chambre.id }}_' + i + '" class="form-control  EnfantChambre" data-ordre="' + i + '" data-chambre="{{ ch.chambre.id }}">        {% for i in ch.minEnfant..ch.maxEnfant %}            <option value="{{ i }}" >{{ i }}</option>        {% endfor %}    </select></div><div class="col-md-6">    <label>Arrangement</label>    <select name="arrangement_{{ ch.chambre.id }}_' + i + '" class="form-control">        <option value="{{ saison.arrBase.id }}" >{{ saison.arrBase }} (Arr base)</option>{% for arr in saison.arrangements if arr.etat==1 %}<option value="{{ arr.arrangement.id }}" >{{ arr.arrangement }} {% if arr.getReducSuppVente !=0 %}: {{ arr.getReducSuppVente }} DT{% endif %}</option>{% endfor %}</select></div><div class="clearfix"></div><div class="col-md-2"></div><div class="col-md-10 ages" style="margin-top: 10px;" ><div class="row">{% if ch.minEnfant!=0 %}{% for i in 1..ch.minEnfant %}<div class="col-md-2"><label>Age {{ loop.index }} </label><select name="age_{{ ch.chambre.id }}_' + i + '_{{ loop.index }}" class="form-control" style="width: 70px;" >{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>{% endfor %}{% endif %}</div></div>{% for supp in saison.autresSupplements if verifSuppReducDate(supp.supp,dateDebut,dateFin) %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label><input name="supp_{{ ch.chambre.id }}_' + i + '_{{ supp.supp.id }}" {% if supp.supp.obligatoire %}checked  disabled{% endif %} type="checkbox"/> {{ supp }} {{ supp.getSuppAdulteVente }} DT </label>    </div>{% endfor %}{% for vue in saison.vues %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label><input name="vue_{{ ch.chambre.id }}_' + i + '_{{ vue.vue.id }}" type="checkbox"/> {{ vue.vue }} : {{ vue.getSuppVente }} DT</label>    </div>{% endfor %}{% for reduc in saison.autresReductions if verifSuppReducDate(reduc.reduc,dateDebut,dateFin) %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label>- {{ reduc }} : {{ reduc.getSuppAdulteVente }} DT</label>    </div>{% endfor %}</div>';
    }
    {% endfor %}
</script>