<h2>Réservation - {{ hotel|title }}</h2>
<form method="post" action="" role="form" id="form">
    <div class="panel-body">
	{% for chambre in saison.chambres if chambre.etat==1 %}
	    <div class="row" style="margin-bottom: 5px;">
		<div class="row"  style="  padding: 10px;  background-color: #eee;">
		    <div class="col-md-4">
			<label>{{ chambre.chambre }}</label>
			<select name="chambre_{{ chambre.chambre.id }}" data-id="{{ chambre.id }}" class="form-control chambresSelect">
			    {% for i in 0..20 %}
				<option value="{{ i }}" >{{ i }}</option>
			    {% endfor %}
			</select>
		    </div>
		    {% if saison.prixBaseVente+chambre.getSuppReducVente>0 %}
			<div class="col-md-8" style="  padding-top: 30px;"> A partir de <strong> {{chambre.prixChambre}}</strong> DT par personne en <strong>{{ saison.arrBase }}</strong></div>
		    {% endif %}
		</div>
		<div class="row details"></div>
	    </div>
	{% endfor %}
    </div>
    <button type="submit" class="btn" style="float: right;">Tarif & dispo</button>
</form>