{% extends "BackHotelTunisieBundle:referentiel/amenagement:Amenagementliste.html.twig" %}
{% block title %}Gestion des aménagmenets{% endblock %}
{% block description %}Ajouter un améngament{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Ajouter</a>
    </li>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ path('ajout_amenagement') }}" method="post" role="form" id="form">
                        {{ form_widget(form._token) }}
                        <div class="row">
                            {{ formulaire.input("col-md-3","Libellé",form.libelle,true) }}
                            {{ formulaire.select2("col-md-3","Type aménagement",form.typeAmenagement,true) }}
                        </div>
                        {{ formulaire.submit("Ajouter") }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}