{% extends "BackUserBundle:client:liste.html.twig" %}
{% block title %}Liste des réservations PR{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascipt:void(0)">Liste des reservations PR {{ client }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                {% include 'BackUserBundle:client/profil:menu.html.twig' %}
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width table-condensed table-hover"  id="sample_1">
                        <thead>
                            <tr>
                                <th rowspan="2" class="center">ID</th>
                                <th rowspan="2" class="center">Date</th>
                                <th rowspan="2" class="center">Programme</th>
                                <th rowspan="2" class="center">Etat</th>
                                <th colspan="2" class="center">Occupants</th>
                                <th rowspan="2" class="center">Total</th>
                                <th rowspan="2" class="center">Action</th>
                            </tr>
                            <tr>
                                <td class="center" >Adultes</td>
                                <td class="center" >Enfants</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in client.reservationsPR %}
                                <tr class="center">
                                    <td>{{ reservation.id }}</td>
                                    <td>
                                        {{ reservation.created|date('d/m/Y H:i') }}<br>
                                        <span style="color:red">
                                            {% if reservation.frontOffice %}
                                                Front office
                                            {% else %}
                                                Back office
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        {{ reservation.programme|title }}<br>
                                        Du <span style="color:red">{{ reservation.periode.depart|date('d/m/Y') }}</span> au <span style="color:red">{{ reservation.periode.retour|date('d/m/Y') }}</span>
                                    </td>
                                    <td>
                                        {{ reservation.showEtat }}
                                        {% if reservation.sousEtats|length!=0 %}
                                            <a href="#liste" class="buttonEtats" data-toggle="modal" data-id="{{ reservation.id }}">
                                                <small>({{ reservation.sousEtats.last }})</small>
                                            </a>
                                        {% endif %}
                                        <br>
                                        <span style="color:red">{{ reservation.responsable }}</span>
                                    </td>
                                    <td>{{ reservation.adultes|length }}</td>
                                    <td>{{ reservation.enfants|length }}</td>
                                    <td>{{ reservation.total }} DT</td>
                                    <td class="TableAction">
                                        {% if reservation.responsable is null %}
                                            {{ macros.boutton(path('back_programmes_reservation_priseencharge',{'id':reservation.id}),'fa-user','btn-dark-grey','Prendre en charge cette reservation') }}
                                        {% else %}
                                            {{ macros.boutton(path('back_programmes_reservation_consulter',{'id':reservation.id}),'fa-eye','btn-dark-grey','Consulter la réservation') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="liste" class="modal fade" tabindex="-1" data-width="960" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">liste des sous-états</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover table-full-width table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="center">Date</th>
                                <th class="center">Utilisateur</th>
                                <th class="center">Sous-états</th>
                                <th class="center">Commentaire</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyEtats">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function () {
            $(".addEtat").on('click', function () {
                $("#back_administrationbundle_sousetat_pr_reservationPR").val($(this).data('id'));
            });
            $(".buttonEtats").on('click', function () {
                $('#tBodyEtats').html("<tr class='center'><td colspan='4'>Loading ...</td></tr>");
                var res = $(this).data('id');
                $.ajax({
                    url: '{{ path('ajax_reservationPR_to_SousEtats') }}',
                    data: {'id': res},
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        $('#tBodyEtats').empty();
                        $.each(json, function (index, value) {
                            $('#tBodyEtats').append("<tr class='center'><td>" + value['date'] + "</td><td>" + value['user'] + "</td><td>" + value['etat'] + "</td><td>" + value['commentaire'] + "</td></tr>");
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}