{% extends ":Back:base.html.twig" %}
{% block title %}Nouvelle réservation{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md2">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        {{ formulaire.select2("col-md-3","Voyage",form.voyage,true) }}
                        {{ formulaire.select2("col-md-3","Client",form.client,true) }}
                        {{ formulaire.input("col-md-6","Commentaire",form.commentaire,false) }}
                    </div>
                    <div class="row" style="  margin-bottom: 15px;  margin-top: 15px;">
                        <div class="col-md-2">
			    <div class="form-group">
				<label class="control-label">Nombre d'adultes</label>
				<select id="nbrAdultes" required class="form-control"><option value="">0</option>{% for i in 1..10 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select>
			    </div>
			</div>
                    </div>
		    <div class="adultes" id=""></div>
                    <div class="row" style="  margin-bottom: 15px;  margin-top: 15px;">
                        <div class="col-md-2">
			    <div class="form-group">
				<label class="control-label">Nombre d'enfants</label>
				<select id="nbrEnfants" class="form-control">{% for i in 0..10 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select>
			    </div>
			</div>
                    </div>
		    <div class="enfants"></div>
                    {{ formulaire.submit("Enregistrer") }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
	$(document).ready(function () {
	    $('#nbrAdultes').change(function () {
		var nbrAdulte = $(this).val();
		var exist = $('.adultes').children().length;
		if (exist < nbrAdulte)
		{
		    for (var i = 1; i <= nbrAdulte; i++)
		    {
			var ordre = i - 1;
			if (i > exist)
			    $('.adultes').append('<div class="row"><div class="col-md-4"><div class="form-group"><label class="control-label">Nom &amp; Prénom <span class="symbol required"></span>    </label>    <input required type="text" id="back_voyageorganisebundle_reservation_adultes_' + ordre + '_nomPrenom" name="back_voyageorganisebundle_reservation[adultes][' + ordre + '][nomPrenom]" required="required" maxlength="255" class="form-control">    </div></div><div class="col-md-4"><div class="form-group"><label class="control-label">Passport <span class="symbol required"></span>    </label>    <input required type="text" id="back_voyageorganisebundle_reservation_adultes_' + ordre + '_passport" name="back_voyageorganisebundle_reservation[adultes][' + ordre + '][passport]" required="required" maxlength="100" class="form-control">    </div></div><div class="col-md-2 no-display"><div class="form-group"><label class="control-label">Age <span class="symbol required"></span>    </label>    <select id="back_voyageorganisebundle_reservation_adultes_' + ordre + '_age" name="back_voyageorganisebundle_reservation[adultes][' + ordre + '][age]" class="form-control">{% for i in 0..17 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></div></div></div>');
		    }
		}
		else
		{
		    var toRemove = (exist - nbrAdulte);
		    var nmbr = $('.adultes').children().length;
		    for (var i = nmbr; i >= (nmbr - toRemove); i--)
			$('.adultes').children().eq(i).remove();
		}
	    })
	    $('#nbrEnfants').change(function () {
		var nbrAdulte = $(this).val();
		var exist = $('.enfants').children().length;
		if (exist < nbrAdulte)
		{
		    for (var i = 1; i <= nbrAdulte; i++)
		    {
			var ordre = i - 1;
			if (i > exist)
			    $('.enfants').append('<div class="row"><div class="col-md-4"><div class="form-group"><label class="control-label">Nom &amp; Prénom <span class="symbol required"></span>    </label>    <input required type="text" id="back_voyageorganisebundle_reservation_enfants_' + ordre + '_nomPrenom" name="back_voyageorganisebundle_reservation[enfants][' + ordre + '][nomPrenom]" required="required" maxlength="255" class="form-control">    </div></div><div class="col-md-4"><div class="form-group"><label class="control-label">Passport <span class="symbol required"></span>    </label>    <input required type="text" id="back_voyageorganisebundle_reservation_enfants_' + ordre + '_passport" name="back_voyageorganisebundle_reservation[enfants][' + ordre + '][passport]" required="required" maxlength="100" class="form-control">    </div></div><div class="col-md-2"><div class="form-group"><label class="control-label">Age <span class="symbol required"></span>    </label>    <select id="back_voyageorganisebundle_reservation_enfants_' + ordre + '_age" required name="back_voyageorganisebundle_reservation[enfants][' + ordre + '][age]" class="form-control">{% for i in 1..17 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></div></div></div>');
		    }
		}
		else
		{
		    var toRemove = (exist - nbrAdulte);
		    var nmbr = $('.enfants').children().length;
		    for (var i = nmbr; i >= (nmbr - toRemove); i--)
			$('.enfants').children().eq(i).remove();
		}
	    })
	})
    </script>
{% endblock %}