{% extends "BackHotelTunisieBundle:Reservation:liste.html.twig" %}
{% block title %}Consulter la réservation{% endblock %}
{% block description %}{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Consultation</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        {% if reservation.responsable is not null and app.user.id == reservation.responsable.id  %}
            <div class="col-md-12 center">
                {% if reservation.etat in [1,9] %}
                    <a  href="#valider" data-toggle="modal" class="btn btn-success center">
                        Valider
                    </a>
                {% endif %}
                {% if reservation.etat in [1,2] %}
                    <a href="#annuler" data-toggle="modal" class="btn btn-warning center">
                        Annuler 
                    </a>
                {% endif %}
                {% if reservation.etat in [1] %}
                    <a href="{{ path('back_voyages_organises_reservation_supprimer',{'id':reservation.id}) }}" class="btn btn-danger center" onclick="javascript:return(confirm('Etes-vous certain de vouloir supprimer cette reservation ?'))">
                        Supprimer
                    </a>
                {% endif %}
                <hr>
            </div>
        {% endif %}
        <div class="col-md-3">
            <h4 class="center">Réservation</h4><hr>
            <p><strong>Voyage organisé : </strong> {{ reservation.voyage }}</p>
        </div>
        <div class="col-md-6">
            <h5 class="center">N° : {{ reservation.id }}</h5>
            <h3 class="center">{{ reservation.voyage }}</h3>
            <h4 class="center">Etat : {{ reservation.showEtat }}</h4>
            <h5 class="center">{% if reservation.responsable is not null %} Prise en charge par : {{ reservation.responsable }} {% endif %}</h5>
        </div>
        <div class="col-md-3">
            <h4 class="center">Client</h4><hr>
            <p><strong> Nom & prénom : </strong> {{ reservation.client }}</p>
        </div>
        {% if reservation.commentaire is not null and reservation.commentaire is not empty %}
            <div class="col-md-12">
                <hr>
                <p><h4>Commentaire :</h4> {{ reservation.commentaire }}</p>
            </div>
        {% endif %}
        {% if reservation.reglements|length>0 %}
            <div class="col-md-12">
                <hr>
                <h2 class="center">Piéces de réglement</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Piece</th>
                                    <th>Mode Reglement</th>
                                    <th>Date du réglement</th>
                                    <th style="text-align: right">Montant piéce</th>
                                    <th style="text-align: right">Montant payé</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reglement in reservation.reglements %}
                                    <tr>
                                        <td>{{ reglement.piece.numero }}</td>
                                        <td>
                                            {{ reglement.piece.showModeReglement }}
                                            {% if reglement.piece.modeReglement == 'C' %}
                                                / Echéance {{ reglement.piece.dateEcheance|date('d/m/Y') }}
                                            {% endif %}
                                        </td>
                                        <td>{{ reglement.dateCreation|date('d/m/Y') }}</td>
                                        <td style="text-align: right" >{{ reglement.piece.montantOrigine }} DT</td>
                                        <td style="color:red;text-align: right" >{{ reglement.montant }} DT</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4" style="text-align: right" >Montant régle</td>
                                    <td style="color:red;text-align: right" >{{ reservation.montantRegle }} DT</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
	<div class="col-md-12">
	    <hr>
	    <h2>Adultes : </h2>
	    <div class="panel panel-default">
		<div class="panel-body">
		    <table class="table">
			<thead>
			    <tr>
				<th class="center">Nom</th>
				<th class="center">Passport</th>
			    </tr>
			</thead>
			<tbody>
			    <tr>
				{% for adulte in reservation.adultes %}
				    <td class="center">{{ adulte.nomPrenom }}</td>
				    <td class="center">{{ adulte.passport }}</td>
				{% endfor %}
			    </tr>
			</tbody>
		    </table>
		</div>
	    </div>
	    {% if reservation.enfants|length != 0%}
		<h2>Enfants : </h2>
		<div class="panel panel-default">
		    <div class="panel-body">
			<table class="table">
			    <thead>
				<tr>
				    <th class="center">Nom</th>
				    <th class="center">Age</th>
				    <th class="center">Passport</th>
				</tr>
			    </thead>
			    <tbody>
				<tr>
				    {% for enfants in reservation.enfants %}
					<td class="center">{{ enfants.nomPrenom }}</td>
					<td class="center">{{ enfants.age }}</td>
					<td class="center">{{ enfants.passport }}</td>
				    {% endfor %}
				</tr>
			    </tbody>
			</table>
		    </div>
		</div>
	    {% endif %}
	</div>
    </div>
    <div id="valider" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">Valider la réservation</h4>
        </div>
        <form action="{{ path('back_voyages_organises_reservation_total',{'id':reservation.id}) }}" method="post">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Montant total de la réservation : <input type="text" required name="total" value="{{ reservation.total }}" /> </h4>
                            
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-light-grey">
                    Fermer
                </button>
                <button type="submit" class="btn btn-blue">
                    Passer à la validation
                </button>
            </div>
        </form>
    </div>
    <div id="annuler" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">Annuler la réservation</h4>
        </div>
        <form action="{{ path('back_voyages_organises_reservation_annuler',{'id':reservation.id}) }}" method="post">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Commentaire</h4>
                        <p>
                            <textarea name="commentaire" class="form-control" ></textarea>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-light-grey">
                    Fermer
                </button>
                <button type="submit" class="btn btn-blue">
                    Valider l'annulation
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("back-assets/plugins/bootstrap-modal/js/bootstrap-modal.js") }}"></script>
    <script src="{{ asset("back-assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js") }}"></script>
    <script src="{{ asset("back-assets/js/ui-modals.js") }}"></script>
    <script>
			jQuery(document).ready(function () {
			    UIModals.init();
			});
    </script>
{% endblock %}