{% if is_granted('ROLE_VO') %}
	<li class="dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="javascript:void(0)">
	<i class=" clip-earth-2"></i>
	<span class="badge"> {{ reservations|length }}</span>
    </a>
    <ul class="dropdown-menu notifications">
	<li>
	    <span class="dropdown-menu-title center">Voyages Organisés</span>
	</li>
	<li>
	    <div class="drop-down-wrapper">
		<ul>
		    {% for reservation in reservations %}
			<li>
			    <a href="{{ path('back_voyages_organises_reservation_consulter',{'id':reservation.id}) }}">
				<span class="label label-{% if reservation.frontOffice  %}danger{% else %}primary{% endif %}"><i class="fa fa-plane"></i></span>
				<span class="message">{{ reservation.coordonnees.0 }}</span>
				<span class="time">{{ differenceBetweenDates(reservation.created) }}</span>
			    </a>
			</li>
		    {% endfor %}
		</ul>
	    </div>
	</li>
	<li class="view-all">
	    <a href="{{ path('back_voyages_organises_reservation') }}">
		Voir toutes les réservations <i class="fa fa-arrow-circle-o-right"></i>
	    </a>
	</li>
    </ul>
</li>
{% endif %}