{% extends ":Back:base.html.twig" %}
{% block title %}Agence{% endblock %}
{% block description %}
    Modifier votre Agence
{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Agence</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        {{ formulaire.input("col-md-3","Nom de l'agence",form.nom,true) }}
                        {{ formulaire.input("col-md-3","Tel 1",form.tel1,true) }}
                        {{ formulaire.input("col-md-3","Tel 2",form.tel2,true) }}
                        {{ formulaire.input("col-md-3","Fax",form.fax,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-12","Adresse",form.adresse,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-4","Email Contact",form.contactEmail,true) }}
                        {{ formulaire.input("col-md-4","Site Web",form.site,true) }}
                        {{ formulaire.input("col-md-4","Logo",form.file,true) }}
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ asset(agence.assetPath) }}" />
                        </div>
                    </div>
                    {{ formulaire.submit("Modifier") }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}