{% extends ":Back:base.html.twig" %}
{% block title %}Gestion des Produits{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)">{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-3","Code",form.code,true) }}
                            {{ formulaire.input("col-md-3","Libellé",form.libelle,true) }}
                            {{ formulaire.input("col-md-3","TVA",form.tva,false) }}
                        </div>
                        {{ formulaire.submit("Enregistrer") }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-bordered  table-full-width table-condensed">
                        <thead>
                        <tr class="center">
                            <th>#</th>
                            <th>Code</th>
                            <th>Libellé</th>
                            <th>TVA</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produit in produits %}
                            <tr>
                                <td>{{ produit.id }}</td>
                                <td>{{ produit.code }}</td>
                                <td>{{ produit.libelle }}</td>
                                <td>{{ produit.tva }}</td>
                                <td class="TableAction">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        {{ macros.tableEdit(path('configuration_produit',{'id':produit.id})) }}
                                        {{ macros.tableDelete(path('configuration_produit_delete',{'id':produit.id})) }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}