<p>{{ accueil.description }}</p>
<div class="social with_color">
    <a href="skype:{{ accueil.skype }}?call" class="bottomtip" title="Skype"><i class="fa-skype"></i></a>
    <a target="_blank" href="{{ accueil.facebook }}" class="bottomtip" title="Facebook"><i class="fa-facebook"></i></a>
    <a target="_blank" href="{{ accueil.googlePlus }}" class="bottomtip" title="Googole plus"><i class="fa-google-plus"></i></a>
    <a target="_blank" href="{{ accueil.youtube }}" class="bottomtip" title="Youtube"><i class="fa-youtube"></i></a>
</div>