{% extends ":Back:base.html.twig" %}
{% block title %}Tarif & Dispo{% endblock %}
{% block description %}{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)">Tarif & Dispo</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable">
                <ul id="myTab" class="nav nav-tabs tab-bricky">
                    <li class="active">
                        <a href="#details_reservation" data-toggle="tab">
                            <i class="green fa fa-home"></i> Détails Réservation </a>
                    </li>
                    <li>
                        <a href="#formulaire_reservation" data-toggle="tab"> Formulaire </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane in active" id="details_reservation">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h2 class="center">{{ hotel }}</h2>
                                        <h5 class="center">{{ getStars(hotel.getStars)|raw }}</h5>
                                        <p><strong>Fournisseur : </strong>{{ hotel.fournisseur }}</p>
                                        <p><strong>Ville : </strong> {{ hotel.ville.pays|upper }} {{ hotel.ville }}</p>
                                        <p><strong>Date debut : </strong> {{ dateDebut|date('d/m/Y') }}</p>
                                        <p><strong> Nuitées : </strong> {{ nuitees }}</p>
                                        <p>
                                            <strong>Date Fin : </strong> {{ dateFin|date_modify("+1 day")|date("d/m/Y") }}
                                        </p>
                                        <hr>
                                        <p><strong> Client : </strong> {{ client }}</p>
                                        {% if client.amicale is not null %}
                                            <p><strong> Amicale : </strong> {{ client.amicale }}</p>
                                            <p><strong> Plafond : </strong> {{ client.amicale.plafond }} DT</p>
                                            <p>
                                                <strong> Restant : </strong> {{ client.amicale.plafond - client.amicale.montant }} DT
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        <div id='calendar'></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr>
                                    <div class="col-sm-12" id="SaisonBlock">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="formulaire_reservation">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2><i class="fa fa-plus-square teal"></i> Nouvelle réservation
                                            <small>{{ saison }}</small>
                                        </h2>
                                        <hr>
                                        <form method="post" action="{{ path('formulaire_reservation') }}" role="form" id="form">
                                            <div class="panel-body">
                                                {% for chambre in saison.chambres if chambre.etat==1 %}
                                                    <div class="row">
                                                        <div class="row" style="  padding: 10px;  background-color: #eee;  margin-bottom: 5px;">
                                                            <div class="col-md-2">
                                                                <label>{{ chambre.chambre }}</label>
                                                                <select id="chambre-{{ chambre.chambre.id }}" name="chambre_{{ chambre.chambre.id }}" data-frais="{{ isFraisChambre(saison.id,chambre.chambre.id ) }}" data-id="{{ chambre.id }}" class="form-control chambresSelect">
                                                                    {% for i in 0..100 %}
                                                                        <option value="{{ i }}">{{ i }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6" style="padding-top: 28px;">
                                                                A partir de
                                                                <strong> {{ chambre.prixChambre|number_format(0) }}</strong> DT par personne en
                                                                <strong>{{ saison.arrBase }}</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row details"></div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            {{ formulaire.submit("Suivant") }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function () {
            var obj = {
                    {% for chambre in saison.chambres %}
                    {{ 'minAdulte'~chambre.chambre.id~':'~chambre.minAdulte|raw }},
                    {{ 'maxAdulte'~chambre.chambre.id~':'~chambre.maxAdulte|raw }},
                    {{ 'minEnfant'~chambre.chambre.id~':'~chambre.minEnfant|raw }},
                    {{ 'maxEnfant'~chambre.chambre.id~':'~chambre.maxEnfant|raw }},
            {% endfor %}
        };
        $(document).on('change', '.AdulteChambre', function () {
            var chambre = $(this).data('chambre');
            var frais = $('#chambre-' + chambre).data('frais');
            var ordre = $(this).data('ordre');
            var val = $(this).val();
            var nbrENF = $(this).parent().parent().find('.EnfantChambre').val();
            var nbrKids = obj['maxAdulte' + chambre] - val;
            if (nbrKids > obj['maxEnfant' + chambre])
                nbrKids = obj['maxEnfant' + chambre];
            if (nbrKids < obj['minEnfant' + chambre])
                nbrKids = obj['minEnfant' + chambre];
            Block = $(this).parent().parent().find('.ages .row');
            var exist = Block.children().length;
            if (frais) {
                if (parseInt(nbrENF) + parseInt(val) == 0) {
                    var i = 1
                    $(this).parent().parent().find('.EnfantChambre').val(1);
                    Block.append('<div class="col-md-1"><label>Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                }
                if (exist >= nbrKids) {
                    $(this).parent().parent().find('.EnfantChambre').val(nbrKids);
                    var toRemove = (exist - nbrKids);
                    var nmbr = Block.children().length;
                    for (var i = nmbr; i >= (nmbr - toRemove); i--)
                        Block.children().eq(i).remove();
                }
            }
            else {
                $(this).parent().parent().find('.EnfantChambre').val(nbrKids);
                if (exist < nbrKids) {
                    for (var i = 1; i <= nbrKids; i++) {
                        if (i > exist)
                            Block.append('<div class="col-md-1"><label>Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                    }
                }
                else {
                    var toRemove = (exist - nbrKids);
                    var nmbr = Block.children().length;
                    for (var i = nmbr; i >= (nmbr - toRemove); i--)
                        Block.children().eq(i).remove();
                }
            }

        })

        $('#calendar').fullCalendar({
            month:{{ dateDebut|date('m')-1 }},
            year:{{ dateDebut|date('Y') }},
            events: [
                {% for day in calendrier %}
                {
                    id:{{ day.saison.id }}, {% if day.saison.type is null %}
                    color: '#F0AD4E', {% elseif day.saison.type ==1 %}
                    color: '#555', {% else %}
                    color: '#569099', {% endif %}
                    title: "{{ day.saison|raw }}",
                    start: '{{ day.dateDebut }}',
                    end: '{{ day.dateFin }}',
                    url: 'javascript:void(0)'
                }, {% endfor %}
            ],
            eventClick: function (event) {
                $('#SaisonBlock').html('<div class="center"><img  src="{{ asset('back-assets/images/loading1.gif') }}" /></div>');
                $.ajax({
                    url: '{{ path('gey_saison_ajax') }}',
                    data: {'id': event.id},
                    type: 'POST',
                    dataType: 'html',
                    success: function (data) {
                        $('#SaisonBlock').hide().html(data).fadeIn('slow');
                    }
                });
            }
        })
        $('.chambresSelect').change(function () {
            var nbrRooms = $(this).val();
            var id = $(this).data('id');
            Block = $(this).parent().parent().parent().find('.details');
            var exist = Block.children().length;
            if (exist < nbrRooms) {
                for (var i = 1; i <= nbrRooms; i++) {
                    if (i > exist) {
                        BlockChambre = window['getChambre' + id](i);
                        Block.append(BlockChambre);
                    }
                }
            }
            else {
                var toRemove = (exist - nbrRooms);
                var nmbr = Block.children().length;
                for (var i = nmbr; i >= (nmbr - toRemove); i--)
                    Block.children().eq(i).remove();
            }
        })

        $(document).on('change', '.EnfantChambre', function () {
            var chambre = $(this).data('chambre');
            var frais = $('#chambre-' + chambre).data('frais');
            var ordre = $(this).data('ordre');
            var nbrKids = $(this).val();
            var nbrAd = $(this).parent().parent().find('.AdulteChambre').val();
            var nbrAdulte = obj['maxAdulte' + chambre] - nbrKids;
            if (nbrAdulte > obj['maxAdulte' + chambre])
                nbrAdulte = obj['maxAdulte' + chambre];
            if (nbrAdulte < obj['nbrAdulte' + chambre])
                nbrAdulte = obj['minEnfant' + chambre];
            Block = $(this).parent().parent().find('.ages .row');
            var exist = Block.children().length;
            if (frais) {
                if ((parseInt(nbrAd) + parseInt(nbrKids)) > (obj['minEnfant' + chambre] + obj['maxAdulte' + chambre]))
                    $(this).parent().parent().find('.AdulteChambre').val(nbrAdulte);
                if (exist < nbrKids) {
                    for (var i = 1; i <= nbrKids; i++) {
                        if (i > exist)
                            Block.append('<div class="col-md-1"><label style="white-space:nowrap;">Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                    }
                }
                else {
                    var toRemove = (exist - nbrKids);
                    var nmbr = Block.children().length;
                    for (var i = nmbr; i >= (nmbr - toRemove); i--)
                        Block.children().eq(i).remove();
                    if(parseInt(nbrKids)+parseInt(nbrAd)==0)
                        $(this).parent().parent().find('.AdulteChambre').val(1);
                }
            }
            else {
                $(this).parent().parent().find('.AdulteChambre').val(nbrAdulte);
                if (exist < nbrKids) {
                    for (var i = 1; i <= nbrKids; i++) {
                        if (i > exist)
                            Block.append('<div class="col-md-1"><label style="white-space:nowrap;">Age ' + i + ' </label><select name="age_' + chambre + '_' + ordre + '_' + i + '" class="form-control" style="width: 70px;">{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>');
                    }
                }
                else {
                    var toRemove = (exist - nbrKids);
                    var nmbr = Block.children().length;
                    for (var i = nmbr; i >= (nmbr - toRemove); i--)
                        Block.children().eq(i).remove();
                }
            }

        })
        })
        ;
        {% for ch in saison.chambres %}
        function getChambre{{ ch.id }}(i) {
            return '<div class="row" style="  border: 1px solid #eee;  padding: 10px 0px;  margin: 15px 0px;"><div class="col-md-2" style="padding-top: 25px;">    Chambre ' + i + ' </div><div class="col-md-2">    <label>Adulte</label>    <select name="adulte_{{ ch.chambre.id }}_' + i + '" data-ordre="' + i + '" data-chambre="{{ ch.chambre.id }}"  class="form-control AdulteChambre">        {% for i in ch.maxAdulte..ch.minAdulte %}            <option value="{{ i }}" >{{ i }}</option>        {% endfor %}    </select></div><div class="col-md-2">    <label>Enfant</label>    <select name="enfant_{{ ch.chambre.id }}_' + i + '" class="form-control  EnfantChambre" data-ordre="' + i + '" data-chambre="{{ ch.chambre.id }}">        {% for i in ch.minEnfant..ch.maxEnfant %}            <option value="{{ i }}" >{{ i }}</option>        {% endfor %}    </select></div><div class="col-md-6">    <label>Arrangement</label>    <select name="arrangement_{{ ch.chambre.id }}_' + i + '" class="form-control">        <option value="{{ saison.arrBase.id }}" >{{ saison.arrBase }} (Arr base)</option>{% for arr in saison.arrangements if arr.etat==1 %}<option value="{{ arr.arrangement.id }}" >{{ arr.arrangement }} {% if arr.getReducSuppVente !=0 %}: {% if arr.getReducSuppVente>0 %}+{% else %} +sh u   {% endif %} {{ arr.getReducSuppVente }} DT{% endif %}</option>{% endfor %}</select></div><div class="clearfix"></div><div class="col-md-2"></div><div class="col-md-10 ages" style="margin-top: 10px;" ><div class="row">{% if ch.minEnfant!=0 %}{% for i in 1..ch.minEnfant %}<div class="col-md-2"><label>Age {{ loop.index }} </label><select name="age_{{ ch.chambre.id }}_' + i + '_{{ loop.index }}" class="form-control" style="width: 70px;" >{% for i in hotel.minAge..hotel.maxAge %}<option value="{{ i }}" >{{ i }}</option>{% endfor %}</select></div>{% endfor %}{% endif %}</div></div>{% for supp in saison.autresSupplements if verifSuppReducDate(supp.supp,dateDebut,dateFin) %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label><input name="supp_{{ ch.chambre.id }}_' + i + '_{{ supp.supp.id }}" {% if supp.supp.obligatoire %}checked  disabled{% endif %} type="checkbox"/> {{ supp }} : + {{ supp.getSuppAdulteVente }} DT </label>    </div>{% endfor %}{% for vue in saison.vues %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label><input name="vue_{{ ch.chambre.id }}_' + i + '_{{ vue.vue.id }}" type="checkbox"/> {{ vue.vue }} : + {{ vue.getSuppVente }} DT</label>    </div>{% endfor %}{% for reduc in saison.autresReductions if verifSuppReducDate(reduc.reduc,dateDebut,dateFin) %}    <div class="col-md-2"></div>    <div class="col-md-10">        <label>- {{ reduc }} : - {{ reduc.getSuppAdulteVente }} DT</label>    </div>{% endfor %}</div>';        }
        {% endfor %}
    </script>
{% endblock %}