{% extends ":Back:base.html.twig" %}
{% block title %}Tarif & Dispo{% endblock %}
{% block description %}{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Tarif & Dispo</a>
    </li>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable">
                <ul id="myTab" class="nav nav-tabs tab-bricky">
                    <li class="active">
                        <a href="#details_reservation" data-toggle="tab">
                            <i class="green fa fa-home"></i> Détails Réservation
                        </a>
                    </li>
                    <li>
                        <a href="#formulaire_reservation" data-toggle="tab">
                            Formulaire
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane in active" id="details_reservation">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h2 class="center">{{ hotel }}</h2>
                                        <h5 class="center">{{ getStars(hotel.getStars)|raw }}</h5>
                                        <p><strong>Fournisseur  : </strong>{{ hotel.fournisseur }}</p>
                                        <p><strong>Ville  : </strong> {{ hotel.ville.pays|upper }} {{ hotel.ville }}</p>
                                        <p><strong>Date debut : </strong> {{ dateDebut|date('d/m/Y') }}</p>
                                        <p><strong> Nuitées : </strong> {{ nuitees }}</p>
                                        <p><strong>Date Fin : </strong> {{ dateFin|date('d/m/Y') }}</p>
                                        <hr>
                                        <p><strong> Client : </strong> {{ client }}</p>
                                        {% if client.amicale is not null %}
                                            <p><strong> Amicale : </strong> {{ client.amicale }}</p>
                                            {% set convention= client.amicale.getConventionByDateHotel(dateDebut|date('Y-m-d'),hotel.id) %}
                                            {% if convention is null %}
                                                <p><strong> Convention : </strong> Pas de convention</p>
                                            {% else %}
                                                <p><strong> Convention : </strong> {{ convention.remise }}% ({{ convention.showTypeRemise }})</p>
                                                <p><strong> Type Remise : </strong> {{ convention.showTypeRemise }}</p>
                                                <p><strong> Type convention : </strong> {{ convention.showType }}</p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        <div id='calendar'></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr>
                                    <div class="col-sm-12" id="SaisonBlock">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="formulaire_reservation">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- start: FORM VALIDATION 1 PANEL -->
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2><i class="fa fa-plus-square teal"></i> Nouvelle réservation</h2>
                                        <hr>
                                        <form action="#" role="form" id="form">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <tbody>
                                                        {% for chambre in saison.chambres %}
                                                            <tr>
                                                                <td class="center">{{ chambre.chambre }}</td>
                                                                <td class="hidden-xs">
                                                                    <select name="client" class="form-control" placeholder="Nombre de chambre">
                                                                        {% for i in 0..10 %}
                                                                            <option name="{{ i }}" >{{ i }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    A partir de <strong>{{saison.prixBaseVente+chambre.getSuppReducVente}}</strong> DT par personne en <strong>{{ saison.arrBase }}</strong>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            {{ formulaire.submit("Suivant") }}
                                        </form>
                                    </div>
                                </div>
                                <!-- end: FORM VALIDATION 1 PANEL -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function() {
        $('#calendar').fullCalendar({
        month:{{ dateDebut|date('m')-1 }},
                year:{{ dateDebut|date('Y') }},
                events: [
        {% for day in calendrier %}
                    {
                    id:{{ day.saison.id }},{% if day.saison.type is null %}
                            color: '#F0AD4E',{% elseif day.saison.type ==1 %}
                            color: '#555',{% else %}
                            color: '#569099',{% endif %}
                            title: '{{ day.saison }}',
                            start: '{{ day.dateDebut }}',
                            end: '{{ day.dateFin }}',
                            url: 'javascript:void(0)'
                    },{% endfor %}
                    ],
                    eventClick: function(event) {
                    $('#SaisonBlock').html('<div class="center"><img  src="{{ asset('back-assets/images/loading1.gif') }}" /></div>');
                            $.ajax({
                            url: '{{ path('gey_saison_ajax') }}',
                                    data: { 'id' : event.id },
                                    type: 'POST',
                                    dataType: 'html',
                                    success: function(data) {
                                    $('#SaisonBlock').hide().html(data).fadeIn('slow');
                                    }
                            });
                    }
            })
            });
        </script>
        {% endblock %}