{% extends ":Back:base.html.twig" %}
{% block title %}Nouvelle réservation{% endblock %}
{% block description %}{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Nouvelle réservation</a>
    </li>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        {{ formulaire.select2("col-md-2","Ville",form.villes,true) }}
                        {{ formulaire.select2("col-md-3","Hôtel",form.hotels,true) }}
                        {{ formulaire.input("col-md-2","Date",form.dateDebut,true) }}
                        {{ formulaire.input("col-md-2","Nbr de nuitées",form.nuitees,true) }}
                        {{ formulaire.select2("col-md-3","Client",form.client,true) }}
                    </div>
                    {{ formulaire.submit("Suivant") }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function() {
            $('#NewReservationType_villes').on('change', function() {
                var hotel = $('#NewReservationType_hotels');
                hotel.empty();
                hotel.append('<option value="">Loading ...</option>');
                hotel.select2();
                var id = $(this).val();
                $.ajax({
                    url: '{{ path('ajax_ville_to_hotel') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'json',
                    success: function(json) {
                        hotel.empty();
                        $.each(json, function(index, value) {
                            hotel.append('<option value="' + index + '">' + value + '</option>');
                            hotel.select2();
                        });
                    }
                });
            })
        })
    </script>
{% endblock %}