<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Voucher</title>
    <link rel="stylesheet" href="{{ asset('voucher-assets/style.css') }}" media="all"/>
    <style>
        h3 {
            color: {{ getCodeCouleur() }} !important;
        }

        table .total {
            background: {{ getCodeCouleur() }} !important;
        }

        table .no {
            background: {{ getCodeCouleur() }} !important;
        }
    </style>
</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img src="{{ asset(agence.assetPath) }}">
    </div>
    <div id="company">
        <h2 class="name">{{ agence.nom }}</h2>

        <div>{{ agence.adresse }}</div>
        <div>{{ agence.tel1 }}</div>
        <div>{{ agence.tel2 }}</div>
        <div><a>{{ agence.contactEmail }}</a></div>
    </div>
    </div>
</header>
<main>
    <div id="details" class="clearfix">
        <div id="client">
            <div class="to" style="line-height: 39px;">Séjour hôtel en Tunisie</div>
            <h2 class="name">{{ reservation.hotel }}</h2>

            <div class="address">{{ reservation.hotel.adresse }}</div>
            {% if reservation.hotel.tel2 is not null %}
                <div class="address">{{ reservation.hotel.tel1 }}</div>
            {% endif %}
            {% if reservation.hotel.tel2 is not null %}
                <div class="address">{{ reservation.hotel.tel2 }}</div>
            {% endif %}
        </div>
        <div id="invoice">
            <h1>Voucher # {{ NumVoucher(reservation.id) }}</h1>

            <div class="date">Validé {#par <strong>{{ reservation.responsable }}</strong>#} le
                <strong>{{ reservation.validated|date('d/m/Y h:i') }}</strong></div>
            <div class="date">{{ reservation.nuitees }} nuitée(s), Du {{ reservation.dateDebut|date('d/m/Y') }} au {{ reservation.dateFin|date('d/m/Y') }}</div>
        </div>
    </div>
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th class="total" style="width: 1%;">#</th>
            <th class="desc">Description</th>
            <th class="unit" style="width: 1%;">Adulte(s)</th>
            <th class="unit" style="width: 1%;">Enfant(s)</th>
            <th class="qty">ACHAT</th>
            <th class="total">VENTE</th>
        </tr>
        </thead>
        <tbody>
        {% for chambre in reservation.chambres %}
            <tr>
                <td class="no" style="text-align: center;border-right: 1px solid #FFFFFF;"> {{ loop.index }} </td>
                <td class="desc" style="border-right: 1px solid #FFFFFF;">
                    <h3>{{ chambre.chambre }} en {{ chambre.arrangement }}</h3>
                    {% for adulte in chambre.adultes %}
                        <p style="margin-left: 10px;margin-top: 0px;margin-bottom: 0px;">{{ adulte.nom }} </p>
                    {% endfor %}
                    {% for enfant in chambre.enfants %}
                        <p style="margin-left: 10px;margin-top: 0px;margin-bottom: 0px;">{{ enfant.nom }} ({{ enfant.age }} ans)</p>
                    {% endfor %}
                    {% for supp in chambre.supplements %}
                        <p style="margin-left: 15px;margin-top: 0px;margin-bottom: 0px;"> - {{ getNameSupp(supp) }}</p>
                    {% endfor %}
                    {% for vue in chambre.vues %}
                        <p style="margin-left: 15px;margin-top: 0px;margin-bottom: 0px;"> - {{ getNameVue(vue) }}</p>
                    {% endfor %}
                </td>
                <td class="unit" style="text-align: center;border-right: 1px solid #FFFFFF;"> {{ chambre.adultes|length }} </td>
                <td class="unit" style="text-align: center;border-right: 1px solid #FFFFFF;"> {{ chambre.enfants|length }} </td>
                <td class="qty" style="border-right: 1px solid #FFFFFF;">{% if reservation.surDemande %}Sur demande{% else %}{{ chambre.getTotalAchat }}{% endif %}</td>
                <td class="total">{% if reservation.surDemande %}Sur demande{% else %}{{ chambre.getTotal }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" rowspan="3" style="text-align: left;">
                {% if reservation.options|length >0 %}
                    <h3>Options :</h3>
                    <p style="margin-left: 10px;margin-top: 0px;margin-bottom: 0px;">
                    {% for option in reservation.options %}
                        <p> - {{ getNameOption(option) }}</p>
                    {% endfor %}
                {% endif %}
            </td>
            <td colspan="2"></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td></td>
        </tr>
        {% if not reservation.surDemande %}
            <tr>
                <td colspan="2"></td>
                <td colspan="2">Totaux en DT</td>
                <td>{{ reservation.calcAchat }}</td>
                <td>{{ reservation.calcVente }}</td>
            </tr>
        {% endif %}
        </tfoot>
    </table>
    <div id="notices">
        <div class="notice" style="text-align: justify;font-size: 13px;">{{ reservation.observation }}</div>
    </div>
    {#<div id="thanks" style="margin-bottom: 20px;">Remarques</div>#}
    <div id="notices">
        <div class="notice" style="text-align: justify;font-size: 13px;">
            {{ getTexteVoucher()|raw }}
        </div>
    </div>
</main>
<footer>
    {{ agence.adresse }} - Tél : {{ agence.tel1 }} - {{ agence.tel2 }} - Fax : {{ agence.fax }}
    <br/> E-mail : {{ agence.contactEmail }} - Site Web : {{ agence.site }}
</footer>
</body>
</html>