{% extends ":Back:base.html.twig" %}
{% block title %}Liste des Piéces{% endblock %}
{% block description %}Liste{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >liste des pieces</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body tab-content">
                <form action="{{ path('filtre_pieces') }}" method="post" role="form" id="form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Clients</label>
                                <select name="client"  class="form-control search-select">
                                    <option value="all">Tous le clients</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}" {% if app.request.get('client')==client.id %}selected{% endif %} >{{ client }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button class="btn btn-green btn-block" type="submit" style="margin-top: 24px;">
                                    Filtre <i class="fa fa-arrow-circle-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nombre de piéce : {{ pieces.getTotalItemCount }}
                </div>
                <div class="panel-body">
                    <table class="table  table-bordered  table-full-width table-condensed ">
                        <thead>
                            <tr>
                                <th class="center">#</th>
                                <th class="center">Client</th>
                                <th class="center">Création</th>
                                <th class="center">Libellé</th>
                                <th class="center">Mode réglement</th>
                                <th class="center">Montant d'origine</th>
                                <th class="center">Montant Restant</th>
                                <th class="center" >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for piece in pieces %}
                                <tr class="center"  {% if piece.modeReglement in ['AD','PC']  %}style='  background-color: papayawhip;'{% endif %}>
                                    <td>{{ piece.id }}</td>
                                    <td>{{ piece.client }}</td>
                                    <td>{{ piece.dateCreation|date('d/m/Y') }}</td>
                                    <td>{{ piece.numero }}</td>
                                    <td>
                                        {{ piece.showModeReglement }}
                                        {% if piece.modeReglement == 'C' %}
                                            / Echéance {{ piece.dateEcheance|date('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                    <td>{{ piece.montantOrigine }} DT</td>
                                    <td>{{ piece.montant }} DT</td>
                                    <td class="TableAction"> 
					<a href="#remplacer" data-id="{{ piece.id }}" data-montantorigine="{{ piece.montantOrigine }}" data-numero="{{ piece.numero }}" data-toggle="modal" class="remplacer btn btn-xs  tooltips" data-placement="top" data-original-title="Remplacer la piéce">
					    <i class="fa fa-reply"></i>
					</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(pieces) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="remplacer" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">Remplacer la piéce <span style="color:red" id="numero" ></span> par une autre piéce</h4>
        </div>
        {{ form_start(form) }}
        <div class="modal-body">
            <div class="row no-display">
                {{ formulaire.input("col-md-3","piece",form.piece,true) }}
            </div>
            <div class="row">
                {{ formulaire.input("col-md-3","Désignation",form.newPiece.numero,true) }}
                {{ formulaire.input("col-md-3","Mode de Reglement",form.newPiece.modeReglement,true) }}
                {{ formulaire.input("col-md-3 no-display echeance ","Date Echeance",form.newPiece.dateEcheance,true) }}
                {{ formulaire.input("col-md-3","Montant",form.newPiece.montantOrigine,true) }}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-light-grey">
                Fermer
            </button>
            <button type="submit" class="btn btn-blue">
                Remplacer la piéce
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("back-assets/plugins/bootstrap-modal/js/bootstrap-modal.js") }}"></script>
    <script src="{{ asset("back-assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js") }}"></script>
    <script src="{{ asset("back-assets/js/ui-modals.js") }}"></script>
    <script>
	jQuery(document).ready(function () {
	    UIModals.init();
	});
    </script>
{% endblock %}
{% block jquery %}
    <script>
	$(document).ready(function () {
	    $('#form_newPiece_montantOrigine').prop('required', true);
	    $('#form_newPiece_modeReglement').prop('required', true);
	    $('#form_newPiece_numero').prop('required', true);
	    $('.remplacer').on('click',function () {
		var id = $(this).data('id');
		var numero = $(this).data('numero');
		var montantorigine = $(this).data('montantorigine');
		$('#form_piece').val(id);
		$('#numero').html(numero + ' (' + montantorigine + ' DT)');
	    })
	    $('#form_newPiece_modeReglement').change(function () {
		if ($(this).val() == 'C')
		{
		    $('.echeance').removeClass('no-display');
		    $('#form_newPiece_dateEcheance').prop('required', true);
		}
		else
		{
		    $('.echeance').addClass('no-display');
		    $('#form_newPiece_dateEcheance').prop('required', false);
		}
	    })
	    $('#form_newPiece_numero').keypress(function () {
		$('#form_newPiece_montantOrigine').prop('disabled', false);
		$('#form_newPiece_modeReglement').prop('disabled', false);
		$('#form_newPiece_numero').prop('required', true);
		$('#form_newPiece_modeReglement').prop('required', true);
		$('#form_newPiece_montantOrigine').prop('required', true);
	    })
	})
    </script>
{% endblock %}
