{% set saison = ole.hotel.getSaisonPromotionByDate(app.request.session.get('dateDebut')) %}
<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="list-item">
		<div class="list-item-image">
			<div class="image-inner">
				{% if saison.type==2 %}
				<div class="list-item-price" style="z-index:9;  font-size: 15px;  left: 0px;  top: 20px;  background: red;  color: #FFF;  padding: 3px;  width: 90%;  text-align: center;">
				{{ saison }}
				</div>
			{% endif %}
			<a class="link-image" href="{{ path('front_hoteltunisie_details',{'slug':ole.hotel.slug}) }}">
				{% if ole.hotel.photoPrincipal is not null %}
				<img src="{{ asset(ole.hotel.photoPrincipal.assetPath) }}" alt="" style="width: 270px;height: 195px" />
				{% else %}
				<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=No%20image%20available&w=270&h=195" alt="" />
				{% endif %}
				<div class="image-overlay">
				<div class="overlay-content">
					<div class="overlay-icon"><i class="icon_link"></i></div>
				</div>
				</div>
			</a>
			</div>
		</div>
		<div class="list-item-label">
			<div class="left">
			<h4 class="list-item-title"><a href="{{ path('front_hoteltunisie_details',{'slug':ole.hotel.slug}) }}" class="inverse">{{ ole.hotel|title  }}</a> - {{ getStars(ole.hotel.getStars)|raw }}</h4>
			<span class="list-item-location">{{ ole.hotel.ville|title }}, Min stay : {{ saison.minStay }} nuitée(s)</span>
			<div class="list-item-details">
				<div class="clear mt-10"></div>
				{% if  ole.hotel.descriptionCourte|length >200 %}
				{{ ole.hotel.descriptionCourte|slice(0, 200)|raw }} ...
				{% else %}
				{{ ole.hotel.descriptionCourte|raw }}
				{% endif %}
			</div>
			<a href="javascript:void(0)" class="showChambre" style="float: right;">Liste des chambres</a>
			</div>
			<div class="right">
			{{ render(controller('BackResaBookingBundle:FrontBooking:showAvailibility',{'id': ole.idResa,'priceonly': true })) }}
			<a href="{{ path('resa_booking_hotels_details',{'slug':ole.hotel.slug}) }}" class="btn">Détails</a>
			</div>
		</div>

		{{ render(controller('BackResaBookingBundle:FrontBooking:showAvailibility',{'id': ole.idResa })) }}
    </div>
</div>