<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Olé voyage{% endblock %}</title>
	{% block meta %}
	    <meta name="keywords" content=""/>
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	{% endblock %}

	<link rel="shortcut icon" href="{{ asset('front-assets/images/ico/favico.ico') }}">

	{% block stylesheets %}
	    <!-- Styles -->
	    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/bootstrap/css/bootstrap.css') }}" media="screen" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/external-styled.css') }}" media="screen" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/style.css') }}" media="screen" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/icons.css') }}" media="screen" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/animate.css') }}" media="screen" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/jquery-ui.css') }}" media="screen" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/smoothness/jquery-ui-1.8.16.custom.css') }}" media="screen" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/responsive.css') }}" media="screen" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/yamm.css') }}" media="screen" />
	    <!-- Google Fonts -->
	    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100,500,400italic,500italic,700' rel='stylesheet' type='text/css'>
	{% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ asset('front-assets/js/html5shiv.js') }}"></script>
          <script src="{{ asset('front-assets/js/respond.min.js') }}"></script>
        <![endif]-->

        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    </head>

    <body>
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <div id="body_wrapper" class="full">
            <header id="header">
		{% include ':Front:topnav.html.twig' %}

                <div class="clear"></div>
                <div class="large-header my_sticky">
                    <div class="clearfix">
                        <div class="logo">
                            <a href="{{ path('accueil') }}" title="Logo"><img src="{{ asset('front-assets/images/logo.png') }}" alt="Logo"></a>
                        </div>
			{% include ':Front:menu.html.twig' %}
                    </div>
                </div>   
            </header>
		{% block body %}
		{% endblock %}
	    {% include ':Front:footer.html.twig' %}    
	</div>
	<!-- Scripts -->
	{% block javascripts %}
	    <script src="{{ asset('front-assets/js/jquery.v2.0.3.js') }}"></script>
	    <script src="{{ asset('front-assets/bootstrap/js/bootstrap.min.js') }}"></script>
	    <script src="{{ asset('front-assets/js/jquery-ui.min.js') }}"></script> 
	    <script src="{{ asset('front-assets/js/plugins.js') }}"></script>
	    <script src="{{ asset('front-assets/js/sliders.js') }}"></script>
	    <script src="{{ asset('front-assets/js/custom.js') }}"></script>  
	    <script >
		setTimeout(function () {
		    $('.menu-voayge').addClass('animated bounceIn').show();
		}, 1000);

		if ($(window).width() > 786) {
		    $('.menu-voayge a.smd').on('mouseenter', function () {
			$('.image-hover').hide();
			$(this).parent().children('.image-hover').addClass('animated fadeInDown').fadeIn();
		    });

		    $('.menu-voayge .image-hover').on('mouseleave', function () {
			$(this).parent().children('.image-hover').removeClass('animated fadeInDown').fadeOut();
		    });
		}
	    </script>
	{% endblock %}
	{% block jquery %}
	{% endblock %}
    </body>
</html>
