<footer id="main-footer">
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-3">
                <a class="logo" href="/">
                    <img src="{{ asset('front-assets/img/logo.png')}}" alt="Image Alternative text" title="Thalassa" />
                </a>
                <p class="mb20">{#{{ render(controller('FrontConfigBundle:Accueil:footer')) }}#}
                    Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                <ul class="list list-horizontal list-space">
                    <li>
                        <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Newsletter</h4>
                <label>Entrer votre Adresse E-mail</label>
                <form name="email-validation" id="email-validation" action="#" novalidate>
                    <input type="email" name="form-control" id="input-email" class="form-control">
                    <p class="mt5"><small>*We Never Send Spam</small>
                    </p>
                    <button type="submit" class="btn btn-primary submit-button">Envoyer</button>
                </form>
            </div>
            <div class="col-md-2">
                <ul class="list list-footer">
                        <li><a href="{{ path('front_hoteltunisie_list') }}">Hôtels en tunisie</a></li>
                        <li><a href="{{ path('front_voyageorganise_liste') }}">Voyages Organisés</a></li>
                        <li><a href="{{ path('front_programme_liste') }}">Programmes & acivités</a></li>
                        <li><a href="{{ path('front_billetterie') }}">Billetterie</a></li>
                        <li><a href="{{ path('front_bienetre_liste') }}">Bien-être</a></li>
                    </ul>
            </div>
            <div class="col-md-4">
                <h4>Vous avez des questions?</h4>
                <h4 class="text-color">{{ getAgence().tel1 }}</h4>
                <h4><a href="#" class="text-color">{{ getAgence().contactEmail }}</a></h4>
                <p>{{ getAgence().adresse }}</p>
            </div>

        </div>
    </div>
</footer>