<div id="slider_wrapper">
    <div class="menu-voayge">
        <div class="container  ">
            <div class="menu-voayge-content">
                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="smd ">Olé Monde</a>
                        <div class="image-hover">
                            <a href=""><img src="{{ asset('front-assets/images/menu-voyage/monde-1.png') }}" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="smd">Olé Tunisie</a>
                        <div class="image-hover">
                            <a href=""><img src="{{ asset('front-assets/images/menu-voyage/tunisie-1.png') }}" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-slider-wrapper center-capture">
        <div id="owl-slider" class="owl-carousel owl-theme">

            <div class="item">
                <img class="lazyOwl" data-src="{{ asset('front-assets/images/sliders/owlSlider-01.jpg') }}" alt="Image">
                <div class="owl-capture">
                    <p class="owl-price">Starting From $190 only</p>
                    <h2><a href="#" class="right-capture">Exotic Paradise Relax</a></h2>
                    <p>Phuket, Thailand</p>
                </div>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="{{ asset('front-assets/images/sliders/owlSlider-02.jpg') }}" alt="Image">
                <div class="owl-capture">
                    <p class="owl-price">Starting From $250 only</p>
                    <h2><a href="#" class="right-capture">Explore Romantic City</a></h2>
                    <p>Venice, Italy</p>
                </div>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="{{ asset('front-assets/images/sliders/owlSlider-03.jpg') }}" alt="Image">
                <div class="owl-capture">
                    <p class="owl-price">Starting From $370 only</p>
                    <h2><a href="#" class="right-capture">Enjoy Your Modern Life</a></h2>
                    <p>Paris, France</p>
                </div>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="{{ asset('front-assets/images/sliders/owlSlider-04.jpg') }}" alt="Image">
                <div class="owl-capture">
                    <p class="owl-price">Starting From $400 only</p>
                    <h2><a href="#" class="right-capture">Your Honeymoon Day</a></h2>
                    <p>Santorini, Greece</p>
                </div>
            </div>
        </div>
        <div class="owlSliderNavigation">
            <a class="owlSlider-prev"><i class="arrow_carrot-left_alt2"></i></a>
            <a class="owlSlider-next"><i class="arrow_carrot-right_alt2"></i></a>
        </div>
    </div>
</div>