{% extends "BackHotelTunisieBundle:Hotels:liste.html.twig" %}
{% block title %}{{ hotel.libelle }}{% endblock %}
{% block description %}Liste des saisons{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="{{ path('modif_hotel',{'id':hotel.id}) }}" >{{ hotel.libelle }}</a>
    </li>
    <li>
        <a href="javascript:void(0)" >Liste des saisons</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackHotelTunisieBundle:Hotels:menu_hotel.html.twig' %}
                <h3>Liste des saisons</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table  table-bordered table-hover table-full-width table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th class="center">#</th>
                                    <th class="center">Contrat</th>
                                    <th class="center">Type</th>
                                    <th class="center">Libellé</th>
                                    <td class="center">Périodes</td>
                                    <td class="center">Amicales</td>
                                    <th class="center">Date Creation</th>
                                    <th class="center" >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for saison in saisons %}
                                    <tr>
                                        <td class="center">{{ saison.id }}</td>
                                        <td class="center">{{ saison.contrat }}</td>
                                        <td class="center">
                                            {% if saison.type==1 %}
                                                <span class="label label-sm label-purple">Saison</span>
                                            {% elseif saison.type==2 %}
                                                <span class="label label-sm label-info">Promotion</span>
                                            {% elseif saison.type==3 %}
                                                <span class="label label-sm label-teal">Amicales</span>
                                            {% elseif saison.type==4 %}
                                                <span class="label label-sm label-inverse">Contingents ({{ saison.totalContingent }})</span>
                                            {% endif %}
                                            {% if not saison.isValid %}
                                                <span class="badge badge-danger"><i class="fa fa-times fa fa-warning"></i></span>
                                                {% endif %}
                                        </td>
                                        <td class="center">{{ saison.libelle }}</td>
                                        <td class="center">
                                            {% for periode in saison.periodes %}
                                                {{ periode.showPeriode|raw }}<br>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for amicale in saison.amicales %}
                                                -  {{ amicale }} <br>
                                            {% endfor %}
                                        </td>
                                        <td class="center">{{ saison.created|date('d/m/Y') }}</td>
                                        <td class="TableAction">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                {{ macros.tableEdit(path('PeriodeSaison', {'id':saison.id})) }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(saisons) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script src="{{ asset("back-assets/plugins/jquery.pulsate/jquery.pulsate.min.js") }}"></script>
    <script>
        $('.pulsate-regular').pulsate({
            color: '#C43C35', // set the color of the pulse
            reach: 3, // how far the pulse goes in px
            speed: 150, // how long one pulse takes in ms
            pause: 0, // how long the pause between pulses is in ms
            glow: true, // if the glow should be shown too
            repeat: true, // will repeat forever if true, if given a number will repeat for that many times
            onHover: false // if true only pulsate if user hovers over the element
        });
    </script>
{% endblock %}
