{% extends "BackBienEtreBundle:Ref/produit:produit.html.twig" %}
{% block title %}Gestion des tarifs{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackBienEtreBundle:Ref/produit:menu.html.twig' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-4","Prix d'achat",form.prixAchat,true) }}
                            {{ formulaire.input("col-md-4","Prix de vente",form.prixVente,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-4","Date début",form.dateDeb,true) }}
                            {{ formulaire.input("col-md-4","Date Fin",form.dateFin,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-4","Libellé",form.libelle,false) }}
                            {{ formulaire.input("col-md-4","",form.promotion,false) }}
                        </div>
                        {{ formulaire.submit("Enregistrer") }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width table-condensed table-hover"  id="sample_1">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Prix d'achat</th>
                                <th>Prix de vente</th>
                                <th>Promotion</th>
                                <th class="tarif" >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tarif in produit.tarifs %}
                                <tr>
                                    <td>{{ tarif.id }}</td>
                                    <td>{{ tarif.libelle }}</td>
                                    <td>Du {{ tarif.dateDeb|date('d/m/Y') }} au {{ tarif.dateFin|date('d/m/Y') }}</td>
                                    <td>{{ tarif.prixAchat }} DT</td>
                                    <td>{{ tarif.prixVente }} DT</td>
                                    <td>{%if( tarif.promotion ==1)%}
                                            {{ tarif.libelle }}
                                        {% endif %}
                                        </td>
                                    <td class="TableAction">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            {{ macros.tableEdit(path('back_bienetre_ref_produit_tarif',{'id':produit.id,'id2':tarif.id})) }}
                                            {{ macros.tableDelete(path('delete_tarif_produit',{'id':tarif.id})) }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
