{% extends ":Front:base.html.twig" %}
{% block title %}Réservation{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        label small {
            font-size: 10px;
            color: red;
        }
    </style>
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function () {
            $("#single,#double,#triple,#quadruple").on('change', function () {
                var nbrChambre = $(this).val();
                var name = $(this).data('name');
                var block = $(this).parent().parent().parent().next();
                var exist = block.children().length;
                if (exist < nbrChambre) {
                    for (var i = 1; i <= nbrChambre; i++) {
                        if (i > exist) {
                            if (name == 'single')
                                block.append('<div class="row"><div class="col-md-3"><p style="text-align: right;padding-top: 25px;"> Chambre ' + i + ' </p></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_1" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_1" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_1" required class="form-control"><option value=""></option><option value="adulte">+12</option></select></div></div></div></div>');
                            if (name == 'double')
                                block.append('<div><div class="row"><div class="col-md-3"><p style="text-align: right;padding-top: 25px;"> Chambre ' + i + ' </p></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_1" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_1" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_1" required class="form-control"><option value=""></option>{% for i in 2..12 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}<option value="adulte">+12</option></select></div></div></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_2" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_2" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_2" required class="form-control"><option value=""></option>{% for i in 2..12 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}<option value="adulte">+12</option></select></div></div></div></div></div>');
                            if (name == 'triple')
                                block.append('<div><div class="row"><div class="col-md-3"><p style="text-align: right;padding-top: 25px;"> Chambre ' + i + ' </p></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_1" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_1" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_1" required class="form-control"><option value=""></option>{% for i in 2..12 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}<option value="adulte">+12</option></select></div></div></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_2" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_2" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_2" required class="form-control"><option value=""></option>{% for i in 2..12 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}<option value="adulte">+12</option></select></div></div></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_3" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_3" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_3" required class="form-control"><option value=""></option>{% for i in 2..12 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}<option value="adulte">+12</option></select></div></div></div></div></div>');
                            if (name == 'quadruple')
                                block.append('<div><div class="row"><div class="col-md-3"><p style="text-align: right;padding-top: 25px;"> Chambre ' + i + ' </p></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_1" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_1" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_1" required class="form-control"><option value=""></option>{% for i in 2..12 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}<option value="adulte">+12</option></select></div></div></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_2" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_2" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_2" required class="form-control"><option value=""></option>{% for i in 2..12 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}<option value="adulte">+12</option></select></div></div></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_3" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_3" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_3" required class="form-control"><option value=""></option>{% for i in 2..12 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}<option value="adulte">+12</option></select></div></div></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-3"><div class="form-group"><label>Nom & Prénom</label><input type="text" name="' + name + '_nom_' + i + '_4" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><label>Passport</label><input type="text" name="' + name + '_passport_' + i + '_4" required class="form-control" /></div></div><div class="col-md-3"><div class="form-group"><div class="form-group"><label>Age</label><select name="' + name + '_age_' + i + '_4" required class="form-control"><option value=""></option>{% for i in 2..12 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}<option value="adulte">+12</option></select></div></div></div></div></div>');
                        }
                    }
                }
                else {
                    var toRemove = (exist - nbrChambre);
                    var nmbr = block.children().length;
                    for (var i = nmbr; i >= (nmbr - toRemove); i--)
                        block.children().eq(i).remove();
                }
            })
        })
    </script>
{% endblock %}