{% extends ":Front:base.html.twig" %}
{% block body %}
    <div class="gap"></div>
    <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <i class="fa fa-check round box-icon-large box-icon-center box-icon-success mb30"></i>
                <h3 class="text-center">Merci, votre réservation a été effectuée avec succès</h3>
                <h5 class="text-center mb30">Votre numéro de confirmation est <span class="text-success text-bold">{{ reservation.id }}</span></h5>
            </div>
            <div class="col-md-8 detail">
                <ul class="order-payment-list list mb30">
                    <h4><a>Informations réservation</a></h4>
                    <li>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="text-left"><span>Nom Prénom: </span></p>
                            </div>
                            <div class="col-xs-6">
                                <p class="text-right"><span>{{ reservation.coordonnees.0 }}</span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="text-left"><span>Voyage: </span></p>
                            </div>
                            <div class="col-xs-6">
                                <p class="text-right"><span>{{ reservation.voyage|title }}, {{ reservation.voyage.destination|title }}</span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="text-left"><span>Période: </span></p>
                            </div>
                            <div class="col-xs-6">
                                <p class="text-right"><span>Du {{ reservation.pack.periode.depart|date('d/m/Y') }} au {{ reservation.pack.periode.retour|date('d/m/Y') }}</span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="text-left"><span>Pack: </span></p>
                            </div>
                            <div class="col-xs-6">
                                <p class="text-right"><span>{{ reservation.pack|title }}</span></p>
                            </div>
                        </div>
                    </li>
                    <hr>
                    {% for chambre in reservation.chambres %}
                        <h4>Chambre {{ chambre.nomType }}: </h4>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="center">#</th>
                                <th class="center">Nom</th>
                                <th class="center">Passport</th>
                                <th class="center">Age</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for personne in chambre.occupants %}
                                <tr>
                                    <td class="center">{{ loop.index }}</td>
                                    <td class="center">{{ personne.nomPrenom }}</td>
                                    <td class="center">{{ personne.passport }}</td>
                                    <td class="center">
                                        {% if personne.enfant %}{{ personne.age }} ans{% else %}Adulte{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                    <li>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="text-left"><span class="font24 text-success">Total: </span></p>
                            </div>
                            <div class="col-xs-6">
                                <p class="text-right"><span class="font24 text-success">{{ reservation.total }} DT</span></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <div class="booking-item-payment">
                    <header class="clearfix">
                        <a class="booking-item-payment-img" href="#">
                            {% if reservation.voyage.photoPrincipal is not null %}
                                <img src="{{ asset(reservation.voyage.photoPrincipal.assetPath) }}" alt="Image Alternative text" />
                            {% else %}
                                <img src="https://placeholdit.imgix.net/~text?txtsize=10&txt=No%20image%20available&w=75&h=65" alt="" style="width: 75px;height: 65px"/>
                            {% endif %}
                        </a>

                        <h5 class="booking-item-payment-title"><a href="#">{{ reservation.voyage|title }}</a></h5>
                        <span>{{ reservation.voyage.destination }}</span>
                    </header>
                    <ul class="booking-item-payment-details">
                        <li>
                            <h5>Période :</h5>
                            <div class="booking-item-payment-date">
                                <p class="booking-item-payment-date-day">{{ reservation.pack.periode.depart|date('d/m/Y') }}</p>
                            </div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
                            <div class="booking-item-payment-date">
                                <p class="booking-item-payment-date-day">{{ reservation.pack.periode.retour|date('d/m/Y') }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" >Pack: {{ reservation.pack }}</a></h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="collapse-1">
                                        <ul class="order-payment-list list">
                                            <li>
                                                {% for chambre in reservation.chambres %}
                                                    <p class="booking-item-payment-item-title">Chambre {{ chambre.nomType }}:</p>
                                                    <ul class="booking-item-payment-price">
                                                        {% if reservation.supplements|length >0 %}
                                                            <li>
                                                                <p class="booking-item-payment-price-title">Suppléments</p>
                                                                <p class="booking-item-payment-price-amount">
                                                                    {% for supp in reservation.supplements %}
                                                                        - {{ getNameSuppPack(supp) }}<br>
                                                                    {% endfor %}
                                                                </p>
                                                            </li>
                                                        {% endif %}
                                                        {% if reservation.circuits|length >0 %}
                                                            <li>
                                                                <p class="booking-item-payment-price-title">Circuits & excursions</p>
                                                                <p class="booking-item-payment-price-amount">
                                                                    {% for supp in reservation.circuits %}
                                                                        - {{ getNameSuppPack(supp) }}<br>
                                                                    {% endfor %}
                                                                </p>
                                                            </li>
                                                        {% endif %}
                                                        {% if reservation.frais|length >0 %}
                                                            <li>
                                                                <p class="booking-item-payment-price-title">Autres frais divers</p>
                                                                <p class="booking-item-payment-price-amount">
                                                                    {% for supp in reservation.frais %}
                                                                        - {{ getNameSuppPack(supp) }}<br>
                                                                    {% endfor %}
                                                                </p>
                                                            </li>
                                                        {% endif %}
                                                        <li>
                                                            <p class="booking-item-payment-price-title">Total Chambre</p>
                                                            <p class="booking-item-payment-price-amount">{{ chambre.totalLigneVente }} DT</p>
                                                        </li>
                                                    </ul>
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="gap"></div>

{% endblock %}