{% extends ":Back:base.html.twig" %}
{% block title %}Gestion des amicales{% endblock %}
{% block description %}
    {% if amicale.id is null %}Ajouter un amicale{% else %}{{ amicale.libelle }}{% endif %}
{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Gestion des amicales</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        {{ formulaire.input("col-md-3","Libellé",form.libelle,true) }}
                        {{ formulaire.input("col-md-2","Tel",form.tel,true) }}
                        {{ formulaire.input("col-md-2","Fax",form.fax,true) }}
                        {{ formulaire.input("col-md-4","Adresse",form.adresse,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-2","Plafond",form.plafond,true) }}
                    </div>
                    {{ formulaire.submit("Enregistrer") }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="center">Libellé</th>
                                <th class="center">Tel</th>
                                <th class="center">Fax</th>
                                <th class="center">Plafond</th>
                                <th class="center">Montant</th>
                                <th class="center">Convention Courrante</th>
                                <th class="center" >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for amicale in amicales %}
                                <tr class="center">
                                    <td>{{ amicale.libelle}}</td>
                                    <td>{{ amicale.tel}}</td>
                                    <td>{{ amicale.fax}}</td>
                                    <td>{{ amicale.plafond}}</td>
                                    <td>{{ amicale.montant}}</td>
                                    <td>
                                        {% set convention= amicale.getConventionByDate('now'|date('Y-m-d')) %}
                                        {% if convention is null %}
                                            Pas de convention
                                        {% else %}
                                            <a href="{{ path('convention_amicale',{'id':convention.id}) }}" class="tooltips" title="Du {{ convention.dateDebut|date('d/m/Y')~' au '~convention.dateFin|date('d/m/Y') }}"><span class="label label-sm label-inverse">{{ convention.remise }}% ({{ convention.showTypeRemise }})</span></a>
                                       </a>
                                        {% endif %}
                                    </td>
                                    <td class="TableAction">
                                        {{ macros.tableEdit(path('amicale',{'id':amicale.id})) }}
                                        {{ macros.tableDelete(path('delete_amicale',{'id':amicale.id})) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}