{% extends ":Back:base.html.twig" %}
{% block title %}Gestion des personnelles{% endblock %}
{% block description %}
    {% if client.id is null %}Ajouter un personelle{% else %}Modifier un personelle{% endif %}
{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Gestion des personnelles</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackAdministrationBundle:b2b:menu.html.twig' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-2","",form.responsable,false) }}
                            {{ formulaire.input("col-md-2","Nom & Prénom",form.nomPrenom,true) }}
                            {{ formulaire.input("col-md-2","Tel 1",form.tel1,true) }}
                            {{ formulaire.input("col-md-2","Tel 2",form.tel2,false) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-8","Adresse",form.adresse,false) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-2","Matricule Fiscale",form.matriculeFiscale,false) }}
                            {{ formulaire.input("col-md-2","Registre Commercie",form.registreCommercie,false) }}
                            {{ formulaire.input("col-md-4","Commentaire",form.commentaire,false) }}
                        </div>
                        {% if form.user is defined %}
                            <div class="row">
                                {{ formulaire.input("col-md-4","Username",form.user.username,true) }}
                                {{ formulaire.input("col-md-4","Email",form.user.email,true) }}
                            </div>
                            <div class="row">
                                {{ formulaire.input("col-md-4","",form.user.plainPassword,true) }}
                            </div>
                            <div class="no-display">
                                {{ form_widget(form.user.groups) }}
                                {{ form_widget(form.user.Enregistrer) }}
                            </div>
                        {% endif %}
                        {% if client.id is null %}
                            {{ formulaire.submit("Ajouter") }}
                        {% else %}
                            {{ formulaire.submit("Modifier") }}
                        {% endif %}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste
                </div>
                <div class="panel-body">
                    <table class="table table-bordered  table-full-width table-condensed ">
                        <thead>
                            <tr>
                                <th class="center">Profile</th>
                                <th class="center">Nom & Prénom</th>
                                <th class="center">Email</th>
                                <th class="center">Tel 1</th>
                                <th class="center">Tel 2</th>
                                <th class="center">User</th>
                                <th class="center" >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in amicale.clients %}
                                <tr class="center">
                                    <td>{{ client.showProfileAmicale}}</td>
                                    <td>{{ client.nomPrenom}}</td>
                                    <td>
                                        {% if client.user.email is defined %}
                                            {{ client.user.email }}
                                        {% endif %}
                                    </td>
                                    <td>{{ client.tel1}}</td>
                                    <td>{{ client.tel2}}</td>
                                    <td>
                                        {% if  client.user is not null %}
                                            <a target="_blank" href="{{ path('user_client',{'id':client.id}) }}" class="tooltips" title="Cliquez ici pour Modifier son compte" ><span class="label label-sm label-success">Oui</span></a>
                                        {% else %}
                                            <a target="_blank" href="{{ path('user_client',{'id':client.id}) }}" class="tooltips" title="Cliquez ici pour ajouter un compte a ce client" ><span class="label label-sm label-danger">Non</span></a>
                                        {% endif %}
                                    </td>
                                    <td class="TableAction">
                                        {{ macros.tableEdit(path('amicale_client',{'id':amicale.id,'id2':client.id})) }}
                                        {{ macros.tableDelete(path('delete_amicale_client',{'id':client.id})) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}