{% extends ":Back:base.html.twig" %}
{% block title %}Gestion des amicales{% endblock %}
{% block description %}
    Liste des hôtels
{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >{{ amicale }}</a>
    </li>
    <li>
        <a href="javascript:void(0)" >Hotels</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackAdministrationBundle:b2b:menu.html.twig' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-4","Hotels",form.hotels,true) }}
                        </div>
                            {{ formulaire.submit("Enregistrer") }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}