{% extends "BackHotelTunisieBundle:hotels:liste.html.twig" %}
{% block title %}{{ hotel.libelle }}{% endblock %}
{% block description %}Liste des saisons{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="{{ path('modif_hotel',{'id':hotel.id}) }}" >{{ hotel.libelle }}</a>
    </li>
    <li>
        <a href="javascript:void(0)" >Liste des saisons{</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                {% include 'BackHotelTunisieBundle:Hotels:menu_hotel.html.twig' %}
                <h3>Liste des saisons</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover table-full-width table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Libellé</th>
                                    <td>Périodes</td>
                                    <td>Remarques</td>
                                    <th>Date Creation</th>
                                    <th class="center" >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for saison in hotel.saisons %}
                                    <tr>
                                        <td class="center">
                                            {% if saison.type==1 %}
                                                <span class="label label-sm label-purple">Saison</span>
                                            {% elseif saison.type==2 %}
                                                <span class="label label-sm label-info">Promotion</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ saison.libelle }}</td>
                                        <td class="center">
                                            {% for periode in saison.periodes %}
                                                {{ periode.showPeriode|raw }}<br>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if not saison.isValid  %}
                                                <span class="label label-sm label-danger">Saison Invalide</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ saison.created|date('d/m/Y  H:i:s') }}</td>
                                        <td class="TableAction">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                {{ macros.tableEdit(path('PeriodeSaison', {'id':saison.id})) }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
