<ul id="myTab2" class="nav nav-tabs tab-padding tab-space-3">
    <li {% if app.request.get('_route')=='PeriodeSaison' %}class="active"{% endif %}>
        <a href="{{ path('PeriodeSaison', {'id':saison.id}) }}">
            Périodes ({{ saison.periodes|length }})
        </a>
    </li>
    <li {% if app.request.get('_route')=='GeneralSaison' %}class="active"{% endif %}>
        <a href="{{ path('GeneralSaison', {'id':saison.id}) }}">
            Info générale 
        </a>
    </li>
    <li {% if app.request.get('_route')=='OccChambreSaison' %}class="active"{% endif %}>
        <a href="{{ path('OccChambreSaison', {'id':saison.id}) }}">
            Occ. chambres 
        </a>
    </li>
    <li {% if app.request.get('_route')=='ArrangementSaison' %}class="active"{% endif %}>
        <a href="{{ path('ArrangementSaison', {'id':saison.id}) }}">
            Arrangements 
        </a>
    </li>
    <li {% if app.request.get('_route')=='ReductionSaison' %}class="active"{% endif %}>
        <a href="{{ path('ReductionSaison', {'id':saison.id}) }}">
            Réductions
        </a>
    </li>
    <li {% if app.request.get('_route')=='SupplementSaison' %}class="active"{% endif %}>
        <a href="{{ path('SupplementSaison', {'id':saison.id}) }}">
            Supplément
        </a>
    </li>
    <li {% if app.request.get('_route')=='AutreChambreSaison' %}class="active"{% endif %}>
        <a href="{{ path('AutreChambreSaison', {'id':saison.id}) }}">
            Supp. autres chambres
        </a>
    </li>
    <li {% if app.request.get('_route')=='VuesSaison' %}class="active"{% endif %}>
        <a href="{{ path('VuesSaison', {'id':saison.id}) }}">
            Supp. vues
        </a>
    </li>
    <li {% if app.request.get('_route')=='AutreSuppSaison' %}class="active"{% endif %}>
        <a href="{{ path('AutreSuppSaison', {'id':saison.id}) }}">
            Autres supp
        </a>
    </li>
    <li {% if app.request.get('_route')=='AutreReducSaison' %}class="active"{% endif %}>
        <a href="{{ path('AutreReducSaison', {'id':saison.id}) }}">
            Autres réduc
        </a>
    </li>
    {% if hotel.ficheTechnique.tarifWeekend == true%}
        <li {% if app.request.get('_route')=='WeekendSaison' %}class="active"{% endif %}>
            <a href="{{ path('WeekendSaison', {'id':saison.id}) }}">
                Weekend
            </a>
        </li>
    {% endif %}
    <li {% if app.request.get('_route')=='PrixSaison' %}class="active"{% endif %}>
            <a href="{{ path('PrixSaison', {'id':saison.id}) }}" style="background-color: cornsilk;">
            Détails 
        </a>
    </li>
</ul>
