{% extends "BackHotelTunisieBundle:referentiel/regionVille:listeRegion.html.twig" %}
{% block title %}Gestion des régions{% endblock %}
{% block description %}Ajouter une région{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="{{ path('ajout_regions') }}" >Ajouter</a>
    </li>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ path('ajout_regions') }}" method="post" role="form" id="form">
                        {{ form_widget(form._token) }}
                        <div class="row">
                            {{ formulaire.input("col-md-6","Libellé",form.libelle,true) }}
                        </div>
                        {{ formulaire.submit("Ajouter") }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}