{% extends "BackHotelTunisieBundle:referentiel/regionVille:listeVille.html.twig" %}
{% block title %}Gestion des ville{% endblock %}
{% block description %}Ajouter une ville{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="{{ path('ajout_villes') }}" >Ajouter</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ path('ajout_villes') }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                        {{ form_widget(form._token) }}
                        <div class="row">
                            {{ formulaire.input("col-md-3","Libellé",form.libelle,true) }}
                            {{ formulaire.select2("col-md-3","Pays",form.pays,true) }}
                            {{ formulaire.select2("col-md-3","Région",form.region,true) }}
                        </div>
                        {{ formulaire.submit("Ajouter") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}