{% extends "BackHotelTunisieBundle:referentiel/regionVille:listeVille.html.twig" %}
{% block title %}Photo{% endblock %}
{% block description %}Gestion des photos{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Photos</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" {{ form_enctype(form) }}  method="post" role="form" id="form">
                        {{ form_widget(form._token) }}
                        <div class="row">
                            {{ formulaire.input("col-md-3","Photo",form.file,true) }}
                            {{ formulaire.input("col-md-3","Type",form.type,true) }}
                        </div>
                        {{ formulaire.submit("Ajouter") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for image in images %}
            <div class="col-md-2 col-sm-4 gallery-img">
                <div class="wrap-image">
                    <a class="group1 cboxElement" href="{{ asset(image.getAssetPath) }}">
                        <img src="{{ asset(image.getAssetPath) }}" alt="" class="img-responsive">
                    </a>
                    <div class="tools tools-bottom">
                        <a href="{{ path('deletephoto',{'id':image.id}) }}">
                            <i class="clip-close-2"></i>
                            {{ image.showType }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>                  
{% endblock %}