{% extends "BackUserBundle:client:liste.html.twig" %}
{% block title %}Détails client{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)">{{ client }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12 center">
            {% if client.url is not null %}
                <img src="{{ asset(asset(client.getAssetPath)) }}" style="position: absolute" class="img-responsive" width="80px" >
            {% endif %}
            <a href="{{ path('back_crm_client_ajouter',{'id':client.id}) }}" class="btn btn-success center"> Editer </a>
            <a href="{{ path('back_crm_client_delete',{'id':client.id}) }}" class="btn btn-danger center"> Supprimer </a>
            <hr>
        </div>
        <div class="col-md-4">
            <h4>Client N° {{client.id}}</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table  table-full-width table-condensed" >
                        <tbody>
                            <tr><th>Nom & Prénom</th> <td>{{ client.nomPrenom }}</td></tr>
                            <tr><th>Type du tiers</th> <td>{{ client.showTypeClient }}</td></tr>
                            <tr><th>Nom alternatif</th> <td>{{ client.nomAlternatif }}</td></tr>
                            <tr><th>Adresse</th> <td>{{ client.adresse }}</td></tr>
                            <tr><th>Code postal</th> <td>{{ client.codePostal }}</td></tr>
                            <tr><th >Ville</th> <td>{{ client.ville }}</td></tr>
                            <tr><th >Gouvernorat</th> <td>{{ client.gouvernorat }}</td></tr>
                            <tr><th >Pays</th> <td>{{ client.pays }}</td></tr>
                            <tr><th>Tel pro</th> <td>{{ client.tel1 }}</td></tr>
                            <tr><th>Tel perso</th> <td>{{ client.tel2 }}</td></tr>
                            <tr><th>Email</th> <td>{{ client.email }}</td></tr>
                            <tr><th>Site web</th> <td>{{ client.siteWeb }}</td></tr>
                            <tr><th>Code douane</th> <td>{{ client.codeDouane }}</td></tr>
                            <tr><th >Registre commercie</th> <td>{{ client.registreCommercie }}</td></tr>
                            <tr><th >Matricule fiscale</th> <td>{{ client.matriculeFiscale }}</td></tr>
                            <tr><th >Assujetti à la tva</th> <td>{{ client.showTva }}</td></tr>
                            <tr><th>Forme juridique</th> <td>{{ client.showFormeJuridique }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h4>Contacts</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table  table-full-width table-condensed" >
                        <thead>
                            <tr class="center">
                                <th class="center">Date de naissance</th>
                                <th class="center">Fonction</th>
                                <th class="center">Adresse</th>
                                <th class="center">Code postal</th>
                                <th class="center">Ville</th>
                                <th class="center">Gouvernorat</th>
                                <th class="center">Pays</th>
                                <th class="center">Tel Pro</th>
                                <th class="center">Tel Perso</th>
                                <th class="center">Fax</th>
                                <th class="center" >Email</th>
                                <th class="center" ></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contact in client.contacts %}
                                <tr class="center">
                                    <td>{{ contact.dateNaissance|date('d-m-y') }}</td>
                                    <td>{{ contact.fonction }}</td>
                                    <td>{{ contact.adresse }}</td>
                                    <td>{{ contact.codePostal }}</td>
                                    <td>{{ contact.ville }}</td>
                                    <td>{{ contact.gouvernorat }}</td>
                                    <td>{{ contact.pays }}</td>
                                    <td>{{ contact.telPro }}</td>
                                    <td>{{ contact.telPerso }}</td>
                                    <td>{{ contact.fax }}</td>
                                    <td>{{ contact.email }}</td>
                                    <td class="TableAction">
                                        {{ macros.tableEdit(path('back_crm_client_contacts',{'id':contact.id})) }}
                                        {{ macros.tableDelete(path('back_crm_client_contact_delete',{'id':contact.id})) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {#<div class="panel panel-default">
                <div class="panel-body">
                    <table class="table  table-full-width table-condensed" >
                        
                        <tbody>
                            {% for contact in client.contacts %}
                                <tr><th>Date de naissance</th> <td>{{ contact.dateNaissance|date('d-m-y') }}</td></tr>
                                <tr><th>Fonction</th> <td>{{ contact.fonction }}</td></tr>
                                <tr><th>Adresse</th> <td>{{ contact.adresse }}/td></tr>
                                <tr><th>Code postal</th> <td>{{ contact.codePostal }}</td></tr>
                                <tr><th>Ville</th> <td>{{ contact.ville }}</td></tr>
                                <tr><th>Gouvernorat</th> <td>{{ contact.gouvernorat }}</td></tr>
                                <tr><th>Pays</th> <td>{{ contact.pays }}</td></tr>
                                <tr><th>Tel Pro</th> <td>{{ contact.telPro }}</td></tr>
                                <tr><th>Tel Perso</th> <td>{{ contact.telPerso }}</td></tr>
                                <tr><th>Fax</th> <td>{{ contact.fax }}</td></tr>
                                <tr><th>Email</th> <td>{{ contact.email }}</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>#}

        </div>
    </div>
{% endblock %}
