{% extends ":Front:base.html.twig" %}
{% block body %}
    <div id="content_wrapper">
        <div class="container">
            <div class="row clearfix pv-50">
                <div class="col-xs-12 col-sm-12 col-md-12 xs-mb">
                    <div class="white-bg payment-wrapper">
                        <h2 class="section-title center mb-10">
                            <span class="text-success">Merci</span>, votre réservation est complète!</h2>
                        <p class="center mb-40">Votre numéro de confirmation est
                            <span class="text-success text-bold">{{ reservation.id }}<span></span></p>
                        <h3>Informations Personnelle</h3>
                        <div class="bb2 mb-30"></div>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Nom Prénom:</td>
                                <td>{{ reservation.nomPrenom }}</td>
                            </tr>
                            <tr>
                                <td>Cin:</td>
                                <td>{{ reservation.cin }}</td>
                            </tr>
                            <tr>
                                <td>Tel:</td>
                                <td>{{ reservation.tel }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <h3>Maritime</h3>
                        <div class="bb2 mb-30"></div>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Type voyage:</td>
                                <td>{{ reservation.showTypeVoyage }}</td>
                            </tr>
                            <tr>
                                <td>Marque Voiture & matriculation:</td>
                                <td>{{ reservation.marque }}, {{ reservation.matriculation }}</td>
                            </tr>
                            <tr>
                                <td>Passagers:</td>
                                <td>{{ reservation.showPassagers }}</td>
                            </tr>
                            <tr>
                                <td>Type Cabine:</td>
                                <td>{{ reservation.showCabine }}</td>
                            </tr>
                            {% if reservation.commentaire is not null %}
                                <tr>
                                    <td>Commentaire:</td>
                                    <td>{{ reservation.commentaire }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <hr>
                        <h3>Déstination</h3>
                        <div class="bb2 mb-30"></div>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Lieu départ & arrivée:</td>
                                <td>{{ reservation.lieuDepart }} - {{ reservation.lieuArrivee }}</td>
                            </tr>
                            <tr>
                                <td>Date départ:</td>
                                <td>{{ reservation.dateDepart|date('d/m/Y') }}</td>
                            </tr>
                            {% if reservation.commentaire is not null %}
                                <tr>
                                    <td>Commentaire:</td>
                                    <td>{{ reservation.commentaire }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <div class="bb2 mb-30"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
