<li id="details-tab1"  class="active">
    <h1>{{ voyage }} <small>{{ voyage.nbrJour }} jours et {{ voyage.nbrNuit }} nuits</small></h1>
    {% if voyage.periodes(true)|length >0 %}
        <h4>Les périodes : </h4>
        <ul class="check-in-out">
            {% for periode in voyage.periodes(true) %}
                <li style="width: inherit;">
                    <i class="fa-clock-o"></i> <strong>{{ periode|title }}</strong> :  Du <strong>{{ periode.depart|date('d/m/Y') }}</strong> au <strong>{{ periode.retour|date('d/m/Y') }}</strong>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for description in voyage.descriptions if description.visible==true and not description.lateral %}
        <div class="clear mb-20"></div>
        <h4>{{ description.libelle|title }} </h4>
        {{ description.texte|raw }}  
    {% endfor %}
</li>