<li id="details-tab1"  class="active">
    <h1>{{ voyage }} <small>{{ voyage.nbrJour }} jours et {{ voyage.nbrNuit }} nuits</small></h1>
    <ul class="check-in-out">
	<li><i class="fa-map-marker"></i> {{ voyage.destination }}</li>
	<li><i class="fa-clock-o"></i> Date de départ<span>{{ voyage.depart|date('d/m/Y') }}</span></li>
	<li><i class="fa-clock-o"></i> Date de retour<span>{{ voyage.retour|date('d/m/Y') }}</span></li>
    </ul>
    {{ voyage.descriptionLongue|raw }}  

    {% for description in voyage.descriptions if description.visible==true %}
	<div class="clear mb-20"></div>
	<h2>{{ description.libelle|title }} </h2>
	{{ description.texte|raw }}  
    {% endfor %}
</li>