{% extends ":Front:base.html.twig" %}
{% block title %}{{ voyage }}{% endblock %}
{% block body %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ path('accueil') }}">Acceuil</a></li>
            <li><a href="{{ path('front_voyageorganise_liste') }}">Liste Voyages Organisés</a></li>
            <li><a class="active">{{ voyage }}</a></li>
        </ul>
        <div class="booking-item-details">
            <header class="booking-item-header">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="lh1em">{{ voyage }}</h2>
                        <span class="booking-item-address margenull"><i class="fa fa-map-marker"></i> {{ voyage.destination }}</span>
                    </div>
                    <div class="col-md-4">
                            <p class="booking-item-header-price margenull" style="font-size:15px"><small>A partir de</small>
                                <span class="booking-item-price margenull" style="font-size:30px">
                                    {{ voyage.prix|number_format(0) }}
                                </span><sup style="font-size:15px">DT</sup></p>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-8">
                    <div class="tabbable booking-details-tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#details-tab1" data-toggle="tab"><i class="fa fa-camera"></i>Photos</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="details-tab1">
                                {% include 'FrontGeneralBundle:voyageorganise/details:photos.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="gap"></div>
                    {% include 'FrontGeneralBundle:voyageorganise/details:description.html.twig' %}
                </div>
                <div class="col-md-4">
                    <div class="gap gap-small"></div>
                    <div class="gap gap-small"></div>
                    {% include 'FrontGeneralBundle:voyageorganise/details:periodes.html.twig' %}
                    <div class="gap gap-small"></div>
                    {% include 'FrontGeneralBundle:voyageorganise/details:descriptionLateral.html.twig' %}

                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function () {
            $('#back_voyageorganisebundle_reservation_adultes').parent().hide();
            $('#back_voyageorganisebundle_reservation_enfants').parent().hide();
            $('#nbrAdultes').change(function () {
                var nbrAdulte = $(this).val();
                var exist = $('.adultes').children().length;
                if (exist < nbrAdulte)
                {
                    for (var i = 1; i <= nbrAdulte; i++)
                    {
                        var ordre = i - 1;
                        if (i > exist)
                            $('.adultes').append('<div class="row"><div class="col-md-4"><div class="form-group"><label class="control-label">Nom &amp; Prénom <span class="symbol required"></span>    </label>    <input required type="text" id="back_voyageorganisebundle_reservation_adultes_' + ordre + '_nomPrenom" name="back_voyageorganisebundle_reservation[adultes][' + ordre + '][nomPrenom]" required="required" maxlength="255" class="form-control">    </div></div><div class="col-md-4"><div class="form-group"><label class="control-label">Passport <span class="symbol required"></span>    </label>    <input required type="text" id="back_voyageorganisebundle_reservation_adultes_' + ordre + '_passport" name="back_voyageorganisebundle_reservation[adultes][' + ordre + '][passport]" required="required" maxlength="100" class="form-control">    </div></div><div class="col-md-2" style="display:none"><div class="form-group"><label class="control-label">Age <span class="symbol required"></span>    </label>    <select id="back_voyageorganisebundle_reservation_adultes_' + ordre + '_age" name="back_voyageorganisebundle_reservation[adultes][' + ordre + '][age]" class="form-control">{% for i in 0..17 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></div></div></div>');
                    }
                }
                else
                {
                    var toRemove = (exist - nbrAdulte);
                    var nmbr = $('.adultes').children().length;
                    for (var i = nmbr; i >= (nmbr - toRemove); i--)
                        $('.adultes').children().eq(i).remove();
                }
            })
            $('#nbrEnfants').change(function () {
                var nbrAdulte = $(this).val();
                var exist = $('.enfants').children().length;
                if (exist < nbrAdulte)
                {
                    for (var i = 1; i <= nbrAdulte; i++)
                    {
                        var ordre = i - 1;
                        if (i > exist)
                            $('.enfants').append('<div class="row"><div class="col-md-4"><div class="form-group"><label class="control-label">Nom &amp; Prénom <span class="symbol required"></span>    </label>    <input required type="text" id="back_voyageorganisebundle_reservation_enfants_' + ordre + '_nomPrenom" name="back_voyageorganisebundle_reservation[enfants][' + ordre + '][nomPrenom]" required="required" maxlength="255" class="form-control">    </div></div><div class="col-md-4"><div class="form-group"><label class="control-label">Passport <span class="symbol required"></span>    </label>    <input required type="text" id="back_voyageorganisebundle_reservation_enfants_' + ordre + '_passport" name="back_voyageorganisebundle_reservation[enfants][' + ordre + '][passport]" required="required" maxlength="100" class="form-control">    </div></div><div class="col-md-2"><div class="form-group"><label class="control-label">Age <span class="symbol required"></span>    </label>    <select id="back_voyageorganisebundle_reservation_enfants_' + ordre + '_age" required name="back_voyageorganisebundle_reservation[enfants][' + ordre + '][age]" class="form-control">{% for i in 1..17 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></div></div></div>');
                    }
                }
                else
                {
                    var toRemove = (exist - nbrAdulte);
                    var nmbr = $('.enfants').children().length;
                    for (var i = nmbr; i >= (nmbr - toRemove); i--)
                        $('.enfants').children().eq(i).remove();
                }
            })
        })
    </script>
{% endblock %}