{% if voyage.periodes(true) | length > 0 %}
<div class="booking-item-deails-date-location">
    {% for periode in voyage.periodes(true) %}
        <h3>{{ periode }}</h3>
        <span>{{ voyage.nbrJour }} jours / {{ voyage.nbrNuit }} nuits</span><hr>
                <div class="booking-item-flight-details">
                    <div class="booking-item-departure"><i class="fa fa-plane"></i>
                        <p class="booking-item-date">Départ</p>
                        <p class="booking-item-date">
                            {% if voyage.type == 1 %} {{ periode.depart |date('d/m/Y')}}
                            {% else %} Au choix {% endif %}</p>
                    </div>
                    <div class="booking-item-arrival" ><i class="fa fa-plane fa-flip-vertical"></i>
                        <p class="booking-item-date">Retour</p>
                        <p class="booking-item-date">
                            {% if voyage.type == 1 %} {{ periode.retour |date('d/m/Y')}}
                            {% else %} Au choix {% endif %}</p>
                    </div>
                </div>
    <hr>
    <h3 class="text-center">{% if voyage.type == 1 %} Voyage organisé {% else %} Voyage à la carte {% endif %}</h3>
    <hr>
    <ul class="booking-list">
        {% for pack in periode.packs %}
        <li>
            <div class="booking-item booking-item-small">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="{{ path('front_voyageorganise_reservation',{'slug':voyage.slug,'pack':pack.id}) }}">
                            {% if pack.assetPath is not null %}
                                <img src="{{ asset(pack.assetPath) }}" alt="" class="left mr20" alt="" style="width: 96px;height: 61px" />
                            {% else %}
                                <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=No%20image%20available&w=96&h=61" class="left mr20" alt="" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-xs-6">
                        {% for hotel in pack.hotels %}
                            <h5 class="booking-item-title margenull"><a href="#">{{ hotel|title }}</a></h5>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" style="background-color: #F7F7F7">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-1"  style="background-color: #F7F7F7">Tarif Hébergement</a></h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse-1">
                            <ul class="order-payment-list list">

                                <li>
                                    {% for ch in ['single','double','triple','quadruple'] %}
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p class="text-left"><span>

                                                    {% if attribute(pack, ch)  %}
                                                Chambre {{ ch }}{% if not loop.last %}{% endif %}
                                            {% endif %}</span></p>
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="text-right"><span>{% if attribute(pack, ch)  %}
                                                à partir de {{ attribute(pack, ch~'Vente') | number_format(0,'.','') }}<sup>DT</sup>{% if not loop.last %}{% endif %}
                                            {% endif %}</span></p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </li>
                                </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                <a href="{{ path('front_voyageorganise_reservation',{'slug':voyage.slug,'pack':pack.id}) }}" class="btn btn-primary" style="float:right">Réserver</a>
                </div></div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="gap gap-small"></div>
    {% endfor %}
    </div>
{% endif %}
<style type="text/css">
    hr
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

