<li id="details-tab2">
    <h4>Périodes</h4>
    <ul class="detail-item">
        {% for periode in voyage.periodes(true) %}
            <li class="clearfix" style=" padding-left: 20px;">
                <div class="br2">
                    <h3>{{ periode }}</h3> 
                    <span>
                        <i class="fa-clock-o"></i> Du <strong>{{ periode.depart|date('d/m/Y') }}</strong> au <strong>{{ periode.retour|date('d/m/Y') }}</strong>
                        {% if periode.departGarantie %}
                           ( le départ est garantie )
                        {% else  %}
                            ( Reste encore {{ periode.min -(periode.nombreInscription+periode.nombreInscriptionInitiale) }} place(s) pour valider la voyage )
                        {% endif %}
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="detail-meta" style="top: 6px;padding: 0px">
                    <div class="detail-price">
                        <span>A partir de</span>{{ periode.prix }} dt
                    </div>
                    <a href="page-details.html" class="btn">Réservation</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</li>