<li id="details-tab2">
    <div class="availability">
	<div class="availability-inner">
	    {{ form_start(form) }}
	    <div class="col-xs-12 col-sm-12 col-md-12">
		<h3 class="section-title">Information Personnelle <span class="step active">1</span></h3>
		<div class="bb2 mb-20"></div>
		<div style="display: none">
		    {{ formulaire.input("col-md-2","",form.client.responsable,false) }}
		</div>
		<div class="row">
		    {{ formulaire.input("col-md-4","Nom & prénom ",form.client.nomPrenom,true) }}
		    {{ formulaire.input("col-md-4","Tel 1",form.client.tel1,true) }}
		    {{ formulaire.input("col-md-4","Tel 2",form.client.tel2,true) }}
		</div>
		<div class="row">
		    {{ formulaire.input("col-md-12","Adresse",form.client.adresse,true) }}
		</div>
		<div style="display: none">
		    {{ formulaire.input("col-md-4","Matricule Fiscale",form.client.matriculeFiscale,true) }}
		    {{ formulaire.input("col-md-4","Registre Commercie",form.client.registreCommercie,true) }}
		    {{ formulaire.input("col-md-4","Commentaire",form.client.commentaire,true) }}
		</div>
	    </div>
	    <div class="col-xs-12 col-sm-12 col-md-12">
		<h3 class="section-title">Les passagers<span class="step active">2</span></h3>
		<div class="bb2 mb-20"></div>
		<div class="row" style="  margin-bottom: 15px;  margin-top: 15px;">
		    <div class="col-md-4">
			<div class="form-group">
			    <label class="control-label">Nombre d'adultes</label>
			    <select id="nbrAdultes" required class="form-control"><option value="">0</option>{% for i in 1..10 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select>
			</div>
		    </div>
		</div>
		<div class="adultes" id=""></div>
		<div class="row" style="  margin-bottom: 15px;  margin-top: 15px;">
		    <div class="col-md-4">
			<div class="form-group">
			    <label class="control-label">Nombre d'enfants</label>
			    <select id="nbrEnfants" class="form-control">{% for i in 0..10 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select>
			</div>
		    </div>
		</div>
		<div class="enfants"></div>
	    </div>
	    <div class="clear"></div>
	    <div class="col-xs-12 col-sm-12 col-md-12">
		<h3 class="section-title mt-40">Revoir et réserver votre voyage<span class="step active">3</span></h3>
		<div class="bb2 mb-20"></div>
		<div class="styled-checkbox mt-10">
		    <label>
			<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" required value="option1">
			En choisissant de compléter cette réservation Je reconnais que je l'ai lu et accepté les  <a href="#" class="clblue">règles & restrictions</a> <a href="#" class="clblue">termes et conditions</a> , and <a href="#" class="clblue">politique de confidentialité</a>.
		    </label>
		</div>
		<hr>
		<div class="row">
		    <div class="col-md-8"></div>
		    <div class="col-md-4">
			<button class="btn btn-primary btn-block" type="submit">
			    Validation <i class="fa fa-arrow-circle-right"></i>
			</button>
		    </div>
		</div>
	    </div>
	    {{ form_end(form) }}
	</div>
    </div>
</li>